[2021-05-17 11:36] maciejwalkowiak commented on #1350
GraalVM has a set of files where you can specify things like which class should be available for reflection. I am not sure yet how to handle our AOP use case.

[2021-05-17 12:56] JorisBodin opened #1477 "Segfault in libsentry.so with Android 11 at random"
_Platform:_
- [x]  Android -> API 30
- [x]  Kotlin -> 1.5 (but in 1.4 we had the same problem)

_IDE:_
- [x]  Android Studio -> 4.2.x

_Build system:_
- [x]  Gradle -> 6.7.1

_Android Gradle Plugin:_
- [x]  Yes -> 4.2.1

_Sentry Android Gradle Plugin:_
- [x]  No

_Proguard/R8:_
proguardFiles getDefaultProguardFile('proguard-android-optimize.txt'), 'proguard-rules.pro'

_Platform installed with:_
-

[2021-05-17 14:36] marandaneto commented on #1477
@JorisBodin thanks for raising.
what are the devices model/brand that you are experiencing this?

cc @Swatinem

[2021-05-17 14:38] JorisBodin commented on #1477
@marandaneto Google Pixel 5 Android 11 (RQ2A.210505.003)

[2021-05-18 07:25] Swatinem commented on #1477
Seeing this on older versions as well is a good sign that we didn’t regress with any of the latest changes at least. It is also strange as this is failing in std c++ code.

[2021-05-18 07:39] marandaneto commented on #1477
@JorisBodin can you reproduce it every time? is it at App start or randomly during App's lifecycle? when it does, is it because you're capturing an event in C or just using the App normally?

[2021-05-18 08:07] JorisBodin commented on #1477
@marandaneto I've only experienced this myself once on my phone. The app started, I saw the beginning of the interface then the app crashed.
The app was installed from google play

Now we are still getting them from customers, who also had pixel.
So it's possible that it's happening to us in the background too, maybe after installing the app update from google play.

I'm having trouble understandi

[2021-05-18 08:52] marandaneto commented on #1477
@JorisBodin if you are using sentry.io, you can get a shareable link, if on-premise, you can also open the raw JSON, erase PII data and post it here as a log.
I can't reproduce it locally, nothing changed from beta-1 to beta-3 related to the NDK integration.

[2021-05-18 10:19] JorisBodin commented on #1477
@marandaneto No is self host
I just got this crash ndk, is it sentry related or not?
![image](https://user-images.githubusercontent.com/2796439/118634735-29ab3280-b7d3-11eb-98eb-60c060d2c47f.png)

[2021-05-18 10:43] marandaneto commented on #1477
@JorisBodin nothing related to sentry, no

[2021-05-19 07:47] JorisBodin commented on #1477
@marandaneto The application has been published on about 1000 devices and the errors are becoming more and more numerous.
But this is on an android 10. Is it possible that these errors come from other things than sentry?
Because we received these 2 errors at the same time

EML-L29
Model:HUAWEIEML-L29
1:

    OS Version: Android 10 (EML-L29 10.0.0.161(C33E7R1P3))
    Report Version: 104

    Except

[2021-05-19 08:01] marandaneto commented on #1477
@JorisBodin well the 2nd does not look like sentry at all.
that 1st one may be, but it's not symbolicated, so it's hard to say.
maybe @Swatinem has ideas

[2021-05-19 08:34] maciejwalkowiak opened #1482 "Replace `clone()` with copy constructor"
For creating copy of objects we use `clone` method and `Cloneable` interfaces, which means we need to deal with the `CloneNotSupportedExceptions` and keep in mind the "magic" of the clone method. More about this topic in https://www.artima.com/articles/josh-bloch-on-design#part13 (section "Copy Constructor versus Cloning").

We could use instead copy constructors to simplify our code.

[2021-05-19 09:22] Swatinem commented on #1477
I have a hunch that I will follow up on, related to some code in libunwindstack.

[2021-05-21 06:22] marandaneto opened #1484 "Support Sentry BOM"
https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Importing_Dependencies
https://docs.gradle.org/current/userguide/platforms.html#sub:bom_import

[2021-05-21 11:34] ibarisic05 commented on #1477
+1 to this issue, we also experienced crashes immediately on startup with Android 11 on Samsung Galaxy A71
It happened every time app was launched, installation is from Play Store

[code]

[2021-05-21 11:55] Swatinem commented on #1477
[code]

That is indeed very interesting and it looks like a double-free.
I wish we had the frame in between the free. We do have some globals which are being statically initialized, and guarded by mutexes, I wouldn’t know how its possible that one of those is being double-freed, unless one of the static initializers is broken.

[2021-05-26 07:29] maciejwalkowiak opened #1488 "Add option to enable debug mode in Log4j2 integration"
Add option to enable debug mode in Log4j2 integration

[2021-05-26 08:37] #973 closed

[2021-05-26 10:01] marandaneto opened #1489 "Simplify DateUtils with ISO8601Utils"
We use GSON for JSON and GSON ships https://github.com/google/gson/blob/master/gson/src/main/java/com/google/gson/internal/bind/util/ISO8601Utils.java

which is faster and GC friendlier

[2021-05-26 10:44] marandaneto commented on #1105
current commands are:

[code]

[2021-05-26 10:53] marandaneto opened #1490 "Add gpg params for release.kts"
`gpg:sign-and-deploy-file` today pop-ups a macOS dialog to put your password and access the gpg keychain from macOS, ideally, this would read from env. var.

necessary data would probably be:
keyId, password and maybe secretKeyRingFile (aka /Users/user/.gnupg/secring.gpg)

we'd need to try and see which fields should be set:
https://maven.apache.org/plugins/maven-gpg-plugin/sign-and-deploy-file-mo

[2021-05-26 10:53] marandaneto commented on #1063
depends on https://github.com/getsentry/sentry-java/issues/1490

[2021-05-26 13:46] bruno-garcia commented on #1078
This makes sense. We'll discuss this further internally as this ideally would be based on a Sentry health check endpoint (that makes sure your DSN is valid, etc)

[2021-05-27 05:58] tuesda opened #1494 "Invalid timestamp"
_Platform:_
Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
  - compileSdkVersion 29
  - targetSdkVersion 29
  - Build tools "29.0.3"

_IDE:_
- [x]  Android Studio -> If yes, which version?
  - 4.2.1

_Build system:_
- [x]  Gradle -> If yes, which version?
  - 6.8.3

_Android Gradle Plugin:_
- [x]  Yes -> If yes, which version?
  - 4.2.1

_Sentry A

[2021-05-27 07:01] marandaneto commented on #1494
@tuesda isn't because the device was with the wrong date and time or timezone?

[2021-05-27 07:19] #1488 closed

[2021-05-27 08:33] marandaneto commented on #452
403 drops the event

[2021-05-27 08:33] #452 closed

[2021-05-27 08:33] #463 closed

[2021-05-27 08:35] #504 closed

[2021-05-27 08:36] marandaneto commented on #509
@maciejwalkowiak is this still relevant?

[2021-05-27 08:37] marandaneto commented on #463
not sure what's this about, @bruno-garcia reopen it if needed with a desc., thanks

[2021-05-27 08:38] marandaneto commented on #504
grouping rules can be set on SDK or server-side https://docs.sentry.io/platforms/java/data-management/event-grouping/

[2021-05-27 08:39] marandaneto commented on #512
you could create multiple instances of Hub with different DSNs and use it to capture events instead of the Sentry static class

[2021-05-27 08:39] #512 closed

[2021-05-27 08:43] marandaneto commented on #689
theres no limit in the message field anymore, also threads interface are available

[2021-05-27 08:43] #689 closed

[2021-05-27 08:46] marandaneto commented on #789
@bruno-garcia is this still relevant? one could configure sentry using either the options callback or a configuration file eg sentry.properties

[2021-05-27 08:48] marandaneto commented on #1107
@maciejwalkowiak can we use the same concept for kotlin coroutines here?

[2021-05-27 08:54] #1362 closed

[2021-05-27 09:01] marandaneto commented on #1427
MainEventProcessor#mergeUser does it, we just need to extract this and call from multiple places when setting the user

[2021-05-27 09:02] marandaneto commented on #1449
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-05-27 09:02] #1449 closed

[2021-05-27 09:08] marandaneto commented on #1162
when doing this, also please add the breaking change to https://docs.sentry.io/platforms/android/migration/
and support for android in the docs https://docs.sentry.io/platforms/android/configuration/options/

[2021-05-27 09:20] maciejwalkowiak commented on #509
@marandaneto we need to first verify if this is still an issue with new SDK

[2021-05-27 11:47] tuesda commented on #1494
This issue is on customer's device, so I will observe for a while, and close this issue for now.

[2021-05-27 11:47] #1494 closed

[2021-05-27 13:38] marandaneto commented on #1078
we've agreed that that is indeed a use case but we'd not implement this on the SDK side.
you can though call the Sentry APIs manually or via sentry-cli yourself and be sure that everything works.

https://docs.sentry.io/api/events/
https://docs.sentry.io/product/cli/send-event/

[2021-05-27 13:38] #1078 closed

[2021-05-28 09:17] fmartinou commented on #1078
Thanks @marandaneto for your answer.

Unfortunately the solutions you proposed are not very convenient for us :/

1. We cannot embed CLI stuff within our apps (multiple lightweight Docker containers)
2. Calling https://docs.sentry.io/api/events from our apps would require us to distribute authentication tokens with read-only access to the apps (overcomplicated for just healthchecks).
3. Calling ht

[2021-05-28 09:36] marandaneto commented on #1078
@fmartinou yep, that makes sense, but there are some downsides doing it on the SDK level as well.
it'd need to be a blocking call, do we charge for the request? would you call the health check for each event? it could be easily abused etc

[2021-05-28 10:40] marandaneto opened #1497 "Remove or fix IUnknownPropertiesConsumer implementation"
Relates to https://github.com/getsentry/sentry-java/issues/1420 but can be done standalone.
The `IUnknownPropertiesConsumer` implementation today is different than expected, we can either fix it or remove it as the 'unknown' map that this implementation generates is usually dropped during ingestion.

Not all protocol classes accept non-mapped fields, but we implement `IUnknownPropertiesConsumer` f

[2021-05-28 13:53] klemenag commented on #1471
Hi,

I'm trying to implement Sentry as a root logger on JBOSS 7.2.9 (not logging per app)

Is it ok / enough if I :

- add {sentry,sentry-jul)-4.3.0.jar along with appropriate module.xml (do the need any dependency)?
- custom-handler ( module io.setnry, class io.sentry.jul.SentryHandler )
- add this custom handler to root

Is this enough?

It's not really clear to me, what to do with gson and jbos

[2021-05-28 16:41] maciejwalkowiak commented on #1471
@klemenag Sentry depends on Gson, so however you configure it, Sentry must be able to use Gson classes. Regarding `jboss-jsse-api ` - I don't know. We do not have at the moment a guideline on integrating Sentry with JBoss.

[2021-05-31 07:05] #1482 closed

[2021-05-31 07:08] marandaneto opened #1498 "Sentry install steps for JBoss"
https://www.jboss.org/

Relates to https://github.com/getsentry/sentry-java/issues/1471

[2021-05-31 07:09] marandaneto commented on #1471
I've creates this issue https://github.com/getsentry/sentry-java/issues/1498 please upvote it, if we see more demand, we can prioritize it, thanks

[2021-05-31 07:09] #1471 closed

[2021-05-31 11:22] maciejwalkowiak commented on #1498
JBoss support is done through `sentry-jul` package. The challenge is only to configure it properly. I wrote down how to do it: https://gist.github.com/maciejwalkowiak/02fa1eb0089ebc6e0a4687458a204779 which either may go to official docs, or we can add it to https://github.com/getsentry/examples/tree/master/java.

The big difference between our regular integrations and this guide, is that configuri

[2021-05-31 11:24] maciejwalkowiak commented on #1471
@klemenag take a look at https://gist.github.com/maciejwalkowiak/02fa1eb0089ebc6e0a4687458a204779 (in progress)

[2021-05-31 11:35] marandaneto commented on #1498
if we already have support and it's just a matter of docs + sample, I'd say that both would make sense, but the official docs could link to the sample instead of duplicating the content.

maybe it'd also make sense to add to https://github.com/getsentry/sentry-java/tree/main/sentry-samples so we guarantee that the compilation with this setup isn't broken when doing changes, does that make sense or

[2021-05-31 11:42] maciejwalkowiak commented on #1498
There's not much duplicating as the configuration is very different. Also, there are many ways JBoss can be set up, so the configuration is not completely obvious. We cannot verify compilation as checking if it works requires downloading JBoss and configuring it - but thats not a concern as the compilation is verified in the `sentry-jul` module.

Adding it to official docs, probably will require u

[2021-05-31 14:13] #1162 closed

[2021-05-31 15:10] #1473 closed

[2021-05-31 17:05] #1458 closed

[2021-05-31 17:07] #1301 closed

[2021-06-01 05:09] marandaneto commented on #1498
what I meant is, do the basic setup that captureMessage and captureException work via Sentry static or JUL under https://github.com/getsentry/sentry-java/tree/main/sentry-samples and the official docs link to it, it's probably a good start already.

[2021-06-01 06:51] klemenag commented on #1498
Hi,

I'm testing/using on JBOSS 7.2.9, domain mode.

I'l test this ASAP. If any other help is needed, let me know.

But for now :

1.)
From the documentation : '_...See the configuration page for more details on external configuration...._'
--> This gist ( https://gist.github.com/platforms/java/configuration/ ) is 404

2.) Is it possible to set-up DNS through MDC? You (can) have many apps on JBOSS

[2021-06-01 09:07] Swatinem commented on #1477
@ibarisic05 are you using the pre-compiled `libsentry.so` that we distribute? if so, which version? Either way, it would be nice to have access to the exact library that caused your crash above.

[2021-06-01 09:11] maciejwalkowiak commented on #1498
@klemenag

1). the correct link is https://docs.sentry.io/platforms/java/configuration/ (this gist was written as it would be integrated with official docs).

2). Currently there is no way to set up DSN per app in such setup. I am thinking how this could be done - as far as I can see there is no way to initialize Sentry on the application side and at the same time use Sentry configured in JBoss lo

[2021-06-01 09:26] klemenag commented on #1498
@maciejwalkowiak - Thank you for your time/effort/reply.

1.) I see, thanks.

2a.) That (configuring dns per handler) could/should work all-though this requires some development effort at Sentry's end.

2b.) I'm not an expert in Java but, what about MDC? Couldn't we initialize sentry with DSN then override it, per-app, with MDC?

[2021-06-01 09:28] maciejwalkowiak commented on #1498
Sentry DSN is set once when Sentry is initialized, with MDC this means that for each log event the handler would have to lookup the client corresponding to this key. I think this is not a right way to go.

[2021-06-01 09:35] klemenag commented on #1498
Yes, agreed.

Sadly, we are in need of Sentry+JBOSS solution and would accept any solution as long it is working, even if it's temporary and/or a workaround.

Having one sentry dsn for the whole JBOSS server (all of the apps) is...less helpful.

I'll try the gist ASAP.

[2021-06-01 09:37] maciejwalkowiak commented on #1498
You can use Sentry static API when you include Sentry in your application and initialize it there. The puzzle is only how to configure it with JBoss logging susbsystem.

[2021-06-01 09:57] iamkdblue opened #1506 "coroutine support for spring boot !"
_Platform:_
- [ ]  Spring ->Spring boot v 2.5

_IDE:_
- [ ] IntelliJ IDEA 2021.1.1 (Community Edition)
Build #IC-211.7142.45, built on April 30, 2021
Runtime version: 11.0.10+9-b1341.41 x86_64
VM: Dynamic Code Evolution 64-Bit Server VM by JetBrains s.r.o.
macOS 11.3.1
GC: ParNew, ConcurrentMarkSweep
Memory: 990M
Cores: 4
Non-Bundled Plugins: com.intellij.ideolog (201.0.22.0), detekt (1.16.0), com

[2021-06-01 10:02] klemenag commented on #1498
Yes, sound ok except for one thing - uncaught exceptions.

Uncaught exceptions are only logged to root logger, therefore Sentry must be implemented as a JBOSS logging subsystem (root logger). Or am I misunderstanding something?

[2021-06-01 10:06] marandaneto commented on #1506
@iamkdblue thanks for reporting, would you mind to share the code snippet?

[code]

works just fine here

[2021-06-01 10:40] iamkdblue commented on #1506
Thanks @marandaneto ,i restarted my intellij and now getting SentryContext() but not getting logs as expected !

I am testing with this endpoint!

[code]
What i am getting now !
![Screenshot 2021-06-01 at 4 07 41 PM](https://user-images.githubusercontent.com/17172841/120309986-81798b80-c2f3-11eb-8d79-03ab0c1bdd04.png)

It should log as given orders, let me know if I am doing anything wrong!
->Outs

[2021-06-01 11:33] marandaneto commented on #1506
@maciejwalkowiak can you validate that?

If I understood correctly, you need to capture an event inside of `withContext` to log `Inside withContext` and `Sentry breadcrumb2`, if the error happens after the coroutine is over, it won't log anything.

The new context clones the current Scope, which means `withContext` block contains all the data from the previous context but not the other way around

[2021-06-01 11:38] iamkdblue commented on #1506
@marandaneto I updated code snippet, have a look I put error inside withContext, and its not sending logs !

[2021-06-01 11:45] marandaneto commented on #1506
can you just try: `Sentry.captureException(new Exception("This is a test."))` instead of `throw Exception("This is a test.")`?

[2021-06-01 12:02] iamkdblue commented on #1506
Yes,Sentry.captureException(new Exception("This is a test.")) is working as expected !

[2021-06-02 06:14] marandaneto commented on #1506
@iamkdblue I suspect that the Java handler exception somehow captures the event in a different thread instead of the coroutines one, @maciejwalkowiak mind having a look if it's in our end or that's how coroutines operate and we can't do much?

[2021-06-02 07:34] jadbaz commented on #912
Hello,
Just checking up if this is on the roadmap at some point

[2021-06-02 11:17] guozhaocai90 opened #1507 "unable to access 'https://chromium.googlesource.com/linux-syscall-support/': Failed to connect to chromium.googlesource.com port 443”"
_Platform:_
- [ ]  Android -> API 30
- [ ]  Java -> jdk1.8?

_IDE:_
- [ ]   Android Studio -> 4.2.x

_Build system:_
- [ ] Gradle -> 6.7.1

_Android Gradle Plugin:_
- [ ]   4.2.1

_Sentry Android Gradle Plugin:_
- [ ]  No

_Proguard/R8:_
- [ ]  Enabled
- [ ]  Disabled

_Platform installed with:_
- [ ]JCenter

The version of the SDK:
4.3.0
5.0.0-Beta1
5.0.0-Beta2

---
I have the following issue:

T

[2021-06-02 11:19] marandaneto commented on #1507
@guozhaocai90  not sure I follow, how do you get this error, what are you trying to do? it does not seem to be any related to Sentry
Elaborate, please

[2021-06-02 12:49] maciejwalkowiak commented on #1498
I've done several tests and unfortunately I did not find an elegant solution. At this stage my conclusion is:

- there can be only single `SentryHandler` registered in in JBoss logging configuration - meaning single DSN applies to all applications
- to use per-application Sentry configuration, Sentry must be configured on the application level - and `Sentry.captureException` must be called for sen

[2021-06-02 12:50] marandaneto opened #1508 "NDK events and minidumps should be sent within the same envelope"
Source https://github.com/getsentry/sentry-java/pull/1256#discussion_r576825608

[2021-06-02 12:50] marandaneto commented on #1508
this is a blocker for breakpad support

[2021-06-03 02:47] bruno-garcia commented on #1507
This is related to a change in the remote URL from a submodule dependency of sentry-native.
@Swatinem has details

[2021-06-03 03:43] guozhaocai90 commented on #1507
thank you for your answer:
you mean the remote URL  from a submodule dependency of sentry-native has be changed ? i  have download Swatinem  sentry-contrib-native-master code ,But can't find the right URL, and i replace the module sentyr-native code by sentry-contrib-native-master's, i run the sentry-java application, it reported  the error all the same.

[2021-06-03 11:04] angusholder opened #1510 "Undocumented breaking change to EventProcessor in Sentry 5.0"
As of 5.0, the EventProcessor interface has two methods, so it can no longer be created using a lambda, like

    opts.addEventProcessor { event: SentryEvent, hint ->
        event.setTag("foo", "bar")
        event
    }

Easy enough to fix, but probably worth mentioning in the release notes and migration guide?

[2021-06-03 20:52] talios commented on #1510
I noticed `io.sentry.exception.InvalidDsnException` also no longer exists, was easy enough to work around in our bootstrap ( just remove the throws ), but also not documented anywhere I saw.

[2021-06-04 15:02] bruno-garcia opened #1511 "Add `sentry-native` debug files to GH artifact"
When building `sentry-android-ndk` we compile [`sentry-native`](https://github.com/getsentry/sentry-native) which get bundled in the final `aar`.

Before we publish this `aar` to maven central, we need to use [Symbol Collector CLI](https://github.com/getsentry/symbol-collector) to upload the symbols to Sentry.

[2021-06-06 12:57] ahmadshabib opened #1512 "Support of gRPC for performance monitoring"
Hey guys,
Afaik the current support of the performance monitoring and transaction is applicable to spring, spring-boot, and servlet.
To give better support to performance monitoring of microservices that only expose RPC endpoints it would be nice to do it out of the box for such applications.
Is it part of any future plan, What do you guys think?

[2021-06-07 07:42] marandaneto commented on #1512
@ahmadshabib thanks for raising this.
so far we've no plans to add an integration for it but it does make sense, let's keep it open and see if people upvote it, we could prioritize if enough people ask for the same integration.
for now, you can use the custom instrumentation, where you start and finish your own transactions/spans manually.

[2021-06-07 07:56] marandaneto commented on #1510
indeed, thanks for raising it, those breaking changes were hidden in the changelog and I could not spot them when writing the breaking changes.
`EventProcessor` has a new default method, so it should not break the implementation of the interface but if using the trailing lambda, it'd be a problem.

[2021-06-07 07:59] jennmueng opened #1513 "Millis timestamp format used by JS on hybrid SDKs causes logs to be flooded"
As the JavaScript SDK uses unix timestamp in the format of seconds with millis as decimals on events, envelopes passed through the Android SDK log the error:
[code]
This is logged for every timestamp in the event, including breadcrumbs, so when a given event is sent tens if not hundreds of these logs show up in logcat, flooding the feed:

<img width="1071" alt="Screen Shot 2021-06-07 at 2 57 00 PM

[2021-06-07 08:48] rkraneis opened #1514 "Source and Javadoc artifact are mixed up since SDK 5.0.0"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [X]  Java -> 1.8
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version?
- [X]  Log4j2 -> 2.13
- [ ]  Logback -> If yes, which version?
- [ ]

[2021-06-07 08:51] marandaneto commented on #1514
@rkraneis thanks for raising this, let me check that.

[2021-06-07 09:11] marandaneto commented on #1514
indeed, it's a bug in the release script but I already have prepared a fix.

[2021-06-07 09:12] rkraneis commented on #1514
Thank you for the quick reaction.

[2021-06-07 09:59] marandaneto commented on #1514
https://github.com/getsentry/sentry-java/releases/tag/5.0.1

[2021-06-07 09:59] #1514 closed

[2021-06-07 11:02] xmanu opened #1517 "No way to remove attachments"
While attaching files to events I found out that there is no way to remove attached files. The only way is to completely clear the scope which is not feasible without losing a lot of information.

Would it be possible to add a `clearAttachments()` method in `Scope` analogously to the `clearBreadcrumbs()` method?

Currently I have to resort to reflection to manually clear the `attachments` CopyOnWr

[2021-06-07 11:09] marandaneto commented on #1517
@xmanu indeed, thanks for raising this, we'll discuss it internally and will keep you posted.
cc @philipphofmann and @bruno-garcia

[2021-06-07 12:11] ahmadshabib commented on #1512
@marandaneto thanks for your response.
I can work on an MVP for gRPC only as integration till we reach the point of full integration of other implementation of RPC, what do you think?

[2021-06-07 12:26] marandaneto commented on #1512
@ahmadshabib nice, you could do an MVP and share as a GH Gist initially maybe? would it be on top of which gRPC impl.? maybe https://github.com/grpc/grpc-java
you could see how its done on OkHttp https://github.com/getsentry/sentry-java/blob/main/sentry-android-okhttp/src/main/java/io/sentry/android/okhttp/SentryOkHttpInterceptor.kt which should not be that different

[2021-06-07 12:27] marandaneto commented on #1512
it's likely possible with `io.grpc.ClientInterceptors`

[2021-06-07 12:55] shahbaz-payu opened #1519 "Manual Proguard Support to deobfuscate Sentry Stacktrace."
_Platform:_
- [ ]  Android

_IDE:_
- [ ]  Android Studio -> If yes, which version? 4.1.2

_Build system:_
- [ ]  Gradle -> If yes, which version? 4.1.3
_Android Gradle Plugin:_

_Sentry Android Gradle Plugin:_
- [ ] Sentry Url: https://sentry.payu.in/api/32/store/

_Proguard/R8:_
- [ ]  Enabled

The version of the SDK:
Using API  based solution
API Url: https://sentry.payu.in/api/32/store/

---
I

[2021-06-07 14:01] maciejwalkowiak commented on #1506
@iamkdblue context created in child coroutine is not propagated back to the original coroutine. This is by design and I don't think there is anything we can do about it. MDC in [Slf4j integration](https://github.com/Kotlin/kotlinx.coroutines/tree/master/integration/kotlinx-coroutines-slf4j) works exactly the same:

Running:
[code]

Gives output:

[code]

[2021-06-07 14:14] philipphofmann commented on #1517
Thanks for opening up this issue. I think adding `clearAttachments` would make sense to me.

[2021-06-07 14:17] marandaneto commented on #1519
Hi, to get deobfuscated stack traces, you have to integrate the Sentry Gradle plugin https://docs.sentry.io/platforms/android/proguard/
this would work for the final App's and not libraries/SDKs since the mapping file would change when the final App compiles, See this issue https://github.com/getsentry/sentry-android-gradle-plugin/issues/3
also, it'd also require https://github.com/getsentry/sentr

[2021-06-07 14:17] #1519 closed

[2021-06-07 14:18] xmanu commented on #1517
Thanks for getting back to me so quickly! Should I create a PR? It should only be a few lines, but I don't know your processes for PRs (testing etc) yet...

[2021-06-07 14:22] marandaneto commented on #1506
@maciejwalkowiak if you remove the try/catch, and run the code with the `SentryContext` instead, does the `throw Exception` get reported by Sentry uncaught exception handler with the correct values? I just want to be sure that this is correct.

[2021-06-07 14:27] marandaneto commented on #1517
@xmanu hold on while we discuss with the broader team, this would likely be a new added API across all the SDKs, so we need to be sure that its all aligned & discussed.
for reference: https://develop.sentry.dev/sdk/unified-api/

[2021-06-07 14:32] xmanu commented on #1517
Sure! 👍

[2021-06-07 14:50] philipphofmann commented on #1517
To help us understand your needs, @xmanu, can you please describe your use case why you need to remove attachments?

[2021-06-07 15:02] xmanu commented on #1517
I have rolling logs in my Android app with the naming pattern log.1.txt, log.2.txt etc... Only the 2 latest ones are kept. I now use the `beforeSend` callback to attach these logfiles to the reports. When multiple events now trigger the `beforeSend` callback, I get multiple copies of the same files in the attachments list.
I know that there is the local version `withScope` instead of `configureSco

[2021-06-07 21:30] alexmetcalfe commented on #1362
Hey @maciejwalkowiak I noticed that the SentryOkHttpInterceptor will still log the full URL as a breadcrumb. Would it be possible to allow this to be configurable as well?

[2021-06-07 21:58] #1510 closed

[2021-06-08 06:31] marandaneto commented on #1517
I see, wondering if it makes sense to add a boolean param to the addAttachment method, that would pretty much remove itself from the list when it's sent, so you basically add an attachment for being sent only once, default is sending on every following event.

[2021-06-08 06:44] marandaneto commented on #1362
@alexmetcalfe for that you can use the https://docs.sentry.io/platforms/android/configuration/options/#before-breadcrumb callback.

[2021-06-08 09:14] maciejwalkowiak commented on #1506
With Spring MVC it does have correct values, but coroutines are used usually with Spring Webflux for which we do not have yet the uncaught exception handler.

[2021-06-08 09:32] xmanu commented on #1517
That would also be a valid solution, but it seems weird to me design wise... Attaching for a single event is already possible using `withScope` instead of `configureScope`... This would result in having this functionality twice (even though your proposed solution is more powerful and would cover my use-case whereas `withScope` does not).

I would greatly prefer a way to manipulate the global scope

[2021-06-08 09:33] marandaneto commented on #1506
ok sounds like this is going to be tracked on #640 then, hence we can close this as the coroutines integration works as intended.

[2021-06-08 09:33] #1506 closed

[2021-06-08 12:00] wzieba commented on #1374
👋 @marandaneto I'm working currently on a `FragmentLifecycleIntegration` POC but I have a problem with how it should be registered.

My concern is that `SentryAndroid#init` initializes `Sentry SDK` with passed options, [including all default `Integration` objects](https://github.com/getsentry/sentry-java/blob/75a87428fee926621ac397a6ffdeff2499caea8e/sentry-android-core/src/main/java/io/sentry/andr

[2021-06-08 13:12] marandaneto commented on #1374
@wzieba hey, thanks for your feedback.

`Integrations` and `EventProcessor` can't be added at runtime if not using the passed options.

A way to see this is using the `ActivityLifecycleIntegration` and calling `activity.getFragmentManager()` in the lifecycle methods, but this method is deprecated so likely not fine using it as most of the people already migrated to `androidx.fragment`.

Maybe inst

[2021-06-09 07:12] marandaneto commented on #1374
the other option is just to offer the `SentryFragmentLifecycleCallbacks` as people hook up in the `registerFragmentLifecycleCallbacks` themselves, not ideal, yes, but it works.
The OkHttp interceptor is like this https://github.com/getsentry/sentry-java/blob/main/sentry-android-okhttp/src/main/java/io/sentry/android/okhttp/SentryOkHttpInterceptor.kt people have to add themselves.

A more risky one

[2021-06-09 07:12] shahbaz-payu commented on #1519
@marandaneto
Thanks, but we have some different scenario.
I already uploaded the proguard mapping.txt file to the **Sentry dashboard through sentry-cli.**
Also added mapping file uuid to the Sentry request, "debug_meta":{"images":[{"type":"proguard","uuid":"a33e3627-f443-5879-ad16-280734d221ea"}]} **Attached the complete JSON of the event.**
[sentry_json_mapping.txt](https://github.com/getsentry/s

[2021-06-09 07:22] marandaneto commented on #1519
@shahbaz-payu as its written in the linked issues, when using in libraries, the mapping file is overwritten when compiled by the final App, nothing we can do, tell your customers to report the issues for you, they should upload the mapping file to their sentry server or sentry.io.
you use sentry onpremise, I can't log in and check things.
maybe update your sentry instance to use the latest version

[2021-06-09 07:28] VladyslavKasprov commented on #1374
Having an option to manually hook up the listener would be good enough. Its fine since most applications these days have very few activities. And even if you have many it's not a big deal.

[2021-06-09 07:58] yangcheng commented on #909
I have the same issue. just need call to set tag.

[2021-06-09 14:00] bruno-garcia commented on #1513
If parsing fails on all cases. Please log an error message.

[2021-06-09 14:35] #187 closed

[2021-06-09 14:43] bruno-garcia commented on #1266
We discussed this on a call and it's expected that Sentry will show the Exception stacktrace when that's available, even if all threads' stacktrace are also included in the event. For as long as the thread_id is present on both sides, Sentry should prioritize the stacktrace from the Exception interface instead.

~Sounds like this could be a bug in Sentry's event detail page, thread selector.~

Sou

[2021-06-09 14:43] #1266 closed

[2021-06-09 14:48] bruno-garcia commented on #1442
Checking if it's verified:
![image](https://user-images.githubusercontent.com/1633368/121377275-345b7200-c910-11eb-9d99-7ded82b5a9bd.png)

[2021-06-10 03:37] #1507 closed

[2021-06-10 03:52] guozhaocai90 opened #1521 "can't execute the command "../../gradlew appRun" on the moudle sentry-samples-spring"
I want to test the sentty in the Spring environment,when i execute the command "../../gradlew appRun" on the moudle sentry-samples-spring,An error occurred ,
* What went wrong:
Task 'appRun' not found in project ':sentry-samples:sentry-samples-spring',Whether I need to configure this command.
someone can help me please.

[2021-06-10 03:56] caseyduquettesc commented on #1512
Here's a highly opinionated interceptor implementation. I figure someone can use it as a starting point to unblock themselves.

https://gist.github.com/caseyduquettesc/a7a8733d048af455a36f6536654d4d2c

[2021-06-10 06:42] marandaneto commented on #1507
@guozhaocai90 what was the solution to keep it registered?

[2021-06-10 06:45] marandaneto commented on #1521
@guozhaocai90 can confirm, thanks for reporting.

@maciejwalkowiak can you check this one and other samples if the command in readme is up to date? thanks

[2021-06-10 16:06] bruno-garcia opened #1523 "Support transaction finishing automatically with 'idle timeout'"
The goal is to have a mode for finishing transactions automatically once no new spans are added to it for N milliseconds, or a general timeout.

We need to define the spec in the develop.sentry.dev docs and align with other implementations of it. This is an approach used by the JS on the browser (and React Native).

Note On Android: we introduced an opt-out for the auto activity transaction from c

[2021-06-10 18:15] philipphofmann commented on #1523
Do we also need this on Cocoa? We currently have there a different approach with waiting for all spans to finish.

[2021-06-10 19:34] bruno-garcia commented on #1523
@philipphofmann I was just talking about this with @maciejwalkowiak and this other approach came up. Possibly we could have two modes? I'm unsure yet how the 'finish transaction when all spans end' mode will work. For example:

What happens when:
* No span is created from the transaction?
* A span never finishes (i.e: it became a worker thread that doesn't end)

Sounds like we need to discuss this

[2021-06-10 21:28] AbhiPrasad commented on #1523
Figured I'd give some context here for those interested:

JS Browser implementation: https://github.com/getsentry/sentry-javascript/blob/master/packages/tracing/src/idletransaction.ts

An `IdleTransaction` keeps track child spans through the concept of activities. Activities are typed as `Set<span_id>`, where an activity is added when a child span is started, and removed when a child span is finis

[2021-06-11 07:34] marandaneto opened #1524 "Support SentryCoroutineExceptionHandler﻿"
As we have a `sentry-kotlin-extensions` module right now and `SentryContext` for Coroutines, it'd be a nice addition offering a `SentryCoroutineExceptionHandler﻿`, https://kotlinlang.org/docs/exception-handling.html#coroutineexceptionhandler
so people can use it and when it throws, it captures an event automatically, how does that sound?
Similar to our `UncaughtExceptionHandlerIntegration`

[2021-06-11 07:37] marandaneto commented on #1524
[code]

[2021-06-11 07:41] marandaneto commented on #1524
examples can be found on https://github.com/Kotlin/kotlinx.coroutines/tree/master/kotlinx-coroutines-core/jvm/test/guide
example-exceptions-{number}-kt files

[2021-06-11 07:56] marandaneto commented on #1524
works like a try/catch, if no `CoroutineExceptionHandler﻿` is given, `UncaughtExceptionHandlerIntegration` gets called and crashes the App, but if a `CoroutineExceptionHandler﻿` is given, it gets caught and swallowed, so its a bit less boilerplate than a try/catch but works the same way

[2021-06-11 08:02] marandaneto opened #1525 "SentryExceptionResolver mechanism should have a `type`"
[code]

a tag is created automatically from the mechanism type and it helps to filter events by mechanism type.
let's add a type to `SentryExceptionResolver` mechanism.

https://develop.sentry.dev/sdk/event-payloads/exception/#exception-mechanism

eg `HandlerExceptionResolver`

[2021-06-11 08:03] marandaneto commented on #1525
cc @maciejwalkowiak

[2021-06-11 08:05] marandaneto commented on #1524
one thing to note is:

so we cannot use the current thread when creating a `ExceptionMechanismException`

[2021-06-11 08:32] marandaneto commented on #1524
[code]

[code]

<img width="1011" alt="Screenshot 2021-06-11 at 10 31 16" src="https://user-images.githubusercontent.com/5731772/121656873-36543b00-caa0-11eb-827f-87cf6656d6c1.png">

[2021-06-11 08:57] marandaneto opened #1526 "Better Java compatibility for `SentryOkHttpInterceptor`"
Today this is not possible:

`SentryOkHttpInterceptor interceptor = new SentryOkHttpInterceptor(HubAdapter.getInstance());`

only if passing also a `BeforeSpanCallback`, the suggestion is adding another ctor.

`constructor(hub: IHub) : this(hub, null)`

[2021-06-11 10:48] #1374 closed

[2021-06-14 06:27] marandaneto opened #1530 "Rename `shutdownTimeout` to `shutdownTimeoutMillis`"
the reason is to align with other properties like `flushTimeoutMillis`, `sessionTrackingIntervalMillis`, `connectionTimeoutMillis` and `readTimeoutMillis`

we'd need to fix docs too

[2021-06-14 07:21] maciejwalkowiak commented on #1521
Gretty - the plugin that adds tasks to run Tomcat or Jetty with Spring sample project - is not compatible yet with Gradle 7.0. Right now the only way to run the sample is to build a war file and deploy to Tomcat or any other application server.

[2021-06-14 07:27] marandaneto commented on #1521
apparently is fixed https://github.com/gretty-gradle-plugin/gretty/issues/206 but not released yet, only as a snapshot, so either we add their https://jitpack.io/#gretty-gradle-plugin/gretty/gretty-3.x-SNAPSHOT repository or wait for a release.

[2021-06-14 08:00] maciejwalkowiak commented on #1521
I tried and did not manage to make our Gradle config pick up a plugin from Jitpack. I guess its not that high priority that we cannot wait for a release.

[2021-06-15 01:42] bruno-garcia commented on #1530
I propose we add the new one and annotate the other as obsolete. And on 6.0.0 we can drop it (ideally many months ahead to give folks time to move over due to the warning instead of a compilation problem which is harder to 'get'/requires reading migration or guess the alternative API).

[2021-06-15 07:37] marandaneto opened #1532 "Align ignoredExceptionsForType naming on Java and .NET"
On Java, its `addIgnoredExceptionForType(x)`
on .NET `AddExceptionFilterForType(x)`

https://docs.sentry.io/platforms/dotnet/usage/#ignoring-errors

[2021-06-15 07:45] marandaneto commented on #1530
before going ahead with the renaming, I'd like to discuss https://github.com/getsentry/sentry-dart/issues/497 too

[2021-06-15 11:24] marandaneto opened #1533 "DuplicateEventDetectionEventProcessor#capturedObjects could be a thread safe list of WeakReference"
[code]

looks like we never use the value, but only the key, does it need to be a `Map` then?

[2021-06-15 11:24] marandaneto commented on #1533
cc @bruno-garcia and @maciejwalkowiak

[2021-06-15 12:47] marandaneto commented on #1533
maybe it's a Map because we're trying to make the lookup more efficient?

[2021-06-15 13:17] klemenag commented on #1498
Hi,

I have tested the integration on JBOSS level and it's working as expected.

Let me clarify ; I have previous experience with php, ruby, .... where implementing sentry is really simple and it works (perfectly). But yes, concepts there are not the same as with EAP Java.

What I would like or/and I'm trying to achieve is a functionality of some sort where programmer wouldn't need to predict ever

[2021-06-15 15:05] bruno-garcia commented on #1497
Is there a way to do this with the current reflection-based serialization approach? We've been reconsidering vendoring the handful Gson classes needed to do 'manual' serialization/deserialization and drop the Gson dependency. While doing so we could address this issue by keeping unknown json keys into a `Map<>` and serializing back into the JSON when a round-trip serialization happens.

It will ho

[2021-06-16 03:44] nwadams commented on #1420
Yeah. That would solve the issue for us completely since no large external libraries would be used that have duplicate functionality

[2021-06-16 06:09] maciejwalkowiak commented on #1498
@klemenag

How about registering `ExceptionMapper<Throwable>` or `ExceptionMapper<Exception>`? Wouldn't it catch all the unhandled cases including 1/0 without a need to declare mapper for each exception type?

[2021-06-16 07:17] marandaneto commented on #1497
I believe it's possible to fix with the current implementation, yes, it'd require adapters for every single protocol class probably.
I'd focus on https://github.com/getsentry/sentry-java/issues/1420 and fix this issue while doing it, which is win-win, no reflection, no gson, and doing it by hand is easy to survive unknown fields during round trip.

[2021-06-16 12:36] marandaneto commented on #1523
with the `waitForChildren` feat, `io.sentry.traces.activity.auto-finish.enable` will likely get deprecated, I don't see a reason why having it anymore.

[2021-06-16 12:57] marandaneto commented on #1523
Draft PR for fragment performance https://github.com/getsentry/sentry-java/pull/1528 using the `waitForChildren` feat

[2021-06-16 13:10] marandaneto opened #1536 "Remove @Deprecated and @ApiStatus.ScheduledForRemoval fields"
breaking change 6.0.0
do migration docs

[2021-06-16 14:01] bruno-garcia commented on #1077
Makes sense to me. Ideally without the options or at least consider that if there's a default handler before we hook, the options won't take effect so it could be misleading

[2021-06-16 14:09] bruno-garcia opened #1537 "Vendor JsonWriter/Reader and drop Gson dependency"
We decided to drop the Gson dependency and write JSON explictly via JsonReader and JsonWriter.

This will address: #1489 #1497 #1420

- [ ] Timestamps should be encoded as double to get higher preicison than the current format (only up to milliseconds) (See https://github.com/getsentry/sentry-java/issues/1541)

[2021-06-17 07:23] marandaneto opened #1538 "SentrySpan does not have a `data` field"
https://develop.sentry.dev/sdk/event-payloads/span/

[code]

during ser/deser, we're losing the `data` field

[2021-06-17 07:25] marandaneto opened #1539 "should we serialize `debug_meta` for transactions?"
RN transaction comes with:

[code]

during ser/deser, we're losing the debug_meta field

[2021-06-17 07:28] marandaneto opened #1540 "does the `contexts.trace` have a `data` field?"
RN transaction contains:

[code]

this section does not say much https://develop.sentry.dev/sdk/event-payloads/transaction/#contextstrace so I am not sure rather we should have it or not

[2021-06-17 07:29] maciejwalkowiak commented on #1538
There's just no `data` field on `SentrySpan`. What should be the type? `Map<String, String>` or `Map<String, Object>`? Does the backend handle any JSON passed in `data`?

[2021-06-17 07:40] marandaneto opened #1541 "Clock drift issue when calling DateUtils#getDateTimeWithMillisPrecision"
if using `1623849812.985` works correctly, when using `1623849812.985594` with higher precision in millis, there's an issue when `(seconds * 1000) + millis`.
I don't recall RN SDK sending more than millis precision, so I'm not sure if we should fix the Android SDK or the RN SDK.

A simple workaround would be to cut off after 3 digits or make the right calculation

[2021-06-17 07:41] marandaneto commented on #1541
@jennmueng has it changed on RN side?

[2021-06-17 07:42] marandaneto commented on #1540
@rhcarvalho do you know the answer by any chance?

[2021-06-17 07:42] marandaneto commented on #1539
@rhcarvalho do you know the answer by any chance?

[2021-06-17 07:53] marandaneto commented on #1533
we could use a https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/ref/ReferenceQueue.html or https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/ref/WeakReference.html

[2021-06-17 08:23] jennmueng commented on #1540
`contexts.trace` is serialized here on the JS SDK:
https://github.com/getsentry/sentry-javascript/blob/9af1886e7ee6ca7be3f12050b044c73725783575/packages/tracing/src/transaction.ts#L119-L130

`getTraceContext()` is the same as a span's, so `context.trace.data` is the same as `span.data`

[2021-06-17 08:24] jennmueng commented on #1539
`debug_meta` is added [here by the JS SDK](https://github.com/getsentry/sentry-javascript/blob/9af1886e7ee6ca7be3f12050b044c73725783575/packages/tracing/src/transaction.ts#L129), and is the type [TransactionMetadata](https://github.com/getsentry/sentry-javascript/blob/9af1886e7ee6ca7be3f12050b044c73725783575/packages/types/src/transaction.ts#L127-L135)

[2021-06-17 08:57] marandaneto commented on #1541
https://github.com/getsentry/sentry-java/blob/e1a7226bead691b2a824332f3d3a0930e68e33cc/sentry/src/main/java/io/sentry/DateUtils.java#L79-L97

[2021-06-17 09:52] marandaneto commented on #1540
Similar to https://github.com/getsentry/sentry-java/issues/1233

it does not look like `context.trace.data` should be there, there's no public API to add data to the tracer but rather to the span only.
so if you have multiple spans, which span.data goes into the trace.data?

[2021-06-17 09:54] marandaneto commented on #1538
looks like similar to https://github.com/getsentry/sentry-java/issues/1233
maybe we don't expose a public API to add such data, but lets be sure that it survives a round trip ser/deser.
based on the sample, looks like `Map<String, Object>`, because there are String and Int:

[code]

[2021-06-17 09:56] marandaneto commented on #1540
cc @maciejwalkowiak @bruno-garcia opinions?

[2021-06-17 10:20] maciejwalkowiak commented on #1538
Can be done, but if we want it to survive serialization, why not adding it to public API?

[2021-06-17 11:47] marandaneto commented on #1538
the reason is the same as before, https://github.com/getsentry/sentry-java/issues/1233 if we expose `setData(x)` to `ISpan`, it leaks to `ITransaction` but `ITransaction` does not have a `data` field.
this should be solved with composition over inheritance probably, but it'd require a bigger refactoring and breaking changes, most probably.

[2021-06-17 12:12] jennmueng commented on #1540
It would just be the transaction's own data right, as `Transaction extends Span`?

[2021-06-17 12:20] marandaneto commented on #1540
the `Trace` object that goes under the `Contexts` is not a `Transaction` nor a `Span` afaik.

[2021-06-17 12:58] marandaneto opened #1542 "Investigate Performance for Jetpack Navigation and Compose"
https://developer.android.com/guide/navigation/

[2021-06-17 13:03] jennmueng commented on #1540
@marandaneto AFAIK on JS that's actually the case, that the `context.trace` comes from a `Span`: https://github.com/getsentry/sentry-javascript/blob/a6f8dc26a4c7ae2146ae64995a2018c8578896a6/packages/types/src/span.ts#L162-L171

[2021-06-17 16:38] worthc21 opened #1543 "Spring Boot fails to start with BeanCreationException on SentryAutoConfiguration$HubConfiguration$SentryWebMvcConfiguration.class"
_Platform:_
- [X]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
JDK 1.8
- [X]  Spring -> If yes, which version?
Spring Boot 2.5.1

_Build system:_
- [X]  Maven -> If yes, which version?
Maven 3.8.1

Relevant Maven config -
[code]

_Platform installed with:_
- [X] Maven Central

The version of the SDK:
**5.0.1**

---
During startup, Spring boot fails with the fo

[2021-06-17 21:22] worthc21 commented on #1543
I tracked this down to this -
[code]
In apps that do not have `spring-boot-starter-security` enabled, this results in the exception reported above. The issues arises from ConditionalOnClass being used on a Bean annotation as opposed to a Configuration annotation. Use of the class value is safe with Configuration annotations since those are parsed by ASM prior to class loading - not the case with B

[2021-06-18 06:25] bharathkandula99 opened #1544 "Insecure HostnameVerifier Issue"
_Platform:_
-   Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?

_IDE:_
-   Android Studio -> If yes, which version?

_Build system:_
-   Gradle -> If yes, which version?

_Sentry Android Gradle Plugin:_
-   Yes -> version 4.3.0

The version of the SDK:
**4.2.1**

---
I have the following issue:

Insecure HostnameVerifier

I integrated sentry logs

[2021-06-18 10:26] SpaceanHub commented on #1543
You can debug TypeNotPresentExceptionProxy.class and you can see **java.lang.ClassNotFoundException: org.springframework.security.core.context.SecurityContextHolder.**
Because The version of 5.0.1 **SentryWebMvcConfiguration** add **SpringSecuritySentryUserProvider**  **@ConditionalOnClass({SecurityContextHolder.class})**

So you can add spring-security-core dependency in pom.xml
[code]

[2021-06-18 18:17] bruno-garcia commented on #1544
Closing it since it's a known no-issue already discussed here: #861 and #840

Feel free to reopen otherwise.

[2021-06-18 18:17] #1544 closed

[2021-06-18 18:21] bruno-garcia commented on #1540
I'd defer to @rhcarvalho to clarify which way we should go here. /cc @maciejwalkowiak @Tyrrrz

[2021-06-18 18:24] bruno-garcia commented on #1538
Yeah and given we're rethinking this API now its' better we avoid expanding the public API (even though Data could just use Extra as I believe is done on other SDKs).

We plan to change to change serialization (see #1537 ) that will address such cases where we don't map completely to all other Sentry SDKs but for the time being to address this React Native issue would be nice to just special case

[2021-06-18 18:26] bruno-garcia commented on #1539
That field is new to me (and doesn't seem to be in the spec): https://develop.sentry.dev/sdk/event-payloads/debugmeta/
Anther one we'd address with #1537 but needs addressing before that to unblock RN.

[2021-06-18 18:28] bruno-garcia commented on #1533
Not sure how either of those would help. Could you please elaborate?

[2021-06-18 18:44] bruno-garcia commented on #1530
Java 8 has `Duration` too? https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html
Can we use that?
It would need to be added as a new field anyway because it'd break any serialized config such as env var, application.yml, AndroidManifest.xml etc

[2021-06-18 18:58] Tyrrrz commented on #1540
We don't have `data` on `contexts.trace`:
https://github.com/getsentry/sentry-dotnet/blob/f20b3f072f08fb451e08a9f7ae97329d0d18bdb2/src/Sentry/Protocol/Trace.cs#L51-L64

[2021-06-21 09:15] rhcarvalho commented on #1539
This is an internal field for used debugging. It is not part of the spec and there is no intention that it will ever be.

For all I can think of, we don't need this field in React Native nor in Java, so the **current behavior of dropping the `debug_meta` field is adequate**.

(@lobsterkatie FYI)

[2021-06-21 09:15] #1539 closed

[2021-06-21 09:30] rhcarvalho commented on #1540
No. It has:

[code]

This question was already discussed in https://github.com/getsentry/develop/issues/244#issuecomment-778694182.

The current implementations are still inconsistent in this regard. I'd recommend using `Event.Extra` for now and updating the spec about the conversion from Transaction to Event, since `Event.Extra` already exists with the same type as `Transaction.Data`. And then we

[2021-06-21 18:19] bruno-garcia opened #1546 "Cannot run Spring Boot project with Sentry 5.0.1"
Came from [Stack Overflow](https://stackoverflow.com/questions/68067762/cannot-run-spring-boot-project-with-sentry-5-0-1)

Repro: https://github.com/bijay-shrestha/springboot-sentry-example

[code]

[2021-06-21 19:15] anderscarling opened #1547 "Support for Markers in logback and log4j2 libraries"
Since the rewrite/move to unified Sentry Client API it seems support for Marker's was dropped in the logback and log4j2 libraries.

It would be trivial to add back basic support:
[code]

Are you interested in adding this functionality? I think I can find time to make a PR but wanted to check if it had a chance to be merged before investing more into this.

[2021-06-22 07:40] marandaneto opened #1548 "Do not send session updates if `crashed` or `abnormal`"
maybe this is already working as expected, but we need to check the implementation also for hard crashes, app restart etc
https://develop.sentry.dev/sdk/sessions/#terminal-session-states

[2021-06-22 08:02] marandaneto commented on #1547
cc @maciejwalkowiak
did we have this before?

[2021-06-22 08:03] donlan opened #1549 "sentry crash by [sentry_get_modules_list]"
_Platform:_
- [x]  Android ->
min_sdk = 21
target_sdk = 30
build_tools = "30.0.2"

- [x]  Java -> JavaVersion.VERSION_1_8
- [x]  Kotlin -> 1.5.0
- [x]  NDK -> 21.3.6528143

_IDE:_
- [x]  Android Studio -> 4.2.1

_Build system:_
- [x]  Gradle -> 6.5.1

_Android Gradle Plugin:_
- [x]  Yes -> com.android.tools.build:gradle:4.0.1

_Sentry Android Gradle Plugin:_
- [x]  Yes -> 2.0.0

_Proguard/R8:_
- [

[2021-06-22 08:03] marandaneto commented on #1543
thanks, we'll have a look at it, cc @maciejwalkowiak

[2021-06-22 08:03] marandaneto commented on #1546
might be related to #1543

[2021-06-22 08:07] marandaneto commented on #1540
@rhcarvalho thanks for the detailed answer, would you mind then raising an issue to the JS repo and linking to this one? so we can close this one, as `contexts.trace` should not have the `data` field anyway, but its coming from JS/RN and being lost during round trip ser/deser on Android

[2021-06-22 08:09] marandaneto commented on #1538
let's do a quick fix then before we get into #1537 which is gonna take longer, so we don't lose the `data` field during round trip ser/deser

[2021-06-22 08:25] marandaneto commented on #1549
@donlan thanks for reporting.

cc @Swatinem , wondering if its related to #1477

@donlan sentry android gradle plugin `2.0.1` does not exist, can you confirm the versioning?
also, are you using sentry.io or self hosted sentry?

[2021-06-22 08:32] marandaneto commented on #1477
@ibarisic05 ping

[2021-06-22 08:37] donlan commented on #1549
Sorry, i wrote a wrong version number. The correct sentry android gradle plugin is **2.0.0**.

[2021-06-22 08:42] Swatinem commented on #1549
I do have a hunch, but I’m unsure if these things are related.

The interesting thing here is also:

[code]

The code is triggering an abort following a failed assertion (or so it seems), and sentry seems to crash while handling that. So it would seem that at least we did not *cause* the crash.

[2021-06-22 08:44] anderscarling commented on #1547
It seemed to have been there for at least the log4j2 lib, as the feature was expand in #691.

[2021-06-22 09:09] donlan commented on #1549
I have no more info about this crash. But we don't have the crash before sentry SDK version of 5.0.1. And we only catch one crash as so far.

[2021-06-22 09:24] marandaneto commented on #1547
indeed, and its an easy one, logback would also work via `ILoggingEvent#getMarker`
would you like to open a PR @anderscarling ?

[2021-06-22 09:45] marandaneto opened #1550 "Support ownership rules/code owners"
Similar to https://github.com/getsentry/sentry-dart/issues/347

[2021-06-22 09:48] marandaneto commented on #1550
@philipphofmann check and raise an issue for Apple plat, if it's possible to get the filename and abs path either at runtime or symbolication.

[2021-06-22 10:00] rhcarvalho commented on #1523
We may also consider how this special transaction will behave as we focus more on spans, and one day be able to ingest data without buffering full transactions in memory.

Perhaps, if we make the functionality of "automatically finish" available to any span, that would put us in a better future position, not tied to transactions.

[2021-06-22 13:10] bruno-garcia commented on #1548
It turns out the issue is more like: Don't send more than one session update with a terminal status.
The reason this is relevant is that guaranteeing the order is tricky before we get to the transport. More than one thread can call into the Hub's `capture` method which can create a 'session update' (think: error increment) but before reaching the transport they could get out-of-order.

This is not

[2021-06-23 08:22] #1547 closed

[2021-06-23 08:22] marandaneto commented on #1547
thanks @anderscarling :)

[2021-06-23 09:51] donlan commented on #1549
`OS Version: Android 10 (POT-AL00a 10.0.0.168(C00E70R5P6))
Report Version: 104

Exception Type: Unknown (SIGSEGV)

Application Specific Information:
Segfault

Thread 0 Crashed:
0   libsentry.so                    0xc3380adc          sentry_get_modules_list
1   libsentry.so                    0xc337c4d7          <unknown> + 3275211991
2   libsentry.so                    0xc33798dd          <unknown

[2021-06-23 12:01] Blinkq opened #1553 "DefaultLifecycleObserver Issue"
_Platform:_
Unity 2020.3.12f1 LTS, Android.

_Build system:_
- [ ]  Gradle

_Platform installed with:_
- [ ] Maven Central

The version of the SDK:
**5.0.1**

---
I have the following issue:

When using Android Sentry with Unity 2020, facing error:

[code]

Works well on 2019 and 2018.

Please, take a look at this article : https://stackoverflow.com/questions/59067743/what-is-this-error-and-why-th

[2021-06-23 12:10] marandaneto commented on #1553
@Blinkq thanks for raising this, which version of `androidx.lifecycle:lifecycle-process` are you using? It's a `default` method, it should not be an issue if using not that old versions.

[2021-06-23 12:48] #1523 closed

[2021-06-23 12:50] #1543 closed

[2021-06-23 12:50] #1546 closed

[2021-06-23 14:20] marandaneto commented on #1542
Compose too https://developer.android.com/jetpack/compose

[2021-06-23 14:33] Blinkq commented on #1553
Didnt found process,
found that lifecycle libs in my project:
-androidx.lifecycle:lifecycle-common-2.0.0
-androidx.lifecycle:lifecycle-livedata-2.0.0
-androidx.lifecycle:lifecycle-livedata-core-2.0.0
-androidx.lifecycle:lifecycle-runtime-2.0.0
-androidx.lifecycle:lifecycle-viewmodel-2.0.0

[2021-06-24 08:03] marandaneto commented on #1553
@Blinkq can you try using 2.2.0? that's the version we use right now and I don't see any issues (its a transitive dependency of sentry).
either Unity or a transitive dependency is doing something fishy with dependency resolution.

[2021-06-24 09:31] marandaneto commented on #1541
ok so figured that out, JS timestamps could have up to 13 decimal places but we don't need all of that, in Mobile, up to 3 digits is already fine.

Example:
`1591533492.631` should be formated to `2020-06-07T12:38:12.631Z`
`1591533492.63` to `2020-06-07T12:38:12.630Z` or just `2020-06-07T12:38:12.63Z`
`1591533492.6` to `2020-06-07T12:38:12.600Z` or just `2020-06-07T12:38:12.6Z`
`1591533492.631631`

[2021-06-24 09:52] marandaneto commented on #1541
btw the root issue is that we serialize the timestamps to `java.util.Date` and the Java API has millis precision and can't handle micro/nano precision.

[2021-06-24 09:52] jennmueng commented on #1541
Sounds good, just a note that

In the grooming yesterday I think the team agreed to floor it, so it would be `1591533492.631631` to `2020-06-07T12:38:12.631Z`, and `1591533492.999999` to `2020-06-07T12:38:12.999Z`

[2021-06-24 09:54] marandaneto commented on #1541
oh yeah indeed, thanks

[2021-06-24 11:21] #1525 closed

[2021-06-24 11:43] #1540 closed

[2021-06-24 11:54] #1541 closed

[2021-06-24 12:40] #1538 closed

[2021-06-24 14:26] marandaneto opened #1558 "Make hints `Map<String, Object>` instead of only `Object`"
this would make hints a bit more powerful, Python SDK and JS do the same.

[2021-06-24 14:29] marandaneto commented on #1517
we'll expose a `clearAttachments` method.

@xmanu would you like to submit a PR? thanks

[2021-06-24 19:52] chadwhitacre-test opened #1560 "Waiter, there's a fly in my soup!"
Is it doing the breast stroke or the back stroke?

[2021-06-25 06:53] #1560 closed

[2021-06-25 07:11] marandaneto opened #1561 "Bump sentry-native"
https://github.com/getsentry/sentry-native/releases/tag/0.4.10
0.4.11 will come shortly so better to wait

[2021-06-25 07:27] philipphofmann commented on #1517
We are going to add `clearAttachments` to the scope right, @marandaneto? I'm also going to open up an issue for Cocoa.

[2021-06-25 07:30] xmanu commented on #1517
@marandaneto I will create a PR. I will add the `clearAttachments` method to the Scope.

[2021-06-25 07:46] philipphofmann commented on #1517
Nice @xmanu. I already opened up a PR for Cocoa https://github.com/getsentry/sentry-cocoa/pull/1195.

[2021-06-25 07:51] philipphofmann commented on #1517
I'm going to open up a PR to update the docs. @marandaneto we should also update them for Java after releasing this PR https://github.com/getsentry/sentry-docs/blob/9c0097241dfd389b6d83c73b5618ef3b62da1070/src/platforms/common/enriching-events/attachments/index.mdx#L10.

[2021-06-25 08:08] xmanu commented on #1517
I have opened PR #1562 that introduces the `clearAttachments` method.

[2021-06-25 08:09] marandaneto opened #1563 "replace `dynamic` to `Object?` whenever possible"
we never know if a `dynamic` is a nullable field, also `dynamic` disables type checking.
should we replace it for better type checking?

@ueman @bruno-garcia

[2021-06-25 08:11] marandaneto commented on #1563
wrong repo

[2021-06-25 08:11] #1563 closed

[2021-06-25 08:32] marandaneto opened #1564 "ignore samples and test modules from binary-compatibility-validator"
https://github.com/Kotlin/binary-compatibility-validator

probably possible via `ignoredPackages` or `ignoredProjects`

[2021-06-25 11:21] #1517 closed

[2021-06-25 12:35] chadwhitacre commented on #1560
@marandaneto Sorry for the unexplained noise issue. This was to test the new getsantry bot integration. For future (real) issues if you apply a label (any label) then the bot will remove the `Status: Untriaged` label. We're using this label to compute time-to-triage. Cheers! :)

[2021-06-25 12:54] marandaneto commented on #1560
oh got it, they are just the `image_addr` that have been used for symbolication, no issues in there.

[2021-06-25 12:55] marandaneto commented on #1560
@chadwhitacre yeah I got it :D
@chadwhitacre the bot isn't removing the label though, See https://github.com/getsentry/sentry-java/issues/1561

[2021-06-25 13:10] chadwhitacre commented on #1560
Blech, still hitting https://github.com/getsentry/eng-pipes/issues/216 it seems. :-/

Workaround would be to [make your Sentry org membership public](https://docs.github.com/en/github/setting-up-and-managing-your-github-user-account/managing-your-membership-in-organizations/publicizing-or-hiding-organization-membership). If you do that then the bot should not add `Status: Untriaged` in the first p

[2021-06-25 13:24] maciejwalkowiak commented on #1427
Isn't this already implemented? I don't see what's missing.

[2021-06-25 13:35] marandaneto commented on #1427
I think that this has been automatically solved when executing event processors for transactions too, so if you don't see this missing anywhere, just close it

[2021-06-25 14:31] maciejwalkowiak commented on #1370
When `init` is called the second time, a hub taken from the current thread gets closed (https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/Sentry.java#L181) - so all integrations that have been previously registered get closed before the next init finishes. Maybe a failing test would shine more light on this issue? @marandaneto

[2021-06-25 17:17] #1427 closed

[2021-06-25 18:48] bruno-garcia commented on #1517
Requires docs changes. See the cocoa one: https://github.com/getsentry/sentry-docs/pull/3797/files

[2021-06-27 14:42] Blinkq commented on #1553
@marandaneto was trying with 2.2.0, still same error

[2021-06-28 07:11] marandaneto commented on #1370
@maciejwalkowiak indeed, iirc, this has been solved by https://github.com/getsentry/sentry-java/pull/1358
because not all the integrations were closed, but now they are.

[2021-06-28 07:11] #1370 closed

[2021-06-28 07:13] #1414 closed

[2021-06-28 07:31] marandaneto commented on #1553
@Blinkq could you push a repro case on GH? cus I can't reproduce it in a normal app (non Unity), an empty app that reproduces the issue would be awesome, thanks

[2021-06-28 13:43] Blinkq commented on #1553
Made Android Studio project from Unity, take a look
https://github.com/Blinkq/sentry_test

[2021-06-29 00:13] lobsterkatie commented on #1539
I added this at the behest of @jan-auer. Not sure if he has any plans for it beyond JS.

[2021-06-29 06:13] jan-auer commented on #1539
We should not be sending this to the server. As @rhcarvalho stated, this was added to the internals of the JavaScript SDK so that the sampling mechanism could be propagated to the `captureEnvelope` function, where it is transformed into an envelope header.

[2021-06-29 06:24] #1521 closed

[2021-06-29 07:02] marandaneto commented on #1553
@Blinkq this project does not even compile, and I can see that you are not using Gradle's dependency resolution but instead copy/paste the JAR files https://github.com/Blinkq/sentry_test/tree/master/unityLibrary/libs
most of the libraries have transitive dependencies so unless you copy/paste everything correct, it won't work.
for sentry, for example, you are missing a few jars/aars.

`playon-0.2.1

[2021-06-29 07:53] Blinkq commented on #1553
@marandaneto Hello, sorry, .gitignore was ignoring too much, removed it and pushed hole project

[2021-06-29 11:53] marandaneto commented on #1553
@Blinkq please check your project and dependencies, your issue isn't a sentry's issue, you're mixing up transitive dependency versions eg, androidx.lifecycle.lifecycle-viewmodel 2.0.0 and androidx.lifecycle.lifecycle-common 2.2.0, or androidx.arch.core.core-common 2.1.0 and androidx.arch.core.core-runtime 2.0.0, sometimes transitive dependencies should match versions otherwise they can cause issue

[2021-06-29 12:22] marandaneto commented on #1553
if I delete all the androidx jars/aars, comment out all the code that adds the androidx libs, add `android.useAndroidX=true` which is required by AGP, the project compiles and runs.

to init sentry via maven repository:
https://docs.sentry.io/platforms/android/#install

so I'll close it, its more a project setup rather than a bug.

[2021-06-29 12:22] #1553 closed

[2021-06-30 09:24] arvkonstantin commented on #633
Still not possible?

[2021-06-30 17:31] #640 closed

[2021-06-30 17:36] bruno-garcia opened #1569 "Add `crashedLastRun` for Android"
Similar to the iOS API `crashedLastRun`: https://github.com/getsentry/sentry-cocoa/search?q=crashedlastrun

We'd like to know if the previous execution resulted in a crash (via Java or Native) while on an Android app.
This will be used by Unity (see https://github.com/getsentry/sentry-dotnet/issues/1096)

This could live on `SentryAndroid` static class.

[2021-07-01 00:39] pkgonan opened #1570 "Sending event succeed, but dropped"
[Environment]
- Kotlin Bom - 1.5.20
- Kotlin Coroutine - 1.5.0
- Kotlinx Coroutines Reactor - 1.5.0
- Spring Boot Bom - 2.5.1
- Spring WebFlux
- Spring Security
- Sentry Spring Boot Starter - 5.0.1
- Sentry Logback - 5.0.1
- Sentry Kotlin Extensions - 5.0.1

[Problem]
I want to use log level base alert using sentry. When error log is printed using sysout, sentry client serialize log and send to se

[2021-07-01 01:03] pkgonan commented on #1570
@marandaneto
Hi. Is this a known issue? If not, what should I do?

[2021-07-01 01:17] lobsterkatie commented on #1539
@jan-auer Right. I guess I was more wondering if that `debug_meta` -> envelope header work should happen anywhere besides JS, but it sounds like no.

[2021-07-01 06:52] marandaneto commented on #1570
@pkgonan are you using sentry.io? can you share the link of your org? What's the reason for the events being dropped?

[2021-07-01 06:57] marandaneto opened #1571 "Investigate performance for Room (ORM)"
https://developer.android.com/jetpack/androidx/releases/room

[2021-07-01 06:59] pkgonan commented on #1570
@marandaneto
Yes, [Link](https://sentry.io/organizations/hpcnt/projects/content-manager/?project=5840512)
Where can i find reason of dropped event ?

[2021-07-01 07:07] marandaneto commented on #1549
@donlan you cannot reproduce this issue either, right?

[2021-07-01 07:27] marandaneto commented on #1570
<img width="656" alt="Screenshot 2021-07-01 at 09 27 33" src="https://user-images.githubusercontent.com/5731772/124083788-91999d80-da4e-11eb-9507-495cf15cb4e5.png">

[2021-07-01 07:27] #1570 closed

[2021-07-01 09:24] donlan commented on #1549
yeah, i can't reproduce. But we received 13 crashed issues with our recent release version.

![image](https://user-images.githubusercontent.com/11363921/124100473-14dbe300-da91-11eb-92e5-13d946d52e9b.png)

[2021-07-01 09:26] donlan commented on #1549
Thanks, we would try the next release version soon.

[2021-07-02 06:41] marandaneto opened #1574 "java.lang.IllegalStateException: Shutdown in progress - during tests only"
if you run `make all`, you can see:

2021-07-01 20:45:22.425  INFO 20100 --- [extShutdownHook] o.s.s.concurrent.ThreadPoolTaskExecutor  : Shutting down ExecutorService 'applicationTaskExecutor'
DEBUG: UncaughtExceptionHandlerIntegration removed.
ERROR: Error while closing the Hub.
java.lang.IllegalStateException: Shutdown in progress
	at java.lang.ApplicationShutdownHooks.remove(ApplicationShutdow

[2021-07-02 06:52] marandaneto opened #1576 "event is null - during tests only"
many tests are triggering `event is null`
eg `does not send events for handled exceptions`

they don't fail because it's within a `await` condition and it may trigger after the test is finished.
the issue is probably within the `checkEvent` and or `checkTransaction` assertion test that may be called multiple times within a test

java.lang.AssertionError: event is null
	at io.sentry.test.Assertions

[2021-07-02 06:52] marandaneto commented on #1576
@maciejwalkowiak can you take a look at this? our tests are green but maybe they should not due to this issue

[2021-07-02 06:53] marandaneto commented on #1574
maybe related to #1576 but not sure

[2021-07-02 08:01] marandaneto opened #1578 "Do not publish javadocs if its a GH pre-release"
https://github.com/getsentry/sentry-java/blob/main/.github/workflows/generate-javadocs.yml#L3-L4

[2021-07-02 08:38] marandaneto commented on #1578
@bruno-garcia ideas on how to do it? we want to trigger it but only when it's not a pre-release

[2021-07-02 08:44] marandaneto commented on #1578
https://docs.github.com/en/actions/reference/events-that-trigger-workflows#release probably `released`

[2021-07-02 08:55] #1578 closed

[2021-07-02 10:08] maciejwalkowiak commented on #1576
Executing test prints errors because `transport#send` is called multiple times, and `check` method from mockito-kotlin calls `printStackTrace()` on assertion error. I don't see how any of these test can be a false posivite, but I agree that having red output in case of successful test is sub-optimal. There are few alternatives, each one with pros & cons:

[code]

The alternatives are:

1. `check`

[2021-07-02 10:16] marandaneto opened #1580 "create craft post release craft"
add `Unreleased` back to the (changelog)
append `-SNAPSHOT` to `versionName` (gradle.properties)

should the post release script bump the `buildVersionCode`?
https://github.com/getsentry/sentry-java/blob/main/scripts/bump-version.sh#L15-L19

as the `versionName` will have the `next version-SNAPSHOT`, it'd make sense that the `buildVersionCode` is already the correct one.

[2021-07-02 10:24] marandaneto commented on #1580
check if craft is creating a temp. file called `gradle.propertiese`

[2021-07-02 13:12] iker-barriocanal commented on #1580
Creation of `gradle.propertiese` is addressed in https://github.com/getsentry/sentry-java/pull/1581.

[2021-07-02 13:31] iker-barriocanal commented on #1580
Adding an `Unreleased` empty entry back to the changelog is addressed in https://github.com/getsentry/sentry-java/pull/1582.

[2021-07-03 10:30] #1580 closed

[2021-07-05 09:06] marandaneto commented on #1576
the problem of option 3) is that invocation order matters, due to `this.items.first()`.

I'm wondering if it makes sense to be sure that `transport.send(x)` is called only once by disabling the untested feature.

eg, if you want to test that `TestRestTemplate` captures a transaction, why is it transport being called twice? if it's because it also does a `captureEvent`, is there a way to test in is

[2021-07-05 09:19] maciejwalkowiak commented on #1576
Which method exactly is it? Not every test method is expected to trigger `transport.send` more than once, but in some cases the test tests the scenario where event is triggered within a transaction.

Since this is an integration test, I am not sure how far we should go with isolating scenarios. It gives confidence that everything works together as expected. Will think about it.

[2021-07-05 09:37] marandaneto commented on #1576
@maciejwalkowiak in that case maybe we don't use `checkEvent` but rather parse the envelope and assert manually, based on what we know about the envelope (if it has multiple items or not), if `transport.send` has multiple calls or not, its more boilerplate, indeed.

[2021-07-05 13:35] jennmueng opened #1584 "Method to get the app start measurement afterwards for Hybrid SDKs"
We will need a method, maybe getAppStartTime, that can be called from hybrid SDKs sometime regardless of the init call, that is called to get the app start measurement.

This would include:

The app start type (warm, cold, etc)
The app start initial time
The app start finish time

Related: https://github.com/getsentry/sentry-cocoa/issues/1208#issue-937093040

[2021-07-05 13:58] philipphofmann opened #1585 "Add support for tracing origins"
Currently the [SentryOkHttpInterceptor](https://github.com/getsentry/sentry-java/blob/aca78d9ca024c75225e59c36e35622055d2f6cbf/sentry-android-okhttp/src/main/java/io/sentry/android/okhttp/SentryOkHttpInterceptor.kt#L33-L35) adds the [sentry-trace HTTP header](https://develop.sentry.dev/sdk/performance/#header-sentry-trace) to every HTTP request. Some HTTP requests are targeting backends that don't

[2021-07-05 13:59] philipphofmann commented on #1585
Related to https://github.com/getsentry/sentry-cocoa/issues/1199.

[2021-07-05 14:27] marandaneto commented on #1584
the class is called `AppStartState`, we just need to make it public and add the `@ApiStatus.Internal` annotation

[2021-07-06 07:34] mohodroid commented on #631
Hi, I have sentry-debug-meta.properties in final apk and plugin can found that and open to read, this is Sentry log: Sentry: Proguard UUID found: 8d43ae74-82ad-433e-b2f3-a2c4827496a0  and in the server panel versions and Map files are equal. but my Stack trace are obfuscated and cant read.  io.sentry:sentry-android-gradle-plugin:2.0.1 io.sentry:sentry-android:5.0.1

[2021-07-06 17:18] jennmueng opened #1586 "Option to disable some auto performance for Hybrid SDKs"
Hybrid SDKs will be propagating the tracesSampleRate down to the native SDKs.

So we will need an option to not fully disable auto performance tracing but rather only disable some instances of it.

A suggestion of what to disable would be to disable any instrumentation that creates transactions but keep span-creating ones, this is in the case that if a user decides to use native transactions they

[2021-07-07 13:53] bruno-garcia opened #1589 "Remove default MIME content type for attachment"
See: https://github.com/getsentry/sentry-cocoa/issues/1196

[2021-07-07 14:58] btanmayee opened #1590 "Error not logging to Sentry Dashboard from Java Unit Test File"
Hello,

I have an issue with error not logging on Sentry's dashboard from my Java Unit test file.
I got below logs
INFO: No outbox dir path is defined in options.
INFO: GlobalHubMode: 'false'
DEBUG: UncaughtExceptionHandlerIntegration enabled: true
DEBUG: UncaughtExceptionHandlerIntegration installed.
DEBUG: ShutdownHookIntegration installed.
DEBUG: Capturing event: d609b3aa130e4ad7969bfc5325e020c

[2021-07-08 06:59] ibarisic05 commented on #1477
@marandaneto yes, we are using precompiled library, version is 2.1.2

[2021-07-08 08:26] maciejwalkowiak commented on #1590
Hello! There can be many reasons not directly related to Sentry. Have you tried solutions that pop-up when you search for `sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target`?

Some hints from similar issues reported here:
- which exactly version of Java are you using? Java 1.8.0_261+ should accept the certificate
- use following

[2021-07-08 11:17] btanmayee commented on #1590
Hello,

Thank you for reply.

Java version is 1.8.0_211 and tried using @sentry.ip from one of the post but didn't work.
So, certificate can be the issue as java version is not 1.8.0_261+ ?

[2021-07-09 08:55] maciejwalkowiak commented on #1590
Seems, so. With older version you would need to add Sentry certificate to keystore.

[2021-07-11 20:24] Blinkq commented on #1553
@marandaneto Hello, would like to return to this issue. I managed to build your plugin and add fix that mentioned from stackoverflow.
I just override all abstract methods from parent "DefaultLifecycleObserver". That helped me and resolved my problem.
[code]
I made update to project that I shared with you, take a look, I leaved there only your library. That literly empty unity project where I added

[2021-07-12 16:43] bruno-garcia opened #1593 "Capture events from `System.err`"
Add an integration to read from the stderr stream and capture events.

Could be an opt-in for now, to become an opt-out on the next major.

We need to make sure we don't double report if a logging integration (i.e.: logback) also writes to stderr.

[2021-07-12 19:25] bruno-garcia commented on #1435
Mostly done through: https://github.com/getsentry/sentry/pull/27230

[2021-07-13 09:31] #1561 closed

[2021-07-13 15:51] marandaneto commented on #1553
@Blinkq I could not reproduce your issue, again:

gradle.properties
`android.useAndroidX=true` is required by AGP, your project does not have it.
`android.enableR8=false` is deprecated, you can comment it out

build.gradle from unity library, you can comment and delete all the jars and aars under the libs folder.
[code]

build.gradle from launcher project, add sentry as a maven dependency that dow

[2021-07-13 19:45] btanmayee commented on #1590
Hello,

Thank you. It is working now, it was my local set up java version, when upgraded to latest java version "1.8.0_291", I was able to see logs errors/messages in Sentry.

Thank you for your help.

[2021-07-13 19:45] #1590 closed

[2021-07-14 10:13] offline commented on #1553
We also experience same behavior in Unity2020. The problem is we are an SDK and can't force developers that want to integrate our SDK to change their gradle.properties file.

For now we used Blinkq's method to solve it, but it means we won't be able to update Sentry without modify the code each time.

[2021-07-14 11:08] marandaneto commented on #1553
the `gradle.properties` changes are not really necessary, its deprecated features, the solution described above also works if they are not set, but triggers warnings by AGP.

[2021-07-15 08:31] cocorossello opened #1602 "SentryAppender not final"
_Platform:_
- [X]  Logback -> Any version

The version of the SDK:
Any

---
I would like to extend a bit the functionality of the SentryAppender, play a bit more with it, but I can't extend it because the class is final and the append method is protected and the createBreadcrumb is private.

So, my question is: is there any reason to make it a final class?

I would like to pass the marker as a hin

[2021-07-15 08:42] marandaneto commented on #1602
@cocorossello thanks for raising this.

which SentryAppender? logback? log4j2?

@maciejwalkowiak @bruno-garcia if nothing against it, we can check all of our appenders and take the same approach, making it non-final and having protected methods, so people can customize them, wdyt?

[2021-07-15 08:43] cocorossello commented on #1602
Logback, I haven't looked others

[2021-07-15 08:52] maciejwalkowiak commented on #1602
It leaks an internal structure, but appenders are very stable - I think we can relax them:

- make `SentryAppender` for Log4j2 and Logback non-final
- make `createEvent` and `createBreadcrumb` protected.

@cocorossello would you like to contribute a PR?

[2021-07-15 08:56] cocorossello commented on #1602
Sure! thanks

[2021-07-15 09:33] #1584 closed

[2021-07-15 09:37] marandaneto commented on #1602
@cocorossello remember to annotate the nonfinal classes with the `@Open` annotation, otherwise, CI fails.
maybe also do `make api`, not sure if the public API changes when its final or not

[2021-07-15 10:07] hanswesterbeek opened #1604 "tracing functionality's SentryId.fromStringSentryId() throws IAE, causing 500 Internal Server error"
_Platform:_
- [x ]  Java -> jdk 11
- [x ]  Spring -> Spring Boot 2.4.5

- [x ]  Maven -> 3.6

_Platform installed with:_
- [ x] Maven Central

The version of the SDK:
**5.0.1**

---
I have the following issue:

[code]
I recently enabled tracing and then the above exception started to occur.

A client of my webservice uses sentry-python sdk v 0.11.4 and seems to be sending weird contents in the `se

[2021-07-15 11:07] maciejwalkowiak commented on #1604
Thanks for reporting @hanswesterbeek

[2021-07-16 07:18] #1604 closed

[2021-07-16 07:56] #1602 closed

[2021-07-16 14:24] carloswabreu1 commented on #620
Hey there! `SentryClientFactory` seems to no longer exist in recent SDK versions, are multiple DSNs still supported?

[2021-07-18 09:02] marandaneto commented on #620
@carloswabreu1 you can create multiple instances of `Hub`, the DSN is set to `SentryOptions` which is a ctor param from `Hub`

[2021-07-19 07:47] Alireza-Farahani opened #1607 "Why Min Sdk 21 is requrired for sentry-android-fragment and sentry-android-okhttp?"
Both mentioned artifacts have configured api 21 as minimum. `sentry-android-okhttp` depends on OkHttp 4.9 which itself requires minsdk 21, but the functionality doesn't require api 21. `sentry-android-fragment` doesn't require api 21 at all. I was able to use both artifacts in my app, leveraging `tools:overrideLibrary` in `AndroidManifest.xml` file.

Is there a specific reason behind choosing 21 a

[2021-07-19 08:12] marandaneto commented on #1607
@Alireza-Farahani thanks for raising this.

for OkHttp: https://github.com/square/okhttp#requirements

Might be the case that it works for older versions, but as its not tested by us, we prefer to stick to the official OkHttp docs.

I'll check the fragments compatibility.

indeed docs could better state that, although we've it written down here in the README file https://github.com/getsentry/sentr

[2021-07-19 08:27] marandaneto commented on #1607
apparently androidx.fragment is min API 14, See https://github.com/getsentry/sentry-java/pull/1608
Let's see if CI gets happy as there are code checks via AGP and code compatibility

[2021-07-19 08:48] carloswabreu1 commented on #620
Thanks @marandaneto! I couldn't find documentation about this other than a short summary [here](https://docs.sentry.io/platforms/android/enriching-events/scopes/), could you share an example or more documentation?

[2021-07-19 09:43] #1607 closed

[2021-07-19 12:50] hanswesterbeek opened #1610 "Improvement: allow SentryTracingFilter to exclude some urls in order not to deplete Transaction-count rapidly"
We have a monitoring-system that pings `/actuator/health` quite often.

I'd love for an URL like that to be excluded from Sentry performance metrics collection.

I can imagine multiple ways of making this configurable and the implement it and am happy to provide a PR once I consulted you about it.

A very simple way to get started:

- Add `sentry.trace.ignoredPaths`: a comma-separated list of path

[2021-07-19 13:18] marandaneto commented on #1610
@hanswesterbeek what's about the sampling function? See https://docs.sentry.io/platforms/java/configuration/sampling/#setting-a-sampling-function
does that help?

[2021-07-19 13:40] hanswesterbeek commented on #1610
Good point :)

Indeed all it takes is to implement this:

[code]

[2021-07-19 13:40] #1610 closed

[2021-07-20 08:58] #1334 closed

[2021-07-20 14:11] marandaneto commented on #1571
https://developer.android.com/reference/androidx/room/RoomDatabase.QueryCallback

we have access to the `sqlQuery` and `bindArgs` either before or after the query is executed, not sure if its enough to know the correct interval (before & after) the query is executed

[2021-07-21 01:50] dparrella commented on #1226
Any updates on this issue? This is a major problem for us.

[2021-07-21 02:41] gaojun2048 opened #1613 "http proxy not work"
### Environment

self-hosted (`onpremise` deployment)

### Version

5.0.1

### Steps to Reproduce

1. I test http proxy about java sdk and my sentry.properties file is like this:
[code]

2. I started my java process, and then triggered the event to report to sentry, but I found that the java sdk did not request the proxy server, but skipped the proxy and directly connected to my sentry server. The

[2021-07-21 03:29] maciejwalkowiak commented on #1226
For the coroutines implementation we added methods: `Sentry#getCurrentHub` an `Sentry#setCurrentHub` - both are marked as `internal` as they were initially not meant to be used by end users. I am not 100% sure but perhaps you can use them to solve this problem.

[2021-07-21 06:21] gaojun2048 opened #1612 "The event in the cache dir is not sent to the sentry server when the sentry-java sdk reconnects to the sentry service"
Hi ,
My sentry server version is 21.6.1 and my sentry-java sdk version is 5.0.1.
My test code like this:

[code]

When I stop the sentry server , I found some envelope file added to dir `/opt/soft/log/sentry_cache_arknotice`.

I expected that when I restart the sentry server, the events in the dir `/opt/soft/log/sentry_cache_arknotice` will be sent to the sentry server, but in fact it is not.

Wha

[2021-07-21 13:53] bruno-garcia commented on #1512
This looks promising. Thanks @caseyduquettesc for the gist.
Would you be willing to send a PR adding a package? It would look like the OkHttp structure and tests for example.

[2021-07-21 13:56] bruno-garcia commented on #1532
I propose we close this. I agree it would be nicer with the same name but it isn't worth the time to change/break the API of one SDK and update docs

[2021-07-21 14:15] bruno-garcia commented on #1548
We haven't heard any report from having this issue in mobile SDKs. We add the sdk.name to envelope headers so ingest folks can let us know what sdk name+version is affected.

[2021-07-21 14:15] #1548 closed

[2021-07-21 14:22] bruno-garcia commented on #1585
It makes sense that the trace id doesn't need to go to all endpoints an App talks to. Currently it can be filtered with the callback the integration offers but we could look at adding the same options as the browser JS SDK.
Worth noting the browser adds that because of CORS:

So we have less of a need here since CORS doesn't apply here.

[2021-07-21 19:37] bruno-garcia commented on #1359
I assume we can close this since we've done the 400-device test already?

[2021-07-21 19:39] bruno-garcia commented on #1612
The SDK currently only sends what's on disk if something is captured like a session update, transaction or a new issue (message/error) etc. This is also the case on the .NET SDK: https://github.com/getsentry/sentry-dotnet/issues/803

We have an issue already to track adding periodic sending of cached events: #912

Please upvote the issue there to help us prioritize things, I'll close this as a dup

[2021-07-21 19:46] bruno-garcia commented on #331
This was added on Spring MVC through #1595

[2021-07-21 19:46] #331 closed

[2021-07-21 21:02] bruno-garcia commented on #1226
If there's no 'framework' API we can hook to do the calls to `getCurrentHub` and `setCurrentHub` ourselves I'm afraid there's just not way the SDK can propagate it automagically.

But as @maciejwalkowiak suggested you could use that API at the right places to propagate state. Would that work for you @dparrella?

[2021-07-22 02:01] gaojun2048 commented on #1613
Sorry, I now migrate this issue to sentry-java

[2021-07-22 08:43] LoveLin0516 opened #1614 "libsentry.so has CVE-2016-0760 Loopholes，it can't pass our security check"
I have the following issue:

hi，I have used sentry in my applicaiton， I use sentry-android in My Android apps。
iin this way:   api  'io.sentry:sentry-android:5.0.1'

but the sentry version 3.1.0 android the latest version 5.0.1，when i  use the app do  the security check , it can't pass the  security check,  it tells that the libSentry.so is dangerous for security.

the hint is :

lib/arm64-v8a/lib

[2021-07-22 09:20] maciejwalkowiak commented on #1613
Where do you put `sentry.properties` file? Do other properties from this file are applied to `SentryOptions`? The issue seems to be with passing configuration in your project, not with proxy settings. Ideally, please provide minimal reproducible example either as attached zip file, or a github repository.

[2021-07-22 09:49] Iamjakerrrr opened #1615 "Is there a callback when native crash happens?"
My program is a Android app and uses sentry 5.0.0.
When a crash happens in java code, I want to collect logcat information as attachment at this time. I do this through SentryOptions.addEventProcessor method and it works well.
My app also uses ndk. When a crash happens in c language code, I want to do the same thing metioned above. But I found EventProcessor.process method is called at next app la

[2021-07-22 14:02] fzyzcjy opened #1616 "Android libsentry.so takes 209KB after compression: Can it be smaller?"
_Platform:_
- [x]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [x]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [x]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-07-23 08:14] tiagodinis33 opened #1617 "Sentry.captureException(e) not working"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [x]  Java -> 1.8
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version?
- [x]  Log4j2 -> beta9
- [ ]  Logback -> If yes, which version?
- [

[2021-07-23 08:52] maciejwalkowiak commented on #1617
Consider switching to the latest (5.0.1) version of the SDK. Please set `debug` to `true` on `SentryOptions` and maybe output can help to understand what is wrong.

Look at our samples - maybe you'll find what you have missed in your code: https://github.com/getsentry/sentry-java/tree/main/sentry-samples

If this doesn't help, please create a sample that reproduces this issue and either attach her

[2021-07-23 09:34] tiagodinis33 commented on #1617
Btw im using for my minecraft client so its an LWJGL 2 app
idk if it requires a web framework to work
[crash-2021-07-23_10.30.50-client.txt](https://github.com/getsentry/sentry-java/files/6867833/crash-2021-07-23_10.30.50-client.txt)

[2021-07-23 16:46] bruno-garcia opened #1619 "Support for Spring WebClient for creating spans/crumbs"
Requested through support:

Similar to OkHttp and RestTemplate. Support for Spring WebClient.

[2021-07-24 09:12] fzyzcjy opened #1620 "Sentry Android does not capture LogCat logs"
_Platform:_
- [x]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-07-25 15:02] bruno-garcia commented on #1620
Thanks for raising @fzyzcjy. Last we looked at this it wasn't as straight forward as something like Timber. We'll do another investigation. Do you have suggestions on how to implement this and/or is willing to make a PR to add support?

[2021-07-26 00:03] fzyzcjy commented on #1620
@bruno-garcia I also do not have quite good solutions. If there is an idea I can make a PR. In addition, it is not possible to let every library use Timber. For example, one third party library may print out some Log.w or Log.e which I want to capture and recognize (because it can be the cause of some bugs), but it is not possible now :(

However, IMHO this is a very useful feature!

[2021-07-26 10:26] AshStefanOltmann commented on #912
I think this is really important for client apps and I'm also waiting for this.

[2021-07-26 10:30] AshStefanOltmann commented on #1612
@bruno-garcia
Can you please verify that? I found that to be not true!

I set a cache dir, but the envelope files created during offline use won't be send even if I produce a new event.

So even with offline cache set offline crashes seem to be lost forever.

[2021-07-26 15:20] marandaneto commented on #1612
options.addIntegration(
        new SendCachedEnvelopeFireAndForgetIntegration(
            new SendFireAndForgetEnvelopeSender(() -> options.getCacheDirPath())));

Lives in the android module, we have to move it to the sentry module, so it'd work for pure java sdk as well.

[2021-07-26 15:53] bruno-garcia commented on #1612
@marandaneto is that going to send events periodically, if the process goes offline then back online?

[2021-07-26 15:54] marandaneto commented on #1612
No, this issue isn't about sending events periodically, but sending events on restartas it's stated on the issue description.

[2021-07-26 15:55] bruno-garcia commented on #1612
@marandaneto I see #1309 now, the issue detail talks about 'reconnecting' which threw me off.
It's anyway a dupe of #1309 and perhaps also #912 (based on the title)

[2021-07-26 22:39] bruno-garcia commented on #1614
Does the tool provide more context like which file/line is the culprit for each of the CVE's?

[2021-07-26 22:41] bruno-garcia commented on #1614
/cc @getsentry/owners-native

[2021-07-26 22:42] bruno-garcia commented on #1616
You have the option of not tracking native crashes by installing `sentry-android-core` instead of `sentry-android`. That is because `sentry-android` brings in `sentry-android-ndk` which includes native libraries such as `libsentry.so`.

/cc @getsentry/owners-native

[2021-07-26 22:49] bruno-garcia commented on #1615
What you can do at the signal handler is very limited so even if you hooked into a beforeSend in native I'm not sure you'd be able to use the attachment API in C to do that. But even if possible, you'd need to write it in C since it's not possible to make JNI calls on the signal handler.

How do you currently retrieve the logcat data to attach to the event? I'm asking because we could consider a f

[2021-07-26 22:53] bruno-garcia commented on #1620
Now that we have attachment support it makes more sense to look into logcat again. It actually came up here: https://github.com/getsentry/sentry-java/issues/1615

If you're willing to discuss it would be nice to discuss ideas. @marandaneto I'm sure will have opinions here btw.

Very high level it would be nice to have an options: `attachLogcat` and the SDK automagically sends logcat files cap'ed a

[2021-07-27 01:11] fzyzcjy commented on #1620
@bruno-garcia Interested in the suggestion!

[2021-07-27 01:12] fzyzcjy commented on #1616
@bruno-garcia I have some c++ code so I need to capture the native crashes :/ is there any ways to shrink it?

[2021-07-27 02:17] Iamjakerrrr commented on #1615
[code]

[2021-07-27 02:23] kyze8439690 commented on #1615
It will be very helpful to debug crash/error if logcat is attached.

[2021-07-27 06:39] Swatinem commented on #1615
In theory this is possible a bit similar to the java code:

Register the attachment at init time. You will have to call init on the native SDK yourself in this case, as the NDK integration does that automatically otherwise.

https://github.com/getsentry/sentry-native/blob/c3d490fc35c4265db11376700b0d43300b10a0e8/include/sentry.h#L919-L927

Then use a `before_send` hook to write to that file. Note

[2021-07-27 07:16] AshStefanOltmann commented on #1612
Thank you, that works for me as expected. 👍

I also would expect that I don't need to configure that extra after setting the cacheDir, but this automatically happens when a cacheDir was set.

I guess @gaojun2048 expected the same.

Maybe you find a solution to set the cacheDir also to a default value like LOCALAPPDATA on Windows or the Library/Caches/ dir on macOS. Would make sense to me that offl

[2021-07-27 08:34] leiless opened #1624 "log4j2: ERROR Appenders contains an invalid element or attribute "Sentry""
_Platform:_
- [x]  Java -> OpenJDK 1.8, Sentry for Java 5.0.1
- [x]  Log4j2 -> 2.14.1

_IDE:_
- [x]  IntelliJ -> 2021.1.3

_Build system:_
- [x]  Maven -> 3.6.3

_Platform installed with:_
- [x] Maven Central

---

I have the following issue:

When I configurated Sentry for log4j2, I met the following error messages on app boot:
[code]

## My configs

### `log4j2.xml`

[code]

### `sentry.properti

[2021-07-27 08:43] leiless commented on #1624
## `pom.xml` snippet

[code]

[2021-07-27 08:55] Swatinem commented on #1614
https://nvd.nist.gov/vuln/detail/CVE-2016-0760

This talks about `Apache Sentry before 1.7.0`, so I think this is a false positive? Also the CVE is from 2016, so older than sentry-native itself.

[2021-07-27 08:59] leiless commented on #1624
It turns out that I used wrong `artifactId` 🥲

[code]

[2021-07-27 08:59] #1624 closed

[2021-07-27 08:59] marandaneto commented on #1612
@AshStefanOltmann yep, that would be a fix, its an oversight.

that's arguable since offline caching has some cost (IO) etc, I'd prefer to be opt-in for the server-side which rarely runs out of connection, but that would be a conversation for another issue.

[2021-07-27 09:00] marandaneto commented on #1612
not sure if I tag as a `bug` or `enhancement` since https://github.com/getsentry/sentry-java/issues/1309 is the original issue on how to do it

[2021-07-27 09:04] marandaneto commented on #1617
@tiagodinis33 can you paste the `debug` output, please? thanks

[2021-07-27 09:07] marandaneto commented on #1620
it'd be possible ootb only via bytecode manipulation or executing `logcat params...` and writing the output to a file or parsing the text, of course.
I'm not sure if it's a good idea though since it's rather a good practice to remove every logcat call from production apps via Proguard/R8 to reduce the app's size, there's some cost in it, but obviously, a nice feature to have.
I'm just questioning

[2021-07-27 17:14] AshStefanOltmann commented on #1612
@marandaneto There is still a problem with the solution somehow.

If that integration is set it seems that crash reports don't get send if the software is online but only on restart.

What I need is sending the crash report if online (normal case) but caching and not loosing it if the user should be offline.

How can I achieve / workaround that for now?

[2021-07-27 19:17] marandaneto commented on #1612
@AshStefanOltmann if what you say is the actual behavior, it's a bug and we have to fix it.

@maciejwalkowiak mind checking it out?

[2021-07-27 19:17] triplef opened #1626 "Using custom sentry-native library with Android SDK"
Our Android app uses both Java and native C/C++ code with Qt, and we’d like to take advantage of the optional Qt integration in sentry-native, which is not enabled for the sentry-native library bundled with the Sentry Android SDK from Maven Central.

Is it possible to use a self-compiled sentry-native library in combination with the sentry-android SDK?

[2021-07-27 19:30] bruno-garcia commented on #1626
@triplef I might be wrong here and @Swatinem can call em out but assuming all there is to it is compiling with the Qt flags, it's probably fine to just replace the `libsentry.so` in the `sentry-android-ndk.aab` with your own version since we don't do anything fancy when compiling [`sentry-native`](https://github.com/getsentry/sentry-native):

https://github.com/getsentry/sentry-java/blob/82dbee6c3

[2021-07-27 19:56] caseyduquettesc commented on #1512
I'm not sure how it would be designed. My example adds breadcrumbs and spans with text specific to my use case. To add a package with the same behavior that can be generic enough for everyone, we would need figure out
* Should it create breadcrumbs and should the breadcrumbs be customizable (both their creation and content)?
* What should the span descriptions be? Streaming grpc spans would be hig

[2021-07-27 20:07] triplef commented on #1626
Thank you for the quick input on this @bruno-garcia!

This sounds like it should work fine, but I'd like to see if there's a way we can keep using the official builds of the Android SDK to keep things simple.

I'm not entirely clear on how linking works with AABs, but would it work to keep using the Android SDK from Maven Central and just link our Qt project against a self-built sentry-native.so w

[2021-07-28 06:40] AshStefanOltmann commented on #1612
@marandaneto Ok, I was wrong here.

In my case debug reveals that "payload reached its size limit". Sorry about that.

That I can create messages that are too big may be a problem for another issue.

[2021-07-28 06:49] marandaneto commented on #1612
@AshStefanOltmann indeed, See https://develop.sentry.dev/sdk/envelopes/#size-limits
consider using the attachments feature maybe, thanks for figuring it out

[2021-07-28 06:53] AshStefanOltmann commented on #1612
@marandaneto Thanks for the hint to the attachment feature. I will try that out.

Are the numbers in the docs are up to date?
My debug log said that 200 kb is the limit and my envelope was above that.

[2021-07-28 06:53] marandaneto commented on #1626
@triplef that makes sense.

@Swatinem would be possible to turn this on by default for Android builds? is there any side effect rather than package size ?

[2021-07-28 07:01] marandaneto commented on #1512
@caseyduquettesc thanks for your reply.

we can create the breadcrumbs with the values we have as we do for OkHttp, the final user always can use the `BeforeBreadcrumbCallback` if necessary to customize them.

makes sense, similar to the case above, in case we cannot figure out the description, we can add a generic one, we can add a `beforeSpanCallback` so the user can customize the span after its

[2021-07-28 07:38] triplef commented on #1626
I believe this will require linking against Qt libraries, so that wouldn’t work for the default case, unless there was a way to resolve these symbols at runtime if available. It would definitely be nice if the Android SDK were to support Qt out of the box.

[2021-07-28 07:46] marandaneto commented on #1626
last case a pre-compiled package would work too, like `sentry-android-qt` which does the linking against the Qt libraries, but the package would be added manually along with `sentry-android` instead of a transitive dependency of `sentry-android`

[2021-07-28 07:47] marandaneto commented on #1612
@AshStefanOltmann I believe the size was increased a while ago and logs might be outdated, would you be so nice as to copy-paste the error message? so I can fix it, thanks.

[2021-07-28 08:03] Swatinem commented on #1626
As @triplef mentioned, building for Qt by default would mean that the Qt libraries are required at runtime so that is not the way to go.

If you want to continue using the pre-build/packaged version of sentry-native, you can do so, and just vendor/copy-paste the integration into your own code. It is super tiny, and does not depend on any sentry-native internals. All the integration does right now

[2021-07-28 08:48] triplef commented on #1626
Ah nice, that seems like the most straightforward solution. Thank you @Swatinem!

[2021-07-28 08:48] #1626 closed

[2021-07-28 09:45] AshStefanOltmann commented on #1612
@marandaneto All good. I may have mistaken that also. I was sure the message from the server said something about 200kb, but if I try to reproduce it's not mentioned anymore.

Looks good to me.

[code]

[2021-07-28 12:28] #1484 closed

[2021-07-28 17:50] caseyduquettesc commented on #1512
Sounds good. I think this is doable through callbacks

[2021-07-28 18:25] bruno-garcia opened #1628 "Support for Feign"
We currently support OkHttp, RestTemplate (and [WebClient is in the works](https://github.com/getsentry/sentry-java/pull/1621)).

The goal is to extend it by adding Feign: https://github.com/OpenFeign/feign

What to expect from this support is defined in our current 'Expected features: HTTP Client' docs:

https://develop.sentry.dev/sdk/features/#http-client-integrations

[2021-07-29 08:32] marandaneto commented on #1105
Craft does it now: https://github.com/getsentry/sentry-java/blob/main/.craft.yml#L4-L7

[2021-07-29 08:32] #1105 closed

[2021-07-29 08:32] marandaneto commented on #1063
fianlly https://github.com/getsentry/sentry-java/blob/main/.craft.yml

[2021-07-29 08:32] #1063 closed

[2021-07-29 08:55] marandaneto opened #1630 "Bump AGP to v7"
https://developer.android.com/studio/releases/gradle-plugin#7-0-0

requires changing GH Actions to use Java 11

[2021-07-29 16:34] bruno-garcia commented on #1063
I'll buy a moët now!

Thanks everyone 🍾

[2021-07-30 10:39] bramhaag commented on #1553
[This issue can also be caused by a bug in the latest version of the Android Gradle Plugin under specific circumstances. ](https://issuetracker.google.com/issues/194289155)

[2021-07-31 03:04] fzyzcjy commented on #1620
@marandaneto @bruno-garcia I realize this is REALLY VERY VERY useful, when I am debugging today. I am debugging a third party sdk, and finally one useful clue is found by examing system logcat. without using logcat to see what the 3rd party library logs out, I cannot find any useful clue.

[2021-08-02 11:13] VladyslavKasprov opened #1631 "When can we expect 5.1.0 release?"
I'm looking forward towards integratimg Fragment breadcrumbs collection in our app.

It's already been 2 months since 5.0.0 release. I'd like to know when can we expect 5.1.0 release?

[2021-08-02 19:18] maciejwalkowiak commented on #1619
Fixed in bb9f2480978950be3968849df9dd8bd0697e96ed

[2021-08-02 19:18] #1619 closed

[2021-08-02 21:01] #1617 closed

[2021-08-03 02:20] gaojun2048 commented on #1613
sentry.properties is in my classpath. Other properties from this file are applied to `SentryOptions` ok.

[2021-08-03 02:28] gaojun2048 commented on #1612
Thanks everyone, I will try @marandaneto solution and submit a report.

[2021-08-03 11:55] maciejwalkowiak commented on #1613
@gaojun2048 I tried and failed to reproduce this issue. Please look at the repository here: https://github.com/maciej-scratches/sentry-proxy-sample

Proxy is configured in `src/main/resources/sentry.properties`, once you run it without proxy running, sending event fails with `java.net.SocketTimeoutException: connect timed out`, which means that proxy properties are loaded from the file.

It is imp

[2021-08-03 21:47] bruno-garcia commented on #1631
@VladyslavKasprov Thanks for raising. We plan to ship this in the upcoming days/weeks. We're looking for more validation of the features we've recently added. Did you try the fragment in the beta releases already?

Also, we've added App Start and Frozen/Slow frames, did you have a chance to look at those numbers and try things out?

If you're on sentry.io I'm also happy to opt you in to our early

[2021-08-05 02:07] LoveLin0516 commented on #1614
Thanks for reply， I Will check it and discuss with our Security  co-worker， and then I Will come back to synchronize the information.

<br class="Apple-interchange-newline">

[2021-08-05 02:09] LoveLin0516 commented on #1614
Thanks for reply，  I cant see more information from the Tool.    I Will check it and discuss with our Security co-worker， and then I Will come back to synchronize the information.

[2021-08-06 07:49] Swatinem commented on #1477
[code]
That is indeed very interesting. We fixed pointer tagging incompatibility a *long* time ago. Still unfortunate that we don’t have file/line info for which exact `free` call is causing this.
@tmilovan123 which exact version are you using? Is it a pre-compiled one? Good thing is that the debug id is there.

[2021-08-06 08:17] LoveLin0516 commented on #1614
Hi，I Have discussed this question with our Security co-worker ，They checked the Security tool and say it was a False positive.

so the question is done , thanks for reply...   appreciate it a lot

[2021-08-06 08:45] jan-auer commented on #1614
Thanks for the update!

[2021-08-06 08:45] #1614 closed

[2021-08-07 15:44] VladyslavKasprov commented on #1631
@bruno-garcia Thanks for the feedback. Yes, I tried fragment breadcrumbs already. They work very well)

No, I haven't seen App Start and Frozen/Slow frames yet. Our plan on sentry.io doesn't include Performance :(

Yes, I'd like to.

[2021-08-08 20:50] bhavayAnand9 opened #1636 "sentry-spring not reporting errors from spring services"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-08-09 04:16] maciejwalkowiak commented on #1636
@bhavayAnand9 there are at least 3 ways you can go to integrate Sentry into Java app:

1. for Spring Boot applications - use `sentry-spring-boot-starter` ([docs](https://docs.sentry.io/platforms/java/guides/spring-boot/))
2. for plain Spring (no Spring Boot) - use `sentry-spring` - this is where `@EnableSentry` comes from ([docs](https://docs.sentry.io/platforms/java/guides/spring/)) - you don't c

[2021-08-10 16:43] adenisonafifi opened #1639 "Sentry Issue missing device information when crashing in native code"
_Platform:_
- [X]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [X]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-08-10 18:03] bhavayAnand9 commented on #1636
Thanks @maciejwalkowiak , that resolved my issue

but using `@EnableSentry` has one more issue, it requires a constant string. Is there any other way to configure DSN during runtime?

[2021-08-11 04:45] maciejwalkowiak opened #1640 "Add SpEL support to `@EnableSentry` annotation"
Currently the `dsn` must be hardcoded when `@EnableSentry` is used. It should be possible to use SpEL to retrieve value for DSN from properties.

[2021-08-11 04:45] maciejwalkowiak commented on #1636
Created issue for this https://github.com/getsentry/sentry-java/issues/1640

[2021-08-11 04:45] #1636 closed

[2021-08-11 07:23] marandaneto commented on #1639
@adenisonafifi

no, not really.

I just tried to reproduce it and I do get the Android part, can you specify the "expected Android SDK portion of the error report"?
also, how are you reproducing a crash on native code?

[2021-08-11 08:17] maciejwalkowiak commented on #1640
Resolving properties like `@EnableSentry(dsn = "${my.props.dsn}")` is already working once `PropertySourcesPlaceholderConfigurer` is declared:

[code]

[2021-08-11 16:31] adenisonafifi commented on #1639
I am attaching screenshots of two error reports from the same build. One error report from calling `Sentry.captureException(e);` in Java, and the other from a C++ crash (executing `*((unsigned int*)0) = 0xDEAD;`).

The same force crash mechanism shows device information for Windows, MacOS, iOS, and tvOS (and has application lifecycle information in the tvOS and iOS versions).

<img width="1971" al

[2021-08-12 07:05] maciejwalkowiak commented on #509
In addition to a servlet request listener, we have now `SentrySpringFilter` and `SentryUserFilter`, so the issue can be closed.

[2021-08-12 07:05] #509 closed

[2021-08-12 07:17] fzyzcjy opened #1642 "I cannot publish my app :( Sentry does not capture crashes, and my app gets rejected again and again by app stores"
_Platform:_
- [x]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-08-12 07:22] bruno-garcia commented on #1642
Dupe https://github.com/getsentry/sentry-dart/issues/548

[2021-08-12 07:22] #1642 closed

[2021-08-12 08:37] fzyzcjy opened #1643 "When Android capture unhandled exception, let the app do not crash immediately, but instead give sentry several seconds to upload exceptions to server"
_Platform:_
- [x]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-08-12 12:13] fzyzcjy commented on #1643
@marandaneto My suggestion is on the *shutdown* procedure, not the *startup* of next run. See the reasons above for why I suggest this ;)

[2021-08-12 12:16] marandaneto commented on #1643
@fzyzcjy yep I know, but the NDK integration doesn't have a transport that sends an event to Sentry, it only writes a file to the disk which is picked up on restart and sent it over to Sentry via the Java transport, otherwise we have to change quite a lot of things, but we'll take into consideration, whats the best approach and improve from there, thanks.

[2021-08-12 12:37] fzyzcjy commented on #1643
@marandaneto We may treat the two differently. For android errors, it can be uploaded before shutdown; for ndk, need to upload the next time.

You are welcome!

[2021-08-12 13:29] marandaneto opened #1646 "Bump AGP to 7.0.0"
Android libs don't have `versionName` and `versionCode` anymore.

it requires Java 11, so GH Action has to be fixed too.

if `versionCode` is totally removed, we can remove the craft bump script too (also `buildVersionCode` from gradle.properties)

`jvmTarget` should still be Java 1.8 though because of compatibility.

[2021-08-13 03:08] fzyzcjy commented on #1643
@marandaneto The reason is that, it is much rare for android people to see ndk bugs compared with java bugs, so by adding this proposed feature, a major part (instead of minor part) can be benefited ;)

[2021-08-13 08:30] romtsn opened #1647 "Add Radiography integration"
Add optional [Radiography](https://github.com/square/radiography) integration to automatically capture view hierarchy in case of a crash. Can be sent as a text file via an [attachment](https://docs.sentry.io/platforms/android/enriching-events/attachments/).

The benefit is that it also supports Jetpack Compose.

[2021-08-13 09:03] gaojun2048 commented on #1612
Today I try @marandaneto solution and it works fine. Thank you

[2021-08-13 09:03] #1612 closed

[2021-08-13 09:23] #1452 closed

[2021-08-13 09:23] #1453 closed

[2021-08-17 00:23] tmilovan123 commented on #1477
@Swatinem Sorry for the late reply - yes, we use a precompiled version, 2.3.1.

[2021-08-17 08:06] marandaneto commented on #1477
@tmilovan123 please upgrade your Android SDK, the pointer tag issue has been solved a while ago already, which is also different than this issue, https://github.com/getsentry/sentry-native/releases/tag/0.4.3
thanks

[2021-08-17 08:15] JorisBodin commented on #1477
In sentry 5.0.1 we have this:

	OS Version: Android 11 (LE2113_22_210708)
	Report Version: 104

	Exception Type: Unknown (SIGSEGV)

	Application Specific Information:
	Segfault

	Thread 0 Crashed:
	0   libart.so                       0x7172c9ae7c        art::FaultManager::GetMethodAndReturnPcAndSp
	1   libart.so                       0x7172843e28        art::FaultManager::IsInGeneratedCode
	2   li

[2021-08-17 09:34] marandaneto commented on #1616
@fzyzcjy currently not, but you can pre-compile your own version of https://github.com/getsentry/sentry-native and remove features that are not used by your project.

[2021-08-17 09:35] marandaneto commented on #1628
https://github.com/getsentry/sentry-java/pull/1632

[2021-08-17 09:35] #1628 closed

[2021-08-17 09:39] Swatinem commented on #1477
`unwindstack::Maps::Parse` is coming from code that we vendor, however the `string::append` looks very suspect.
Not quite sure if this is coming from a signal handler in which case the unwindstack parsing is not signal safe.

[2021-08-17 09:41] marandaneto commented on #1631
we're going to release it late today, closing it, thanks!

[2021-08-17 09:41] #1631 closed

[2021-08-17 09:45] fzyzcjy commented on #1616
@marandaneto Thank you.

[2021-08-17 09:46] Swatinem commented on #1616
its possible that some of the codesize comes from us vendoring a libunwindstack fork, which is heavy on c++, which is not known for small code size.

Anyhow, it is currently needed, otherwise you won’t have any stack traces. But we are looking into ways to improve that in the future.

[2021-08-17 09:48] marandaneto commented on #1639
@adenisonafifi I just tried to reproduce this issue and could not, on App restart, the event has full Android context, can you set up a sample project on GitHub that helps to reproduce this issue? I'm looking for your SDK init set up, etc.

Maybe Device Brand, Model and OS version too, it could be related to it, thanks

[2021-08-17 10:02] fzyzcjy commented on #1616
@Swatinem Thank you as well.

[2021-08-17 13:36] maciejwalkowiak commented on #874
Tags can. be set now using environment variables and system properties: https://docs.sentry.io/platforms/java/configuration/#tags

I believe this issue can be closed.

[2021-08-17 13:44] maciejwalkowiak commented on #1613
@gaojun2048 did you manage to get it working?

[2021-08-17 13:47] maciejwalkowiak commented on #1526
Since this change isn't breaking, it can be done in 5.x

[2021-08-17 14:02] #1309 closed

[2021-08-17 14:40] marandaneto commented on #874
@maciejwalkowiak I believe the issue here is about merging tags and not really setting in different ways, do we merge tags already?

[2021-08-18 05:47] gaojun2048 commented on #1613
Yes, It is ok when I add this line: `options.setEnableExternalConfiguration(true)`

[2021-08-18 05:53] #1613 closed

[2021-08-18 07:06] klemenag commented on #1498
This is working, amazing! Thanks!

Maybe add this to documentation at least as a hint?

[2021-08-18 07:42] bruno-garcia opened #1653 "Add performance monitoring to the wizard"
After the initial steps to add the SDK, lets guide the users through setting up performance monitoring

[2021-08-18 07:43] bruno-garcia opened #1654 "Add performance monitoring to the wizard"
After the initial steps to add the SDK, lets guide the users through setting up performance monitoring

[2021-08-18 07:43] #1654 closed

[2021-08-18 07:53] marandaneto commented on #1569
dup of https://github.com/getsentry/sentry-java/issues/1125

[2021-08-18 07:53] #1569 closed

[2021-08-18 07:55] marandaneto commented on #1630
dup of https://github.com/getsentry/sentry-java/issues/1646

[2021-08-18 07:55] #1630 closed

[2021-08-18 12:22] maciejwalkowiak commented on #1653
To what degree should the wizard cover the performance setup? Currently pure Java wizard contains:

[code]
Does not cover custom callbacks etc - just the bare minimum. In the verify section we do not cover sending transactions.

[2021-08-18 12:25] maciejwalkowiak commented on #874
@marandaneto got it. #1656 addresses merging tags.

[2021-08-18 14:31] #874 closed

[2021-08-19 04:47] lennykano opened #1659 "ActivityFrameTracker breaks runtime theme changing."
_Platform:_
- [x]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-08-19 07:09] #1526 closed

[2021-08-19 07:59] #1107 closed

[2021-08-19 07:59] #1226 closed

[2021-08-19 08:06] maciejwalkowiak commented on #1533
We could change it to a synchronized `List<WeakReference>` but I don't see benefit. I think the code would not be more readable either.

[2021-08-19 08:42] marandaneto commented on #1533
ideally `CopyOnWriteArrayList<WeakReference>`, but indeed it's not much benefit rather than correctness, since we use a `Map` but only the key, no value, maybe using a List is cheaper in memory allocation?

[2021-08-19 08:48] marandaneto commented on #1659
@lennykano thanks for reporting, interesting corner case, let me investigate this, if its the case, we can move the calls from `onActivityPreCreated` to `onActivityCreated`

[2021-08-19 08:57] #1576 closed

[2021-08-19 08:57] #1564 closed

[2021-08-19 09:00] maciejwalkowiak commented on #1533
I think its O(n) in both cases, and I think both need to iterate over whole collection till they find a value.

[2021-08-19 09:09] marandaneto commented on #1533
@maciejwalkowiak WeakHashMap is O(1) because its a hashtable.
CopyOnWriteArrayList should be O(n) since it goes item per item.

https://www.baeldung.com/java-collections-complexity
I guess its best to keep as it is then, lets close the issue

[2021-08-19 09:13] #1533 closed

[2021-08-19 11:57] marandaneto opened #1662 "Improve CodeQL CI"
https://github.com/getsentry/sentry-java/blob/main/.github/workflows/codeql-analysis.yml

add Gradle caching https://github.com/getsentry/sentry-java/blob/main/.github/workflows/build.yml#L33-L41

instead of running `make all` which runs tests etc, just build it using `./gradlew assemble`

[2021-08-19 12:09] marandaneto opened #1663 "ShutdownHookIntegration#close during test trigger error"
2021-08-19 14:06:58.974  INFO 38071 --- [extShutdownHook] o.s.s.concurrent.ThreadPoolTaskExecutor  : Shutting down ExecutorService 'applicationTaskExecutor'
DEBUG: UncaughtExceptionHandlerIntegration removed.
ERROR: Error while closing the Hub.
java.lang.IllegalStateException: Shutdown in progress
        at java.lang.ApplicationShutdownHooks.remove(ApplicationShutdownHooks.java:82)
        at jav

[2021-08-19 12:27] marandaneto opened #1664 "Improve CI by not running all the tasks for debug and release on Android"
https://github.com/getsentry/sentry-java/blob/main/.github/workflows/build.yml#L43-L45

`gradlew build` runs `check` which runs tests for debug and release variants on Android, either we filter the debug tests via gradle configuration, or make the gradle call for specific testing flavors like `testReleaseUnitTest`

something like:

[code]

we just need to find out how to filter tests to be run on

[2021-08-19 12:42] marandaneto commented on #1664
@cortinico since you are the Gradle master, do you know an easy way out of it? if I don't filter the debug tests via gradle configuration, I have to use something else instead of `./gradlew build` to trigger all the checks etc

[2021-08-19 12:57] cortinico commented on #1664
Could the `debug` variant be disable entirely? Or are there reason to have it enabled?

[2021-08-19 13:33] marandaneto commented on #1664
yes but I wanna be able to run and debug my app locally still, if it does not affect that, all good.

[2021-08-19 13:34] #1659 closed

[2021-08-19 13:44] cortinico commented on #1664
I would setup up a `variantFilter` like this one https://stackoverflow.com/a/32129704/3765748 and have a condition that checks for an environment variable (say `CI`).

[2021-08-19 14:17] marandaneto commented on #1664
very good idea, thanks a lot @cortinico

[2021-08-19 16:32] #1664 closed

[2021-08-19 16:33] #1662 closed

[2021-08-19 16:51] maciejwalkowiak commented on #1663
Duplicate of #1574?

[2021-08-19 17:14] marandaneto commented on #1663
ups, indeed

[2021-08-19 17:14] #1663 closed

[2021-08-19 18:01] jeffreyfate opened #1668 "Unable to configure via Sentry.init for sentry-spring-boot-starter"
_Platform:_
- [x]  Java -> 8
- [x]  Spring -> Boot 2.5.3

_IDE:_
- [x]  IntelliJ -> IDEA 2021.2 (Ultimate Edition)

_Build system:_
- [x]  Maven -> 3.6.1

_Platform installed with:_
- [x] Maven Central

The version of the SDK:
**5.1.0**

---
I have the following issue:

We want to store our DSN outside of source. Our method of bringing in the DSN is via @Configuration at runtime. However, it isn't

[2021-08-19 23:21] lennykano commented on #1659
@marandaneto thanks for the quick turnaround.

[2021-08-20 00:59] cheng-liven opened #1669 "Make Android installation ID filename unique"
_Platform:_
- [x]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?

The version of the SDK:
**5.1.1**

Other questions were removed since not relevant

---
I have the following issue:

https://github.com/getsentry/sentry-java/blob/main/sentry-android-core/src/main/java/io/sentry/android/core/Installation.java#L18

The device ID file Sentry saved us

[2021-08-20 07:29] marandaneto commented on #1669
@cheng-liven thanks for reporting, indeed, the file name could be a bit more specific

[2021-08-20 07:54] maciejwalkowiak commented on #1668
Hi @jeffreyfate.

DSN can be set through Spring Boot environment abstraction, for example with environment property `SENTRY_DSN` or system property `sentry.dsn`, or if you use Spring Cloud, through the Spring Cloud Config etc.

If you mean that you want to dynamically fetch DSN from somewhere on application startup, you can implement custom config loader (like "Additional locations" in https://spr

[2021-08-20 09:27] maciejwalkowiak commented on #1593
Since its a stream of bytes, how would we know that this is the end of the message and should be turned into event?

[2021-08-20 09:41] marandaneto commented on #1586
not sure if I follow the request, this is already possible, the Hybrid SDK just should turn on/off the desired features? eg https://github.com/getsentry/sentry-java/blob/main/sentry-android-core/src/main/java/io/sentry/android/core/SentryAndroidOptions.java#L71

[2021-08-20 09:42] marandaneto commented on #1549
@donlan any news here? thanks

[2021-08-20 09:56] bruno-garcia commented on #1593
The default strategy could be based on utf8-encoded string looking for `\n`?

Let's keep this issue open to see if anyone 👍 and give some feedback on how we could go about this. So far seems like not worth spending time on this.

[2021-08-20 10:02] marandaneto commented on #1508
theres an issue that if sending event and attachment in different envelopes, it may cause an error rendering the event since the attachment isn't ingested yet, solving this issue, also solves this one for free

[2021-08-20 10:06] marandaneto commented on #1593
the issue is similar to https://github.com/getsentry/sentry-java/issues/1620
the same approach should be taken, or, bytecode manipulation

[2021-08-20 10:06] #1359 closed

[2021-08-20 10:07] bruno-garcia commented on #1593
@marandaneto You can subscribe to a stream with `System.err`, differently than `logcat`

[2021-08-20 10:11] bruno-garcia commented on #1125
We dropped the idea of using a callback here. Copying for #1569

? This will be used by Unity (see getsentry/sentry-dotnet#1096)

[2021-08-20 12:39] marandaneto commented on #1593
@bruno-garcia you can, there are a few options, eg `logcat -b default`, which is a buffer, `logcat -f file.txt`, etc... but yeah lets wait some more feedback over it

[2021-08-20 16:48] jeffreyfate commented on #1668
Thank you for the quick reply!

The last option seems to fit our case the best - we're pulling the DSN as a secret from AWS Secret Manager at runtime.

I tried using a `Sentry.OptionsConfiguration<SentryOptions>` bean as you mention above, but it appears the hub does not get configured using this method. No errors are sent to Sentry.

I also tried it as `@Primary` with the same result.

Do I need

[2021-08-23 07:04] maciejwalkowiak commented on #1668
Check the sample repository on how to get it working: https://github.com/maciej-scratches/sentry-spring-boot-custom-options-configurer

Probably a non-obvious trick, is that `sentry.dsn` property in `application.properties` must be set - even with a dummy value - just to trigger auto-configuration. Then, the bean of type `Sentry.OptionsConfiguration<SentryOptions>` can reconfigure `SentryOptions`.

[2021-08-24 10:22] hanswesterbeek commented on #542
I encountered this today as well.

I think more users will be affected by this as they migrate away from RestTemplate to WebClient.

[2021-08-24 11:24] deependrasolanky opened #1677 "Spring Boot War Application not starting after integrating Sentry"
_Platform:_
- [x]  Spring

_IDE:_
- [X]  IntelliJ

_Build system:_
- [x]  Maven

The version of the SDK:
**5.1.1**

---
I have the following issue:

**Steps to reproduce:**
- Spring Boot Application works fine in development on local system. But application is not being started after deploying  as War file on Tomcat 8.5

**Actual result:**
- Application not started.  **org.apache.catalina.core.Sta

[2021-08-24 11:53] marandaneto commented on #1497
@denrase btw not every protocol class needs to implement the new `JsonUnknown` interface, since the ingestion drops unknown fields, I don't know by heart which ones, but we can clarify that via docs or with the ingestion team

[2021-08-24 11:53] marandaneto commented on #1420
closed in favor of https://github.com/getsentry/sentry-java/issues/1537

[2021-08-24 11:53] #1420 closed

[2021-08-24 13:23] mjd3253 opened #1678 "Sentry Migration Issue 1.7.30 To 5.1.1 it Unable to Start Tomcat Server if i change Sentry Version 5.1.1"
_Platform:_

- [ ]  Java -> 11
- [ ]  Logback -> io.sentry:sentry-spring-boot-starter:5.1.1
- [ ]  Sentry -> io.sentry:sentry-logback:5.1.1
- [ ]  Spring Boot -> 1.4

_IDE:_
- [ ]  IntelliJ -> 2021.2

_Build system:_
- [ ]  Gradle -> 6

---
I have the following issue:

java.lang.IllegalStateException: Error processing condition on io.sentry.spring.boot.SentryAutoConfiguration$HubConfiguration$Sent

[2021-08-24 13:26] marandaneto commented on #1678
the minimal version of the supported Spring Boot is 2.1 and above, see https://docs.sentry.io/platforms/java/guides/spring-boot/
please either upgrade your Spring Boot version or keep using the old version of the Sentry Java SDK

[2021-08-24 13:26] #1678 closed

[2021-08-24 13:27] marandaneto commented on #1677
@deependrasolanky thanks for reporting, can you post the error stack trace? and what's the version of the Spring Boot? thanks

[2021-08-24 14:21] deependrasolanky commented on #1677
Thank you for your response.
**Spring Boot Version 2.5.4**
Error Stack Trace
[code]

[2021-08-24 20:30] audkar opened #1679 "Allow custom getFragmentNames in FragmentLifecyclesBreadcrumbs"
_Platform:_
- [x]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-08-25 00:15] luizfp commented on #1677
Similar problem here!

Application .war is successfully deployed but all requests fail.

Also using 5.1.1 and tomcat 8.

[2021-08-25 07:49] marandaneto commented on #1679
its a dup of https://github.com/getsentry/sentry-java/issues/1086 but will keep it open since its specific to the FragmentLifecyclesBreadcrumbs

you can exclude the minification of file names via proguard configuration, you can also customize the breadcrumbs via the callback https://docs.sentry.io/platforms/android/enriching-events/breadcrumbs/#customize-breadcrumbs
but a `fragmentNameProvider` is

[2021-08-25 07:50] marandaneto commented on #1677
@maciejwalkowiak can you check this out? thanks

[2021-08-25 07:58] audkar commented on #1679
This doesn't fit our needs fully, since we would like to have custom name for a screen. e.g. if our fragment is named `com.pkg.InnerClientLoginFragment` we would like to see `ClientLogin`. We have all screens name mapping logic. It's used between all our tools (analytics, etc).

If we want to get custom name we need reference to a `Fragment` instance

That would be good too. As long as we can get

[2021-08-25 08:35] marandaneto commented on #1679
the method `addBreadcrumb` accepts a `hint` too which can be the `Fragment` instance, so you can use the `BeforeBreadcrumbCallback` to mutate the breadcrumb's name, I will discuss about that

[2021-08-25 09:13] marandaneto opened #1682 "E2E for sentry-java console app"
Similar to the Dart E2E, we can do the same for sentry-java core

https://github.com/getsentry/sentry-dart/blob/main/e2e_test/bin/e2e_test.dart
https://github.com/getsentry/sentry-dart/blob/main/.github/workflows/e2e_dart.yml

ideally, we'd not only check if `response.statusCode == 200` but rather asserting the fetched event since we have the instance of the captured `Exception`, we could assert m

[2021-08-25 12:22] #1677 closed

[2021-08-25 14:24] bruno-garcia commented on #1542
Compose has GA'ed recently! 🥳

[2021-08-25 14:38] bruno-garcia commented on #1586
Android instrumentation options are already fine grained as @marandaneto pointed out.
Please reopen if there's something you need that's not there in the code yet

[2021-08-25 14:38] #1586 closed

[2021-08-31 08:26] maciejwalkowiak commented on #1682
Not sure what would be the purpose of this test.

This would mean that the test will fail if the production Sentry instance is either down or processing events takes time. IMO this test could work as a system test, for a dashboard purposes to verify - showing the stability of the whole system, but not as a test that runs every commit.

If we want to test our SDK (or all SDKs), if they conform with

[2021-08-31 09:08] marandaneto commented on #1682
it's an E2E that would validate that we are generating a valid envelope/event etc, but also asserting the ingested event, eg if there were no errors, so we know that our PR didn't break anything during ingestion although the event looked like valid, as we don't have such validation on the SDKs, `relay` is the responsible for it.

indeed, but that's almost never the case.

true, and it's been an is

[2021-08-31 09:08] marandaneto commented on #1682
maybe @bruno-garcia has opinions since he's also pushing E2E tests or at least integration tests

[2021-08-31 13:29] bruno-garcia opened #1689 "Use `float` instead of `Date` for protocol types for higher precision"
* If possible add an overload to with `float` but keep the `Date` one
* add backward compatibility when deserializing payloads

The goal is to have a higher precision in the performance product in particular. So types such as Span and Transaction should have `float` but it's less of a concern to something like Breadcrumb

[2021-08-31 19:27] bruno-garcia commented on #1689
@denrase we're hoping we can fit this change on the next major that'll include the new JSON serialization code.

[2021-08-31 19:42] bruno-garcia opened #1690 "Include unfinished spans in transactions"
When a transaction is finished, the SDK tries to send the data to Sentry.
If an open Span (one that was not finished) exist in that transaction, the SDK removes that span before sending the data to Sentry.

That was done because [Sentry will discard the transaction if unfinished spans are included](https://github.com/getsentry/relay/blob/569678659bac656d6c4a6edcbdf3381677b5eaa2/relay-general/src/s

[2021-09-01 09:30] userdimi opened #1691 "A proguard mapping file does not contain line info after uploading proguard files"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-09-01 14:25] bruno-garcia commented on #908
Maybe @Swatinem can help us out here

[2021-09-01 14:32] marandaneto commented on #1615
also similar to https://github.com/getsentry/sentry-dart/issues/575

[2021-09-01 14:37] bruno-garcia commented on #910
We decided not to truncate it for a few reasons:

* The max size of the payload changes overtime
* Truncating can affect the device performance negatively
* We can truncate breadcrumbs but multiple other areas of the event can be the cultprit such as user, extra and context
* The goal is to surface stats first so users can identify what areas are causing it and address the data before adding to Se

[2021-09-01 14:37] #910 closed

[2021-09-01 15:22] marandaneto opened #1693 "`transaction.contexts.trace.tags` should go under `transaction.tags`"
right now the transaction tags go under `transaction.contexts.trace.tags` but it should go under `transaction.tags`

`transaction.contexts.trace` should only have a few fields which are documented here https://develop.sentry.dev/sdk/event-payloads/transaction/#examples

[2021-09-01 15:23] marandaneto commented on #1693
@philipphofmann @brustolin can you check that for iOS, please?
@bruno-garcia for .NOT

[2021-09-01 15:24] marandaneto commented on #1693
<img width="515" alt="Screenshot 2021-09-01 at 17 20 58" src="https://user-images.githubusercontent.com/5731772/131698923-38c245a8-3625-40e5-9efd-a7dcee198d42.png">

[2021-09-01 20:39] bruno-garcia commented on #1682
Don't disagree with the concerns. And the e2e calling out to Sentry can be slow (it isn't flaky as much) as we've seeing in the RN SDK. There we had the extra motivation of testing the JS+Java and JS+Cocoa layers worked together and we didn't break the payload as we did some serialization round trips.

But additionally to that a goal is to make sure Relay isn't adding processing errors to the payl

[2021-09-01 20:42] edenman opened #1695 "Expose "max json payload size" in the SDK"
_Platform:_
- [x]  Android

The version of the SDK:
**5.1.2**

---
https://github.com/getsentry/sentry-java/issues/910 was closed with no action taken.  I think this is the wrong decision but one of the comments mentioned that the max payload size can change over time.

I have [code](https://github.com/getsentry/sentry-java/issues/910#issuecomment-644334854) in my app that trims breadcrumbs to get

[2021-09-01 20:45] edenman commented on #910
1) Max payload size changes: filed #1695
2) Truncating can affect device performance?  Really?  It's removing items from a list, we're not doing any serious calculation
3) Truncating breadcrumbs is the easiest and most obvious low-hanging fruit.  While it's true there could be other causes of a too-large payload, removing breadcrumbs would fix this issue for 90% of cases, I'm guessing
4) Exposing

[2021-09-01 20:46] bruno-garcia commented on #1695
The max payload size is defined by Sentry, not the SDK. So if you're hitting a Sentry 9 on prem it'll be one thing and SaaS, another.

You can find the sizes documented here:
https://docs.sentry.io/product/relay/options/#size-limits

Including:
[code]

[2021-09-02 06:37] marandaneto commented on #1695
@edenman

the max. payload was increased from 200kb to 1 mb which is 5x times more, the Sentry SDK does not have the ability of loading configurations on start-up, since this depends on the Server and not the SDK, exposing a constant wouldn't work.

[2021-09-02 06:54] philipphofmann commented on #1693
We don't put the tags to the trace; we only put them directly to the event.

[code]

[2021-09-02 07:12] marandaneto commented on #1693
@philipphofmann are you sure?

see https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentrySpanContext.m#L78-L90

[2021-09-02 07:24] philipphofmann commented on #1693
Ups sorry, I was mistaken. You are right. We put them in the wrong place. Will create an issue.

[2021-09-02 08:01] marandaneto opened #1696 "Check if there are missing proguard rules for the Android SDK"
https://developer.android.com/studio/releases/gradle-plugin#7-0-0

For convenience, AGP will generate a file that contains all potentially missing rules, writing them to a file path such as the following: app/build/outputs/mapping/release/missing_rules.txt. Add the rules to your proguard-rules.pro file to ignore warnings.

[2021-09-02 08:01] marandaneto commented on #1696
related to https://github.com/getsentry/sentry-java/issues/1646

[2021-09-02 13:11] marandaneto opened #1697 "Add allowList for the `tracestate` header"
related to https://github.com/getsentry/sentry-java/pull/1683
reason is https://github.com/getsentry/develop/issues/425

cc @bruno-garcia

it should be a List in the SentryOptions with an experimental annotation

[2021-09-02 13:15] marandaneto commented on #1697
@brustolin we'd need that on https://github.com/getsentry/sentry-cocoa/pull/1291 too, we need to align naming and so on

[2021-09-02 13:31] lobsterkatie commented on #1697
The PII part or the incorrect data part? Can you expand upon this a little?

[2021-09-02 13:49] marandaneto commented on #1697
ups, the PII part, we don't want to send the `tracestate` that may contain PII data when the user is making an API call, that's why we'd like to introduce an allow list that only sends that info if the target URL is in the allow list, that's the reason IIRC, correct me if I am wrong @bruno-garcia

[2021-09-02 14:29] lobsterkatie commented on #1697
Ah, got it. The equivalent to JS's `tracingOrigins` option.

Thanks.

[2021-09-02 14:35] marandaneto commented on #1697
its prob a dup of https://github.com/getsentry/sentry-java/issues/1585 then
in case we want to reuse the same list, wdyt @bruno-garcia ?

[2021-09-03 07:51] marandaneto commented on #1690
`deadline_exceeded` the status is called

[2021-09-03 09:05] maciejwalkowiak commented on #1697
So I am naming this new property `tracingOrigins`. Unlike Javascript, I guess it should not have `['localhost', /^\//]` as a default value.

What is the expected behavior if no tracing origins are set? Attach headers to every request, or do not attach headers to any request.

If the latter, this would be a breaking change.

[2021-09-03 09:33] marandaneto commented on #1697
I'd say if it's empty, send it to every request, and it's up to the user either to decide to add just a specific URL or not, otherwise, it'd not be scalable to the final user adding a new entry to `tracingOrigins` in case they want everything but they now have a new external call.

[2021-09-04 20:20] maciejwalkowiak commented on #1693
@marandaneto in the docs, it says that:

and then if you scroll below `status`, you'll find `tags`:

[2021-09-04 20:30] maciejwalkowiak commented on #1689
`float` or `long`?

[2021-09-05 09:26] marandaneto commented on #1693
@maciejwalkowiak `contexs.trace` isn't the same as the span, actually, `contexs.trace` should not even be of the type `SpanContext` but rather `TraceContext` which would be a type with only the needed fields as described above

[2021-09-05 09:27] marandaneto commented on #1689
`float` or `double` I guess, see `DateUtils.getDateTimeWithMillisPrecision`, we have to support the type eg `1581410911.988123456`

[2021-09-05 12:14] maciejwalkowiak commented on #1693
Perhaps docs are unclear then. IMO, it clearly states that tags is a part of `transaction.contexts.trace`

[2021-09-06 07:04] marandaneto commented on #1693
yep, docs aren't clear, could be improved, but look at https://develop.sentry.dev/sdk/event-payloads/transaction/#anatomy

which contains some data of the Span, but not everything

[2021-09-06 11:32] #1693 closed

[2021-09-06 11:32] #1697 closed

[2021-09-06 11:32] #1585 closed

[2021-09-07 12:06] marandaneto opened #1701 "Scope clones the transaction but it should not"
bug introduced in #1496

we have to confirm this behaviour but I am pretty sure it should not

[2021-09-08 07:51] #361 closed

[2021-09-08 09:16] marandaneto opened #1704 "Should not capture unfinished transaction"
https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/Hub.java#L547-L554

since we don't return if the transaction isn't finished, it still tries to capture and gets dropped by the server probably.

[2021-09-08 10:15] maciejwalkowiak commented on #1704
Practically it cannot happen - unless someone creates `SentryTransaction` manually and calls `captureTransaction` manually - it's a left over from the first performance implementation.

How about - we remove this check and `isFinished` method from `SentryTransaction`, and throw from `SentryTransaction` constructor if `SentryTracer#timestamp` is `null`?

[2021-09-08 11:42] marandaneto commented on #1704
that would be a breaking change since it could crash in case somebody does it, whats about just doing an `else if` after the `isEnabled` check, log it and return?

[2021-09-08 12:22] maciejwalkowiak commented on #1704
Both `SentryTransaction` and `captureTransaction` are annotated with `ApiStatus.Internal` - so it will break only those who went too far.

Doing `else if` is an easy way out, but also a lost opportunity so clean it up.

[2021-09-09 11:59] bruno-garcia commented on #1697
I agree. It's important to make this very clear in the docs

[2021-09-09 17:34] minyushov opened #1707 "Use App Startup library instead of ContentProvider"
Could you please consider using `androidx.startup:startup-runtime` instead of ContentProvider introduced in https://github.com/getsentry/sentry-java/pull/1487?

Jetpack libraries (e.g. WorkManager) are migrating from ContentProvider to App Startup library in order to improve app startup performance and to achieve predictable order of initialization. It would be very nice if Sentry does the same.

[2021-09-09 22:36] bruno-garcia commented on #1707
I'm not sure we can be adding a dependency to `androidx.startup:startup-runtime` directly anytime soon but perhaps there's a way to check at runtime if it's available, or have install instructions for users to avoid the content provider and use this approach instead.

@marandaneto thoughts?

[2021-09-10 05:36] marandaneto opened #1708 "BeforeSpanCallback isnt dropping spans"
Bug introduced by https://github.com/getsentry/sentry-java/pull/1699 since the span isn't finished, but the integration does it automatically

[2021-09-10 05:40] marandaneto commented on #1707
yep, the problem is depending on the library, when `startup-runtime` gets popular and implemented by all the android libs, could be possible, not yet.

you can always go for the manual init. https://docs.sentry.io/platforms/android/configuration/manual-init/ and remove the merging of the `ContentProvider`

[2021-09-10 05:42] marandaneto commented on #1704
the problem is that `isFinished` is used for some other things (eg feature `waitForChildren`), so we can't remove it.
@bruno-garcia opinions?

[2021-09-10 05:43] marandaneto commented on #1701
@bruno-garcia can you confirm?

[2021-09-10 05:55] marandaneto opened #1709 "Dont set lastEventId for transactions"
Related to https://github.com/getsentry/develop/issues/431

[2021-09-10 08:37] marandaneto opened #1710 "Check if `options.isTracingEnabled` before calling `Hub#assignTraceContext`"
we spare the lookup time (even if the map is empty), its probably more expensive than `isTracingEnabled` check

[2021-09-11 00:07] bruno-garcia commented on #1701
Looks like it's not cloning. It copies the reference thouhg:
[code]

https://github.com/getsentry/sentry-java/pull/1496/files#diff-9cb115b44ee4c6940b189c33ba24e7b6a168271eefc02f6c0d6c053e75da94c5R83

I believe that's the right thing so that in a server if you push a scope, you can still find the transaction and create children.

[2021-09-11 21:42] bruno-garcia opened #1711 "Android SDK crashes on Unity player"
While trying to add the Android SDK to the Unity SDK through https://github.com/getsentry/sentry-unity/pull/307:

Building from `main` branch, with the SDK added but no DSN given, the app fails to launch with:

[code]

[2021-09-13 05:37] marandaneto commented on #1233
fwiw, SDKs are setting the `span.data` as `span.data` since its part of the spec but if calling `transaction.data`, it goes to the `transaction.extra` field

[2021-09-13 06:09] marandaneto commented on #1711
@bruno-garcia as you do with `gson`, you've to do with the other transitive dependencies since the `msbuild` does not use Gradle to resolve dependencies via Maven.

[code]

also its dependencies, the other way around is disabling/removing the integrations that use them.
`AppLifecycleIntegration`, `ActivityLifecycleIntegration` and `PerformanceAndroidEventProcessor`

[2021-09-13 13:29] marandaneto commented on #1701
copying the reference is also done by the .NET/Python SDK, so I'll close it.
https://github.com/getsentry/sentry-python/blob/master/sentry_sdk/scope.py#L473

[2021-09-13 13:29] #1701 closed

[2021-09-13 14:18] bruno-garcia commented on #1489
Consider the need for high precision, see: https://github.com/getsentry/sentry-java/issues/1689

[2021-09-14 08:05] maciejwalkowiak commented on #1233
This has been already implemented once, and the decision was to wait with it until we hide/drop `ITransaction` interface: https://github.com/getsentry/sentry-java/pull/1235

[2021-09-14 08:48] marandaneto commented on #1233
@maciejwalkowiak yep I recall that but since dropping `ITransaction` would still have the same problem, I'd just do the same as the other SDKs, `ITransaction.data` sets to the `transaction.extra`, I'm currently implementing the performance API for Dart and I've done the same.

[2021-09-14 09:20] marandaneto commented on #1696
not related to sentry sdk

[2021-09-14 09:20] #1696 closed

[2021-09-14 11:55] #1708 closed

[2021-09-14 11:55] #1710 closed

[2021-09-14 12:44] #1646 closed

[2021-09-14 13:30] bhavayAnand9 opened #1715 "using SentryTracingConfiguration with Sentry.init throws exception"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [x]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-09-14 14:35] marandaneto commented on #1549
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-09-14 14:35] #1549 closed

[2021-09-14 14:35] marandaneto commented on #1639
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-09-14 14:35] #1639 closed

[2021-09-14 16:33] bruno-garcia commented on #1711
@marandaneto So those are now mandatory dependencies?
I'm not sure we want to impose those upon Unity games

[2021-09-14 16:44] marandaneto commented on #1711
they always were -> https://docs.sentry.io/platforms/android/configuration/releases/#androidx-support since those features are enabled by default.
either we disable performance and release health or do reflection to check its availability, actually we do that for release health, its probably not checking for `androidxCore`

[2021-09-14 16:57] bruno-garcia commented on #1711
@marandaneto we're probably better off introducing a toggle we can add to the manifest that turns off that stuff. We'd like to unblock this: https://github.com/getsentry/sentry-unity/pull/307

[2021-09-14 17:02] marandaneto commented on #1711
@bruno-garcia the toggle is disabling the features I've mentioned, they already have manifest options.
what do you mean by ` turns off that stuff`?

[2021-09-14 17:32] maciejwalkowiak commented on #1715
I assume you are using plain Spring, not Spring Boot, right? Tracing beans depend on `IHub`. Try creating a bean like:

[code]

If it does not help, please paste whole stack trace with exception.

[2021-09-14 23:08] bhavayAnand9 commented on #1715
Thanks @maciejwalkowiak
that was it!

[2021-09-14 23:08] #1715 closed

[2021-09-15 09:26] #1704 closed

[2021-09-15 10:01] #1233 closed

[2021-09-15 12:27] maciejwalkowiak commented on #1689
Even if we change the type to double or float, we are still unable to retrieve current timestamp from the system with precision greater than milliseconds - which happens when span/transaction is started or finished. Please elaborate on this feature - why do we need it, how it will be used.

[2021-09-15 12:31] bruno-garcia commented on #1689
I was under the impression that both Spring and Android have an alternative with high precision but none that could be shared between both them so we would need to put it behind some abstraction and swap the standard date providers by the high precision ones in `sentry-android-core` and others that apply.

[2021-09-15 12:34] maciejwalkowiak commented on #1689
Java 9+ has an option for higher precision. For Java 8 AFAIK there is nothing like that for any framework just because JVM does not provide this option.

In regards to Android - I see there are `java.time` classes added in API 26. Is there anything that provides microseconds+ time precision with the API level we support? @marandaneto

[2021-09-15 12:41] marandaneto commented on #1689
we cant rely on Android API >= 26, the only alternative I see is `System.nanoTime()`, its not the current Date and Time but rather a time interval, can we extract the precision from this var and add to the ISO8601 format?

[2021-09-15 13:11] #1711 closed

[2021-09-15 13:13] #1331 closed

[2021-09-15 13:55] bruno-garcia commented on #1679
Today this would be a change on:

https://github.com/getsentry/sentry-java/blob/1f575c6e56a54cbd63e4880754a4f632b9e1d33c/sentry-android-fragment/src/main/java/io/sentry/android/fragment/SentryFragmentLifecycleCallbacks.kt#L115

Please be aware we plan to change `hint` from `Object` and type-cast approach to `Map<String, Object>` so the hint can be changed throughout the processing pipeline in the

[2021-09-15 14:40] marandaneto opened #1721 "Add breadcrumbs for the Apollo integration as OkHttp does"

[2021-09-15 15:22] marandaneto opened #1723 "Add sentry-apollo to Craft and sentry-release-registry"
https://github.com/getsentry/sentry-release-registry and readme artifacts table https://github.com/getsentry/sentry-java/blob/main/README.md

also docs

[2021-09-15 15:51] audkar commented on #1679
When I think more about this approach from the client side I see we might have some problems in long term.
1. If we would be replacing this [key-value](https://github.com/getsentry/sentry-java/blob/6bb215deffc13809aeca6b0799bea89b0ddf62e0/sentry-android-fragment/src/main/java/io/sentry/android/fragment/SentryFragmentLifecycleCallbacks.kt#L111) ourselves in `BeforeBreadcrumbCallback` then we would

[2021-09-15 16:12] marandaneto commented on #1679
@audkar indeed, those are valid points, but we don't intend to change the key-value name and if we do so, we'd do a major bump.

we don't hold the reference, never, the `hint` is only used during the event/crumb pipeline.

last case is to disable the `enableFragmentLifecycleBreadcrumbs` feature of the integration and add the crumbs yourself.

[2021-09-15 16:21] audkar commented on #1679
Ok, probably we are going to do this :+1:

[2021-09-15 16:21] #1679 closed

[2021-09-16 07:02] maciejwalkowiak commented on #1689
This would mean that span start time has always milliseconds precision and end time microseconds precision. Which would make it look clearly wrong.

How is it beneficial for users to have microseconds precision for spans?

I can implement it but please give a clear green light that we want to go this way.

[2021-09-16 07:10] marandaneto commented on #1689
what I meant is, the way how it is right now it'd not work using `System.nanoTime()` because our protocol requires a Date instead of an interval that we can measure locally.

I'm running out of ideas for back compatibility, maybe @bruno-garcia

[2021-09-16 07:36] marandaneto commented on #1689
https://www.threeten.org/threetenbp/ is a viable alternative, for Android, https://github.com/JakeWharton/ThreeTenABP which is based on `threetenbp`, but it's a transitive dependency/

not sure if there's more than millis precision though -> https://www.threeten.org/threetenbp/apidocs/org/threeten/bp/Instant.html

[2021-09-16 11:16] maciejwalkowiak commented on #542
@marandaneto do you have any suggestions on how suppressed exceptions should be attached to `SentryEvent`?

One idea is to add them to exception queue in `SentryExceptionFactory#extractExceptionQueue(..)` with a mechanism of type "suppressed". What do you think?

[2021-09-16 11:43] marandaneto commented on #542
yep, that's what I had on my mind too

[2021-09-16 12:20] #1709 closed

[2021-09-16 18:59] sraRnd opened #1729 "Fragments are not listing in Transactions in sentry.io performance Tab"
### Environment

Android

Which SDK and version?
 implementation 'io.sentry:sentry-android:5.1.2'
    implementation 'io.sentry:sentry-android-fragment:5.1.2'

### Steps to Reproduce
i have added
Sentry.configureScope(scope -> {
                            scope.setContexts("Basic Antigen", "Form Data Submitted");
                            scope.setTag("Basic Antigen", "Form Data Submitted");

[2021-09-16 20:06] romtsn commented on #1729
As per [documentation](https://docs.sentry.io/platforms/android/performance/instrumentation/automatic-instrumentation/#androids-fragment-instrumentation)

Fragments do not create transactions, but spans, which are being bound to an active transaction, if there's one. So if you would like to have transactions for Fragments you'd need to do it manually via `startTransaction/finish` ([docs](https://d

[2021-09-16 20:24] micopiira opened #1730 "Spring @Async + @SentrySpan duration"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-09-17 06:17] marandaneto commented on #1730
@micopiira thanks for reporting.
@maciejwalkowiak is that even possible? if not, we'd ideally document that, so people that use async methods should instrument themselves, as they have control over the async flow.

[2021-09-17 06:20] marandaneto commented on #1729
what @romtsn said ^ we can't have a transaction per Fragment since we only allow a single transaction set in the Scope and a screen may have multiple fragments, it's a limitation of our tooling for now (having multiple transactions bound to the Scope), but nothing holds you creating your own transactions manually using the custom instrumentation

[2021-09-17 06:20] #1729 closed

[2021-09-17 06:28] marandaneto commented on #542
be aware that we need an abstraction for `Throwable.getSuppressed()` because it does not work for all Android versions, only from API 19 on https://developer.android.com/reference/java/lang/Throwable.html#getSuppressed()
so we have to check at runtime the OS version and either set the abstraction that returns nothing or not

[2021-09-17 10:40] maciejwalkowiak commented on #1730
@micopiira thanks for reporting. The easy way to handle it is to change `SentrySpanAdvice` to check the return type of method - we could add callbacks in case of `ListenableFuture` or `CompletableFuture`. But, if this works within the scope of the Spring MVC request, likely filter will finish the transaction before the callback on the future is called. I am not sure yet how this can/should be hand

[2021-09-17 10:41] #1721 closed

[2021-09-20 06:44] micopiira commented on #1730
@maciejwalkowiak Since sentry spans cannot be added to a transaction once a transaction has been finished, I guess the only way to model this would be to start a new transaction for the async operation. `@SentryTransaction` won't work here either since it is a no-op we are already inside a transaction.

I guess my best bet would be to do something like this?: (UNTESTED)

    @Async
	public Complet

[2021-09-20 07:30] maciejwalkowiak commented on #1730
Ideally, we would finish existing transaction after async method is finished. Creating transaction within transaction is rather suboptimal. I'll get back to you once I figure it out :-)

[2021-09-20 12:34] #1236 closed

[2021-09-20 17:18] LouisFn opened #1731 "ActivityLifecycleIntegration - Activity leak"
_Platform:_
- [X]  Android -> minSdk: 24, compileSdk: 30, targetSdk: 30
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [X]  Kotlin -> 1.4.32
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version?
- [ ]  Log4j2 -> If yes, which version?
- [ ]  Logback -> If yes, which version?
-

[2021-09-21 07:43] marandaneto commented on #1731
thanks for reporting @LouisFn
fix is on its way

[2021-09-21 08:40] marandaneto commented on #1689
when doing this one, also consider https://github.com/getsentry/sentry-java/issues/1513

[2021-09-21 20:57] antonmos opened #1733 "sentry-java silently fails to deliver event when conflicting Gson class is on the classpath"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [x]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-09-22 07:08] marandaneto commented on #1733
logging should have stated it's a serialization issue, we have to improve that, thanks.

there's a note in the docs about min. version (Gson) https://docs.sentry.io/platforms/java/#install

[2021-09-22 09:04] mateuszkwiecinski opened #1734 "Make lifecycle breadcrumbs logged by sentry-android-fragment integration customizable"
## Context
I tried to add `FragmentLifecycleIntegration` to my app, and I quickly reached default breadcrumbs limit. Almost all events came from `FragmentLifecycleIntegration` which decreased number of visible user interactions to last 2-3 screens before crash.
I could increase breadcrumbs limit, but I concluded I'd prefer see less events logged by `FragmentLifecycleIntegration`.

## Proposal
The

[2021-09-22 09:32] marandaneto commented on #1734
@mateuszkwiecinski thanks for reporting, such grain fined level makes sense, let's see if people upvote.

a workaround, for now, is using the `BeforeBreadcrumb` callback to filter breadcrumbs out https://docs.sentry.io/platforms/android/enriching-events/breadcrumbs/#customize-breadcrumbs
or obviously, increasing the number of crumbs.

[2021-09-23 21:12] antonmos commented on #1537
Please consider this issue when doing this work https://github.com/getsentry/sentry-clj/issues/31

[2021-09-24 09:07] HC-gcampelo opened #1738 "enableUncaughtExceptionHandler causes warnings in logback configuration"
_Platform:_
- [X]  Java -> 11, no Spring
- [X]  Logback -> "io.sentry:sentry-logback:5.2.0"
- [ ]  Spring -> No

---
I have the following issue:

When creating a simple application and using sentry-logback, some messages are printed (not in the specified logback format) during initialization of Logback due to multiple getters for property 'enableUncaughtExceptionHandler' on SentryOptions.
This bre

[2021-09-24 10:59] marandaneto commented on #1738
@maciejwalkowiak can you check it? thanks

[2021-09-24 12:13] maciejwalkowiak commented on #1738
Thanks @HC-gcampelo for reporting. It's only a warning message, otherwise it works as expected.

The reason why this property has two getters was supporting setting this property through external configuration - where it can be not set - which means it must be set to `null`.

My suggestion is to turn `enableUncaughtExceptionHandler` from `Boolean` into `boolean` (similar with other properties that

[2021-09-24 12:36] HC-gcampelo commented on #1738
Thanks @maciejwalkowiak @marandaneto ! I agree, it is a warning message, but it is caused when using the library.

As for the solution, I agree with any implementation 😅  as long as the warning message is not there anymore. Hoping to see *6.0.0* soon! 💯

[2021-09-27 16:23] bruno-garcia commented on #542
Since this will require a lot of code to abstract away what's needed to work around the lack of API on Android, we decided to add this to the core `sentry` package once `sentry-android-core` min API level goes to 19 or higher.

[2021-09-27 16:31] bruno-garcia opened #1741 "Improve code coverage"
Identify and improve areas of code that lacks testing.

I.e:

![image](https://user-images.githubusercontent.com/1633368/134948547-cfe0d9a9-7b10-4ed1-868b-7ade28086541.png)

[2021-09-27 17:14] bruno-garcia opened #1742 "Java client mode sessions"
Android has client mode but not the Java core package.
We can refactor this out to be done in the core Java as it was done in .NET. Exposing a 'pause and resume' method that tracks how long the sessions was in the background and closes/reopens automatically.

Client-mode session support: App Lifecycle. Starts a session when the process starts, ends when it exits. (similar to sentry-native and .NET

[2021-09-27 17:15] bruno-garcia opened #1743 "JavaFX integration"
A potential desktop focused integration for JavaFX.

* Collect Device Info. See [this](https://github.com/getsentry/sentry-java/issues/697)
* It could include the Screenshot feature. See [this](https://stackoverflow.com/questions/18024498/taking-a-screenshot-of-a-scene-or-a-portion-of-a-scene-in-javafx-2-2) and [this](https://github.com/getsentry/develop/pull/422)
* Release Health support #1742

[2021-09-28 07:30] marandaneto commented on #1723
readme is done by https://github.com/getsentry/sentry-java/pull/1740

[2021-09-28 07:31] marandaneto commented on #1741
ideally worked together with https://github.com/getsentry/sentry-java/issues/1454

[2021-09-30 11:12] maciejwalkowiak commented on #542
Until we are able to support suppressed exceptions in core, you can write custom `EventProcessor` that modifies reported exceptions to include not only causes but also suppressed ones. Unfortunately, some code has to be copy pasted, as it is package-private in Sentry SDK codebase. All needed classes are in this [gist](https://gist.github.com/maciejwalkowiak/faaaad64ae59c4f79127a91022fcc3e6).

- `S

[2021-09-30 12:48] GertVil opened #1746 "Sentry does not send events with spring boot + async log4j2"
_Platform:_
- [x]  Java -> 15
- [x]  Log4j2 -> 2.13.3
- [x]  Springboot -> 2.4.11

_IDE:_
- [x]  IntelliJ -> 2021.2.1

_Build system:_
- [x]  Gradle -> 6.9.1

_Platform installed with:_
- [x] Maven Central

The version of the SDK:
*5.2.0*

---
I have the following issue:

The events that get captured by sentry do not get send to sentry.io. From the debug logging:
DEBUG: Capturing event: 4951588b55

[2021-09-30 13:14] marandaneto commented on #1746
@maciejwalkowiak can you check that? thanks

[2021-09-30 16:00] tlf30 commented on #945
We are looking to migrate from JDK 11 to JDK 17, and this is a major blocker in our applications preventing the migration to java 9 modules. Can someone please look into this?

[2021-10-01 06:34] marandaneto commented on #945
@tlf30 would you like to contribute with a PR?

https://docs.gradle.org/current/userguide/java_library_plugin.html#sec:java_library_modular

maybe @maciejwalkowiak can guide you during the process, I'm not familiar with the Java platform module system yet

[2021-10-01 07:52] maciejwalkowiak commented on #1746
`SentryAppender` is already asynchronous - it builds an event on the caller thread and sends it over the wire on another thread - no need to turn it into async with Log4j configuration. Also, Sentry SDK relies on thread locals - likely this will not work when async context is used.

Instead of configuring all loggers to be async, you can mix synchronous and asynchronous loggers in single context (

[2021-10-01 07:55] maciejwalkowiak commented on #945
I have this issue on my todo list, but I will also need some time to dig into it as I haven't worked with JPMS yet. @tlf30 you're welcome to create a PR.

[2021-10-01 14:18] tlf30 commented on #945
@maciejwalkowiak unfortunately the module system is fairly new to me as well. I have only been learning it these last couple weeks as my company pushes to move from jdk 11 to jdk 17. Our biggest motivator to use modular applications was jfx 16 requiring it, and we are heavily dependent on javafx.

I'm afraid that if I was to prepare a PR that i would overlook something important. I am already figh

[2021-10-04 07:28] #1723 closed

[2021-10-04 07:37] maciejwalkowiak commented on #1653
Fixed in https://github.com/getsentry/sentry-docs/pull/4190

[2021-10-04 07:37] #1653 closed

[2021-10-04 12:49] #1125 closed

[2021-10-05 12:17] PGliw opened #1752 "Decouple SentryAndroid initialisation from Events sending"
### Discussed in https://github.com/getsentry/sentry-java/discussions/1751

<div type='discussions-op-text'>

<sup>Originally posted by **PGliw** October  4, 2021</sup>
SentryAndroid does call `installDefaultIntegrations` in `init` Method.
There are some integrations included that are not "the best" choice for my use case.
(`SendCachedEventFireAndForgetIntegration` and `EnvelopeFileObserverIntegra

[2021-10-05 12:32] marandaneto commented on #1752
Hi, thanks for raising this issue.

Indeed, right now this is not possible, and it's not Android-specific, I'll discuss this internally and will let you know asap, thanks.

[2021-10-05 12:37] PGliw commented on #1752
Thank you for your answer, I am waiting for hearing from you then 👍

[2021-10-05 13:53] PGliw commented on #1752
@marandaneto Thank you for looking into this and discussing this internally! For the current version, is there at least any way to know if the automatic sending of cached app crashes (envelopes) is ended?
I suppose (based on `SendCachedEnvelopeFireAndForgetIntegration` name and `@SuppressWarnings("FutureReturnValueIgnored")`) that is not possible?
So calling
[code]
Am I right?
So I have basically

[2021-10-06 20:03] arysharifian opened #1753 "Kotlin-JAVA SDK issue creating Transaction w/ TransactionContext and SentryTraceHeader(sentryTrace)"
Hello,

I have a Transaction that starts with some Python code:

`with start_transaction (op = "customer op name", name="ary test"):
    with sentry_sdk.start_span(op ="auth token") as span:
        new_token = get_jwt_token()
        span.set_tag("http.status_code", "200")
        span.finish()
    with sentry_sdk.start_span(op ="create PIN") as span:
        trace_data = span.get_trace_context()

[2021-10-06 20:25] xxitalyan opened #1754 "Italyan"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-10-07 06:01] marandaneto opened #1755 "GraphQL integration for server side"
Similar to our Apollo GraphQL integration but for server-side, using the libs:

com.graphql-java:graphql-java and com.graphql-java:graphql-java-spring-boot-starter-webmvc

https://www.graphql-java.com/tutorials/getting-started-with-spring-boot/

[2021-10-07 08:18] maciejwalkowiak commented on #1755
GraphQL Java Spring integration is going to be deprecated and superseded by https://spring.io/projects/spring-graphql (which is not GA yet). Another popular GraphQL server side component we can consider integrating with is https://netflix.github.io/dgs/ - likely in the future it will use Spring GraphQL under the hood.

[2021-10-07 08:30] micopiira opened #1756 "HostnameCache executorService not shut down"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [x]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version? 11
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which vers

[2021-10-07 23:53] arysharifian commented on #1753
Hello Macie,

Yes, you were right. I needed to initialize the SDK in Kotlin with the options configured properly.

Now I am running into a new issue.

I am trying to create multiple sub-spans in Kotlin connected to the initial span coming from Python. But for some reason, I am not able to.

This is my first sub-span:

[code]

And this is my second sub-span:

[code]

However, I am only able to capt

[2021-10-08 05:42] marandaneto commented on #1753
@arysharifian please have a look at our docs https://docs.sentry.io/platforms/java/performance/instrumentation/custom-instrumentation/
`transaction.startChild(x)` returns an object that should also be called `span.finish()`

you also dont have to call `startTransaction` twice, you can always create multiple `startChild` from the first `startTransaction`

eg:
[code]

[2021-10-08 12:42] #1756 closed

[2021-10-13 06:40] dmitrybabeshko opened #1761 "Copy constructor of the Scope class doesn't copy contexts"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [x]  Java -> Liberica 11.0.12, level 11
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version?
- [ ]  Log4j2 -> If yes, which version?
- [ ]

[2021-10-14 08:18] #1761 closed

[2021-10-15 03:35] HenryHaoson opened #1766 "App start time is store in span . How can i get the whole start time data in sentry web"
If using transaction to store the start time data，i can see it in performance and get the p95 data。

[2021-10-15 07:07] marandaneto commented on #1766
<img width="1395" alt="Screenshot 2021-10-15 at 09 04 28" src="https://user-images.githubusercontent.com/5731772/137446015-392fe486-c9d4-423a-bc00-0bef280368f0.png">

The combo boxes Display 1 and Display 2 should give you access from P50 to P99, or am I missing something?

[2021-10-15 07:21] HenryHaoson commented on #1766
How to i access this page.

[2021-10-15 07:41] #1766 closed

[2021-10-15 18:08] micopiira opened #1767 "Sentry.close() should remove Thread UncaughtExceptionHandler"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [x]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version? 5.2.2
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which v

[2021-10-18 07:31] marandaneto opened #1768 "`Window.FEATURE_NO_TITLE` does not work when activity traces or activity-lifecycle breadcrumbs enabled"
if using `requestWindowFeature(Window.FEATURE_NO_TITLE)`, title bar is still visible.

workaround:

[code]

[2021-10-18 11:28] #1768 closed

[2021-10-18 11:29] marandaneto commented on #1659
@VGJohn probably because of https://github.com/getsentry/sentry-java/issues/1768 so a fix is on its way, thanks for reporting.

[2021-10-21 08:28] marandaneto opened #1774 "deprecate `android.telephony.PhoneStateListener` and use `TelephonyCallback`"
https://developer.android.com/reference/android/telephony/TelephonyCallback replaces `PhoneStateListener`

ideally `PhoneStateBreadcrumbsIntegration` conditionally use one or the other depending on OS version

[2021-10-22 21:28] dmytroKarataiev opened #1780 "Sentry Performance crash: Caused by: java.lang.IllegalArgumentException: attempt to remove OnFrameMetricsAvailableListener that was never added"
_Platform:_
- [x]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?

compileSdkVersion 30
targetSdkVersion 30
Device API: SM-G960U1, Android 10

_IDE:_
- [x]  Android Studio -> If yes, which version?
4.3

_Build system:_
- [x]  Gradle -> If yes, which version?
7.0.1

_Android Gradle Plugin:_
- [x]  Yes -> If yes, which version?
4.2.2

_Sentry Androi

[2021-10-26 14:49] bruno-garcia opened #1783 "Package OkHttp as a jar instead of aar"
In order to use our OkHttp library with Jetpack Compose on desktop, it must be packaged as a `jar` since it runs on the JVM.

Additionally we could deprecate `sentry-android-okhttp` in favor of `sentry-okhttp` if it doesn't have any Android specific dependency.

[2021-10-29 09:19] LouisFn opened #1787 "Odd activity auto tracing duration"
_Platform:_
- [X]  Android -> minSdk: 24, compileSdk: 30, targetSdk: 30, buildTools: 31.0.0
- [X]  Kotlin -> 1.5.31, jvmTarget: VERSION_11
- [X]  Timber -> 5.0.1

_Build system:_
- [X]  Gradle -> 7.2

_Android Gradle Plugin: 7.0.2

The version of the SDK:
**5.2.0**

---
I have the following issue:

We get odd result with activity auto tracing. We receive many transactions with a very long duration

[2021-10-31 04:03] codylerum opened #1789 "Jakarta Servlet Support"
The package name for servlet in 5.0 is moving form javax.servlet to jakarta.servlet

https://jakarta.ee/specifications/servlet/4.0/apidocs/

to

https://jakarta.ee/specifications/servlet/5.0/apidocs/

Will Sentry be supporting both namespaces?

[2021-11-01 04:43] maciejwalkowiak commented on #1789
I believe so, the question is how we want to execute on that. It will likely take years till users stop using `javax` namespace. We can:

- move `sentry-servlet` to Jakarta namespace, and point users using `javax` namespace to older versions
- create a separate `sentry-jakarta-servlet` module

While this issue relates currently to `sentry-servlet`, we will have similar problem eventually with Spri

[2021-11-02 08:37] marandaneto commented on #1789
maintaining a new module per integration for every major breaking change isn't scalable tho, I'd rather prefer to bump a major and point out people to use the older versions when needed via docs.

what I've seen also in the wild is that a few libraries rename their package eg https://github.com/square/okhttp/tree/master/okhttp/src/main/kotlin/okhttp3 so people can use the older and newer version a

[2021-11-02 10:29] s-volkov-1 opened #1790 "Spring Boot (Webflux): many unrelated http breadcrumbs are recorded with events"
_Platform:_
- [x]  Spring Boot (Webflux server & WebClient) -> 2.5.5

_IDE:_
- [x]  IntelliJ -> 2021.2

_Build system:_
- [x]  Maven -> 3.6.3-jdk-11

_Platform installed with:_
- [x] Maven Central

The version of the SDK:
5.2.4

---
**I have the following issue:**

Many (tens or even ~hundred) unrelated http breadcrumbs recorded with events. These breadcrumbs are:
- Incoming server http requests (

[2021-11-02 10:38] marandaneto commented on #1790
cc @maciejwalkowiak

[2021-11-04 08:56] maciejwalkowiak opened #1792 "Print serialised envelopes to the console in debug mode."
In 6.x with new JSON serialization, we do not print serialized objects to the console anymore - which I find very useful during debugging and development.

[2021-11-04 09:03] marandaneto commented on #1792
@denrase would you like to have a look?

examples on how it was done https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/GsonSerializer.java#L142-L144

[2021-11-04 10:36] denrase commented on #1792
Jup, will take a look! 👍

[2021-11-04 13:36] CodemonkeyOSS opened #1794 "Update gson for CWE-502"
_Platform:_
- [? ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [x ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [x ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [? ]  NDK -> If yes, which NDK/CMake version?
- [? ]  React-Native -> If yes, which version?
- [? ]  Timber -> If yes, which v

[2021-11-04 16:04] barry-irvine commented on #1780
I was also getting this issue with a "no display" activity in the Urban Airship SDK and the fix does indeed work.

[2021-11-05 09:34] marandaneto commented on #1794
that would be automatically closed when 6.0 lands since there's no Gson dependency anymore.
https://github.com/getsentry/sentry-java/pull/1791

Thanks for opening up the issue tho.

[2021-11-05 09:35] #1780 closed

[2021-11-05 09:37] marandaneto commented on #1787
@LouisYubo I can't really reproduce it, not sure how to proceed, any ideas on how to reproduce otherwise I'd have to close it.

[2021-11-05 09:38] marandaneto commented on #1477
thanks, looking forward to your feedback

[2021-11-05 15:09] vibin opened #1796 "Consider using a more accurate ANR tracking implementation"
Hi, i'm currently evaluating Bugsnag and Sentry and one of the differences i've observed in the SDK is that Bugsnag uses a SIGQUIT signal handler to get called by OS when ANR occurs, as opposed to Sentry, which uses the watchdog approach.

I have used https://github.com/SalomonBrys/ANR-WatchDog in production before and while it's a useful library, I saw that it reports many false-positives compare

[2021-11-05 15:36] bruno-garcia commented on #1796
Thanks you for bringing this up. It makes sense and perhaps we should consider an approach for Android 11+ only and keep the current as-is. Additionally, there's the possibility of relying on `SIGQUIT` through our NDK support which will also require some discussions internally.

[2021-11-08 11:17] #1755 closed

[2021-11-08 15:53] marandaneto commented on #1497
closed by https://github.com/getsentry/sentry-java/pull/1554

[2021-11-08 15:53] #1497 closed

[2021-11-08 15:54] marandaneto commented on #1489
ideally yes if it requires breaking changes

[2021-11-08 15:55] marandaneto commented on #1537
closed by https://github.com/getsentry/sentry-java/pull/1554

[2021-11-08 15:55] #1537 closed

[2021-11-08 22:13] dmytroKarataiev opened #1798 "Sentry Performance crash: Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'int java.util.ArrayList.size()' on a null object reference"
_Platform:_
- [x]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?

compileSdkVersion 30
targetSdkVersion 30
Device API: Galaxy S8, Android 9

_IDE:_
- [x]  Android Studio -> If yes, which version?
4.3

_Build system:_
- [x]  Gradle -> If yes, which version?
7.0.1

_Android Gradle Plugin:_
- [x]  Yes -> If yes, which version?
4.2.2

_Sentry Android

[2021-11-09 08:26] marandaneto commented on #1798
@dmytroKarataiev thanks for reporting.
what's the version of your `androidx.core` lib?

our SDK does call `frameMetricsAggregator.remove(activity)` but the crash itself happens on `androidx.core` and we don't have control over it.

[2021-11-09 08:38] marandaneto commented on #1798
Sentry uses AndroidX.Core 1.3.2 min.
The latest Plaid SDK uses a mix of 1.1.0 and 1.3.0, not sure if the dependency resolution here fails and get a very old version maybe.
Can you try to exclude the AndroidX.Core of either the Sentry Android SDK or the Plaid SDK so we can isolate the problem?

How to do it: https://docs.sentry.io/platforms/android/performance/instrumentation/automatic-instrumentat

[2021-11-09 20:39] dmytroKarataiev commented on #1798
1.6.0.

1. Tried to exclude this dependency from Sentry, Plaid and both. Didn't help.
2. Tried to force 1.6.0 for all consumers with this:
[code]
And confirmed that it was forced with gradle dependencies scan, but it didn't help either. The issue is still easily reproducible on any Android 9 device (including an emulator).

[2021-11-09 20:52] marandaneto commented on #1798
@dmytroKarataiev thanks for the reply.

I've tried to reproduce using Android 9 emulator and androidx.core 1.6.0, with no success, would you mind setting up a minimal reproducible example on GH or giving me exact steps? maybe you have a custom setup in your Activity that triggers this error?

[2021-11-10 05:16] HenryHaoson commented on #1798
i have the same problem.
And I think it was the change from 5.2.4. (#1769)
The `WxEnterActivity` only called `onCreate` with out `onStart`
![image](https://user-images.githubusercontent.com/22147654/141054192-5860389b-196f-41e4-a887-7afdb4a4f6aa.png)

[2021-11-10 05:29] HenryHaoson commented on #1798
I think there are two solutions:
- put `activityFramesTracker.addActivity(activity);` back to `onActivityCreated` in  class `ActivityLifecycleIntegration`
- or catch the NPE in `setMetrics` method which is in class `ActivityFramesTracker`. Like you catch `IllegalArgumentException` there. The reason is in old Android version ,it's a bug(https://android.googlesource.com/platform/frameworks/base/+/14

[2021-11-10 06:26] marandaneto commented on #1798
thanks @HenryHaoson

I cannot add back to `onActivityCreated` since it would lead to the previous problem, I'm wondering tho how an activity can be called without `onStart`? is it even possible?

good finding with the https://android.googlesource.com/platform/frameworks/base/+/140ff5ea8e2d99edc3fbe63a43239e459334c76b bug, sounds like a good workaround, will do it.

[2021-11-10 06:47] HenryHaoson commented on #1798
the case is calling `finish` in `onCreate`

[2021-11-11 09:03] #1798 closed

[2021-11-11 14:52] marandaneto opened #1802 "Add sentry-graphql on release-registry and docs"
Related to https://github.com/getsentry/sentry-java/pull/1801
Available since 5.4.0
uncomment https://github.com/getsentry/sentry-java/blob/main/.craft.yml#L42

[2021-11-11 15:08] marandaneto opened #3977 "consider adding a CONTRIBUTING file"
similar to https://github.com/getsentry/sentry-java/blob/main/CONTRIBUTING.md and other SDKs
so we know which command to build and run locally in case we want to debug/test it

commands that should be there:
yarn install
yarn build

and ideally which folder outputs the executable

[2021-11-12 06:16] maciejwalkowiak commented on #1802
- Craft: https://github.com/getsentry/sentry-java/pull/1803
- Release Registry: https://github.com/getsentry/sentry-release-registry/pull/64
- Docs: TBD

[2021-11-12 06:22] maciejwalkowiak commented on #1802
Since it GraphQL Java integration covers both exception handling and performance, perhaps it should be a separate dedicated top level guide.

[2021-11-12 08:24] marandaneto commented on #1802
@maciejwalkowiak what's about similar to Android? as Integrations, See

https://docs.sentry.io/platforms/android/configuration/integrations/
then as a subitem of automatic instrumentation, we mention the integration -> https://docs.sentry.io/platforms/android/performance/instrumentation/automatic-instrumentation/#okhttp-library-instrumentation

[2021-11-12 09:11] maciejwalkowiak commented on #1802
This would be one option but I think it means we would need to move around more things. For now I've added it to a main section but is shown only for Java, Spring, Spring Boot and Servlet.

[2021-11-15 16:23] seksun11 opened #1805 "seksun1-seksun11"
_Platform:_
- [x]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [x]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [x]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [x]  NDK -> If yes, which NDK/CMake version?
- [x]  React-Native -> If yes, which version?
- [x]  Timber -> If yes, which version

[2021-11-15 18:36] #1805 closed

[2021-11-15 19:48] marandaneto opened #1806 "Replace SDKs `catch (Exception e)` to `catch (Throwable e)`"
SDK should not crash the finals App, but rather swallow and log it.
this would avoid issues such as https://github.com/getsentry/sentry-java/pull/1800

Context: https://github.com/getsentry/sentry-java/pull/1800#discussion_r747575295

[2021-11-16 00:06] arysharifian commented on #1753
Hey, the tracing only works for me if I have back-to-back calls.

Currently, I am initializing the SDK, and doing a try/catch for whether there is a sentry trace header. If there is a header, then I set the transaction context appropriately. If there is not, then I start a basic transaction:

`try {
            var sentry_transaction_header = input.headers["sentry-trace"].toString()
            my

[2021-11-16 08:02] marandaneto commented on #1787
@LouisFn does your app have notifications? is it possible that users open your app via notification?

[2021-11-16 08:43] marandaneto commented on #1753
@arysharifian what do you mean by "two back-to-back calls to the cloud function"?

[2021-11-16 08:49] LouisFn commented on #1787
Completely, I can reproduce it by opening the app from notification

[2021-11-16 09:53] marandaneto commented on #1787
@LouisFn ok thats a good start, can you tell me the exact steps to reproduce it? or provide a minimal reproducible example? thanks

[2021-11-16 09:56] marandaneto opened #1807 "Automatic performance transactions for Webflux"
Similar to SentryTracingFilter but for Webflux

[2021-11-16 10:04] koenpunt commented on #1807
I've tried something similar as what is in `SentryTracingFilter`, but I think it needs some specifics to bind it to the reactor context.

<details>
<summary>Click to expand code</summary>

[code]

</details>

[2021-11-16 10:33] marandaneto commented on #1807
@koenpunt if you few submitting a PR, you can make `TransactionNameProvider` public with an `@ApiStatus.Internal` annotation, so it can be used by the SDK.

[2021-11-16 10:33] marandaneto commented on #1807
@maciejwalkowiak can likely guide you as well, since he has made the WebFlux integration.

[2021-11-16 14:05] LouisFn commented on #1787
![Screenshot 2021-11-16 at 14 12 16](https://user-images.githubusercontent.com/82385769/141992227-715b1689-4449-4eea-a7a2-b942a5d05610.png)

@marandaneto It seems to be because you are waiting for the child traces to finish before stoping the transaction (waitForChildren) and the child trace from FragmentLifecycleIntegration never ends.

It's due to NavDeepLinkBuilder, when the deep link is trigge

[2021-11-16 14:26] marandaneto commented on #1787
will have a look, thanks

[2021-11-16 15:37] arysharifian commented on #1753
something like the following:
create_pin()
create_pin()

then I get a trace

[2021-11-16 15:42] marandaneto commented on #1753
@arysharifian please raise a new issue with updated code snippets (backend and front end), I'd need to understand your execution flow, sounds like a bug in your flow rather than the SDK.

[2021-11-16 15:53] arysharifian commented on #1753
client code:
[code]
cloud code has the following format:
[code]

client code calls cloud code. You can think of it as front-end (client) and back-end (cloud). I am just trying to do distributed tracing.

Maybe I need to formally end the transaction on the client side (frontend)?

[2021-11-16 16:27] arysharifian opened #1808 "No Full Distributed Performance Tracing unless duplicate calls"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [X]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-11-16 17:11] arysharifian commented on #1808
I am seeing this in the logs:
`sentry DEBUG: Transaction was dropped due to sampling decision.`

[2021-11-16 17:59] arysharifian commented on #1808
I am getting this error WHEN IT WORKS:

INFO: Initializing SDK with DSN: '<my_DSN>'
--
  | 2021-11-16T12:43:24.356-05:00 | INFO: No outbox dir path is defined in options.
  | 2021-11-16T12:43:24.376-05:00 | INFO: GlobalHubMode: 'false'
  | 2021-11-16T12:43:24.376-05:00 | DEBUG: UncaughtExceptionHandlerIntegration removed.
  | 2021-11-16T12:43:24.377-05:00 | INFO: Closing SentryClient.
  | 2021-11-

[2021-11-16 20:42] maciejwalkowiak commented on #1807
First I need to figure out how to fix Webflux integration for error handlers. Either we stay with Reactor hook that re-binds Hub to current thread, or we move to using Reactor context.

[2021-11-16 21:29] koenpunt commented on #1807
Any pointers for how to get the project to build in IntelliJ? I keep getting this error on gradle sync;

[code]

[2021-11-16 21:42] arysharifian commented on #1808
I've isolated the error to backend sentry SDK initialization:
[code]

[2021-11-16 21:56] arysharifian commented on #1808
It might be important to note that I am using the same project DSN for both the frontend as the backend

[2021-11-16 22:35] arysharifian commented on #1808
Basic question: how do we initialize separate Sentry SDK (frontend and backend) for Distributed Tracing?

[2021-11-16 22:41] arysharifian commented on #1808
This is the java version running in the backend:
[code]

[2021-11-17 08:26] marandaneto commented on #1808
that's not a problem

[2021-11-17 08:27] marandaneto commented on #1808
not sure if I understand the question, if one application is Java, and the other application is Python, the init. is just about the same, `dsn`, `tracesSampleRate` and that's it

[2021-11-17 08:27] marandaneto commented on #1808
no issues about that

[2021-11-17 08:30] marandaneto commented on #1808
@arysharifian can you provide a minimal reproducible example on Github with your frontend and backend code? it looks like you are not using the Sentry SDK correctly, the logs say that you're either calling `Sentry.init` multiple times or manually calling `Sentry.close`, something like that

[2021-11-17 08:32] marandaneto commented on #1807
that's because the latest Android Gradle Plugin isn't compatible with IDEA but Android Studio, you can comment the Android projects as a temporary workaround ->
https://github.com/getsentry/sentry-java/blob/main/settings.gradle.kts#L9-L14
https://github.com/getsentry/sentry-java/blob/main/settings.gradle.kts#L28

[2021-11-17 12:25] marandaneto commented on #1787
I can confirm that `HomeFragment` isn't calling `onFragmentResumed`

[2021-11-17 12:54] marandaneto commented on #1787
@LouisFn in your use case, maybe there's a bug in your example as well, you set:

`app:startDestination="@id/navigation_fragment_home"`

but in `LaunchActivity`, you set `.setDestination(R.id.navigation_fragment_home)`, so `HomeFragment` isn't even visible or anything, looks like a wrong setup of the `navigation-ui` rather than the bug in Sentry SDK.

[2021-11-17 12:56] marandaneto commented on #1787
do `setDestination` and `app:startDestination` must match or not? didn't find docs for that.

[2021-11-17 13:22] marandaneto commented on #1489
@denrase this one is still pending right, but its not a breaking change

[2021-11-17 13:26] marandaneto opened #1810 "start transaction if none active in the scope for fragment integration"
since https://github.com/getsentry/sentry-java/blob/main/sentry-android-fragment/src/main/java/io/sentry/android/fragment/SentryFragmentLifecycleCallbacks.kt#L136 only creates spans if there is an active transaction, many apps are using single app activity (eg with navigation controller) and most of the time there will be no active transaction since automatic transactions are only created by the a

[2021-11-17 13:27] marandaneto commented on #1810
sounds like an easy win, maybe even a further discussion, does it make sense to create a transaction always when there's an integration trying to create a span out of it but there's no active in the scope? (eg okhttp, apollo, etc...)

[2021-11-17 14:22] marandaneto opened #1811 "Timeout for `waitForChildren` feature"
Could avoid issues like https://github.com/getsentry/sentry-java/issues/1787

[2021-11-17 15:45] philipphofmann commented on #1806
Make sure to log out when we swallow a Throwable. We still need to find out how to log out.

[2021-11-17 16:26] arysharifian commented on #1808
Do I need to call Sentry init twice? Once for frontend and once for backend if I am using the same DSN? What if I am using different DSN?

[2021-11-18 00:10] arysharifian commented on #1808
I think I've resolved the issue. The sentry sdk was initialized in the body of the AWS lambda function. When I called the backend function, it would try to reinitialize an already initialized sdk which caused conflicts and forced the client to close. But once I moved the backend sentry SDK initialization outside the function and inside the handler, the sentry is only initialized once when the lamb