[2021-11-18 00:11] #1808 closed

[2021-11-18 09:12] marandaneto commented on #1808
no, only once, you can only use 1 DSN per application/process, as I remember, you have a python and java application, both can use the same DSN, its fine

[2021-11-18 09:13] marandaneto commented on #1808
yep, we've talked about it during our call as well, glad that it helped.

[2021-11-18 09:28] LouisYubo commented on #1787
I don't understand what you mean, I set `.setDestination(R.id.navigation_fragment_chat)` no `.setDestination(R.id.navigation_fragment_home)` so it's normal if HomeFragment isn't visible

No, the purpose is to navigate to a specific destination (not the start destination) while adding the start destination to the backstack.

From the docs: https://developer.android.com/reference/androidx/navigation

[2021-11-18 09:55] marandaneto commented on #1787
sorry it was a typo, `.setDestination(R.id.navigation_fragment_chat)` indeed.

got it, that makes sense, since the fragment does not trigger any other lifecycle, I don't really know how to finish the span automatically for that case, ideas?

[2021-11-18 09:57] marandaneto commented on #1787
even if I provide a custom `waitForChildren`, how would you know if `HomeFragment` was just added to the back stack but never visible, programmatically?

[2021-11-18 10:49] LouisYubo commented on #1787
Maybe, you can check if fragment `isAdded` in onCreate before starting the trace ?

[2021-11-18 11:13] marandaneto commented on #1787
indeed @LouisYubo that's totally possible and it works, thanks for the tip, See PR https://github.com/getsentry/sentry-java/pull/1813

[2021-11-18 12:38] #1787 closed

[2021-11-18 12:57] LouisYubo commented on #1787
Thanks a lot for the fix :)

But I think there are others issues with the auto tracing activity that doesn't seem to be related to `waitForChildren`. For now I didn't managed to reproduce this case

![Screenshot 2021-11-18 at 13 50 56](https://user-images.githubusercontent.com/82385769/142418611-e9c24305-50df-430f-bf47-b2277d2f7873.png)

or

![Screenshot 2021-11-18 at 13 52 56](https://user-images

[2021-11-18 13:07] marandaneto commented on #1787
@LouisYubo it could be related to opening the App thru notifications, mind testing that out? at least the sample that you have given is fixed, please raise a new issue with more detailed use case for the other one, also a minimal reproducible example would help as it did with this one, thanks a lot.

[2021-11-18 13:30] LouisYubo opened #1814 "Wrong duration for AutoActivityLifecycleTracing with WorkManager"
**Steps to reproduce:**
- Launch the app
- Kill the app
- Wait at least 30s
- Reopen the app

**Actual result:**
![Uploading Screenshot 2021-11-18 at 14.27.16.png…]()

You can find an example here
https://github.com/LouisFn/SentryFrozenFrame/commits/master
Commit: f6bf546a61738a96011f6bb7dacee112bff79c9f

[2021-11-18 14:19] bruno-garcia commented on #1806
The PR #1812 partially addresses this. See PR description for details.
Goal: Changes all Java catch `Exception` to `Throwable` so we avoid crashes on Unity that should have been suppressed.

For this issue I suggest we add a linter. We we avoid adding `catch Exception` again in the future. The linter should warn that throwable should be used to suppress all errors instead.

[2021-11-19 16:58] marandaneto commented on #1814
@LouisYubo I can confirm, I don't think it's related to `WorkManager` tho, but rather starting activities (adding more to back stack) and the way how the lifecycle gets called, at some point, we're not ending the transaction automatically, and starting a new one, will debug more on Monday, thanks.

[2021-11-22 10:32] marandaneto commented on #1814
ok, I've figured this out, when an App is initialized via notification/workmanager task or something, the `Application#onCreate` gets called and the SDK is initialized, counting the `appStartTime`,  the problem is, in many cases no Activity is shown because such notifications/tasks are background work.

We only set the `appStartEnd` when the first activity is created and resumed, so if the user do

[2021-11-22 13:05] #1802 closed

[2021-11-23 10:05] marandaneto opened #1817 "Error executing post release script from branch instead of main branch"
› Trying to find merge target:                                                                                                                                                                                                10:57:17
› Checking out merge target branch: 6.x.x

[2021-11-23 10:05] marandaneto commented on #1817
@iker-barriocanal how do you do that in other repos?

[2021-11-23 10:43] marandaneto commented on #1794
https://github.com/getsentry/sentry-java/releases/tag/6.0.0-alpha.1

[2021-11-23 10:43] #1794 closed

[2021-11-23 10:45] marandaneto commented on #1810
the downside is that if activity with 4 fragments, 4 fragments would create a transaction, which one binds to the scope?
the other side is naming, that happens with span already, they could be minified and naming is not useful, see https://github.com/getsentry/sentry-java/issues/1734 or https://github.com/getsentry/sentry-java/issues/1086

[2021-11-24 15:43] marandaneto commented on #1810
we decided to add an option to the ctor of the integration that let the user decide if we should create transactions if there's none active in the scope, this is enabled by default.
the very first fragment creates a transaction and binds it to the scope.
hierarchy might be wrong but the timeline is correct, the same trade-off as JS.

we can try this out and check if that makes sense as a Draft.

[2021-11-24 15:54] marandaneto commented on #1811
reminder to create an issue for iOS.

we could have a single timer for the transaction that gets reset when a new span has been created, so we avoid the overhead of having a timer per span.
this timeout in millis should be configurable via SentryOptions

[2021-11-26 16:05] marandaneto opened #1820 "Rename fragment span operation"
https://github.com/getsentry/sentry-java/blob/main/sentry-android-fragment/src/main/java/io/sentry/android/fragment/SentryFragmentLifecycleCallbacks.kt#L164

from `ui.fragment.load` to `ui.load` to align with other UI operations

[2021-11-26 16:06] marandaneto commented on #1820
no feature relies on it, so its ok to do a "breaking change"

[2021-11-29 18:01] bruno-garcia commented on #1086
This came up also here: https://github.com/getsentry/examples/issues/116
I wonder if we could special case at least for `NullPointerException`. Since we have the full package+class name in there, we could run this through proguard processing during ingestion. /cc @jan-auer @untitaker

[2021-11-30 10:36] iker-barriocanal commented on #1817
This only happens on release branches and can be solved by running the post-release script with the current and new versions as arguments. Not prioritized at the moment.

[2021-11-30 13:42] untitaker commented on #1086
are those proguard names just embedded in another string? is there an example payload?

[2021-11-30 21:10] acdcjunior opened #1822 "Coroutines will not nest properly past one level when using the global hub"
_Platform:_
- [x]  Java -> 11/11
- [x]  Kotlin -> 1.5.21 (target jdk 11)

_IDE:_
- [x]  IntelliJ -> 2021.2.2

_Build system:_
- [x]  Gradle -> 6.8.3

_Android Gradle Plugin:_
- [x]  No

_Sentry Android Gradle Plugin:_
- [x]  No

_Platform installed with:_
- [x] Maven Central

The version of the SDK:
**5.4.2**

---
I have the following issue:

Coroutines don't nest properly.

From what I could see

[2021-11-30 21:45] arysharifian opened #1823 "Ending Subspan Prematurely Ends Transaction"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [X]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2021-12-01 08:11] marandaneto commented on #1822
cc @maciejwalkowiak

[2021-12-01 08:24] marandaneto commented on #1823
`pinUtils.startSpan("op", activeSentryTrace, transaction)` returns an object, which is the child span, you should call `finish` in this object.
`pinUtils.endSpan(activeSentryTrace, transaction)` means you are calling `finish` in the transaction and not in the child span.

a proper way would be:

[code]

[2021-12-01 08:24] #1823 closed

[2021-12-01 09:46] #1820 closed

[2021-12-01 10:44] maciejwalkowiak commented on #1822
This is a limitation coming from the design that there can be only single active span bound to the scope. In your example, you would need to be explicit on what is the parent span for new child spans:

[code]

[2021-12-01 12:08] marandaneto commented on #1817
@iker-barriocanal fine but this is a craft issue right, should I transfer this issue to the craft repo?

[2021-12-01 15:25] marandaneto commented on #1817
@iker-barriocanal can you point me where this should be addressed, maybe I look myself since releases now are a pain.

[2021-12-01 15:33] marandaneto commented on #1435
there's also this page https://docs.sentry.io/platforms/flutter/enriching-events/context/
ideally we'd have such page for all SDKs, all the context should be documented under this page and develop docs

[2021-12-01 18:01] acdcjunior commented on #1822
@maciejwalkowiak

Hey, Maciej, thanks for the feedback.

Yes, if I did it manually, that's what I would have done. But this scenario I'm facing is actually taking place within sentry's Feign client implementation, see my comment:

I'm invoking the feign client from a coroutine. `SentryContext()` clones the `Hub`, but it drags the same transaction is used in all coroutines, meaning when one corouti

[2021-12-02 01:28] acdcjunior commented on #1822
In other words, I can't do the suggested change because [the `startChild` is actually invoked by `SentryFeignClient`, not me](https://github.com/getsentry/sentry-java/blob/5.4.3/sentry-openfeign/src/main/java/io/sentry/openfeign/SentryFeignClient.java#L45), so it is as if my code was:

[code]

[2021-12-02 05:05] maciejwalkowiak commented on #1822
@acdcjunior got it. You're right, thats the limitation coming from having only single active span bound to the scope at the same time. To get it working, `Sentry.getSpan` would need to be contextual and be able to return different span depending on the thread/coroutine - there is some design work that would need to be done.

I think there's currently no way to workaround it, perhaps @marandaneto h

[2021-12-02 08:31] marandaneto commented on #1822
I'll discuss internally but I second @maciejwalkowiak , we're limited by the API design.
the hierarchy might be wrong but the timeline on the UI dashboard is correct since it's based on the timestamp.

[2021-12-02 10:35] iker-barriocanal commented on #1817
@marandaneto I don't know where exactly this should be addressed, but you can read the [post-release script conventions](https://github.com/getsentry/craft#post-release-script-conventions).

[2021-12-02 22:09] acdcjunior commented on #1822
Yeah, I actually got a problematic timeline as well (some calls being registered as taking 6ms when they actually took 100+ms), but the server I noticed that was running 21.2.0. Just changed to sentry.io, hopefully that gets fixed.

[2021-12-03 07:54] maciejwalkowiak opened #1825 "Resolve trace header with `@SentryTransaction` annotation"
`@SentryTransaction` annotation added on the method starts a new transaction. It could be extended to start a transaction from a trace header if one of method parameters is annotated with `@SentryTraceHeader` annotation. For example:

[code]

~It could be more specific to `spring-messaging` and meta-annotate `@SentryTraceHeader` with `@Header("sentry-trace")`, then the same sample would look like:

[2021-12-05 12:30] MRezaNasirloo commented on #1299
For anyone having this issue

Disable auto init in your `androidTest/AndroidManifest.xml`

[code]

[2021-12-06 10:05] marandaneto opened #1827 "Create spans from the transaction root instead of latest active span"
We've decided that automatically created spans should be a child of the root transaction.
It'll be a flat list of spans but the timeline is still correct due to the timestamps.

On Cocoa, https://github.com/getsentry/sentry-cocoa/issues/1215 was already closed to keep creating automatic spans from the root.

This is only necessary for Mobile integrations since they have the concept of `singleHub`,

[2021-12-06 10:17] marandaneto commented on #1827
We don't think its a breaking change since this public API does not change, the chart timeline does not change, but only the hierarchical view of the spans.

[2021-12-06 10:17] marandaneto commented on #1827
cc @bruno-garcia

[2021-12-06 10:23] marandaneto opened #1828 "Align `getSpan` method from Scope on Android/Java and iOS"
related to https://github.com/getsentry/sentry-java/issues/1827 and https://github.com/getsentry/sentry-java/issues/1822

Since they have different behavior on both platforms.
on iOS it always returns the root transaction.
on Android/Java it returns the latest active span.

[2021-12-06 12:33] marandaneto commented on #1796
I've tested the 3rd option 2y ago and it worked really well, indeed, https://github.com/marandaneto/android-exit-reasons-api-sample
the approach we could take is, enable the watchdog when Android <= 10 and use the new API when Android >= 11.

the new API returns a InputStream tho, so it requires us converting this info into a SentryEvent https://developer.android.com/reference/kotlin/android/app/A

[2021-12-06 12:40] marandaneto commented on #1796
[sample_anr.txt](https://github.com/getsentry/sentry-java/files/7660702/sample_anr.txt)

[2021-12-06 14:27] marandaneto opened #1829 "Implement local scope, which is a method parameter for the capture methods"
Similar to Dart/Flutter https://github.com/getsentry/sentry-dart/pull/463/files

[2021-12-08 08:01] mr-africa opened #1830 "CWE-330 | Use of Insufficiently Random Values"
Hello!

My react native android app was audited by some security company. And they have found an issue in sentry-java codebase. I know it's a weird issue and it's ok to use insecure random not in cipher algorithms. But my employer require to fix these issues.

Could you change please
[code]
to
[code]

in files:

https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/Sent

[2021-12-08 08:40] marandaneto commented on #1830
@mr-africa changing does not hurt either, thanks for reporting.
would you like to submit a PR?

[2021-12-08 13:37] mr-africa commented on #1830
@marandaneto I submitted a pull request. But I don't know how to test my changes it could you review it and test if possible.

[2021-12-09 10:16] mr-africa opened #1833 "CWE-250 | Execution with Unnecessary Privileges Improper"
Hello again!

My react native android app was audited by some security company. And they have found one more issue in sentry-java codebase.

(I've reported their previous issue here #1830  )

They found problem here:
https://github.com/getsentry/sentry-java/blob/main/sentry-android-core/src/main/java/io/sentry/android/core/util/RootChecker.java

I'm not sure is it real issue or not. And how to fix

[2021-12-09 10:24] philipphofmann opened #1834 "Add Device Context Locale to 5.x"
Send `device.locale` with the [event context](https://develop.sentry.dev/sdk/event-payloads/contexts/#culture-context). It's basically the same as `device.language`. Right now Discover doesn't support `device.language`, but it supports `device.locale`. In the future, both `device.language` and `device.locale` should be marked as deprecated and be replaced with `culture_context`.

Related to https:

[2021-12-09 10:29] marandaneto commented on #1833
@mr-africa that's indeed true but we only use it to detect if the device is rooted or not, we don't execute any other command, this is very useful to find out or debug issues with rooted devices, I don't think we can fix this one.
ideas?

[2021-12-09 10:33] philipphofmann opened #1835 "Mark device.language and device.locale as deprecated"
Both `device.language` and `device.locale` were marked as deprecated with https://github.com/getsentry/develop/pull/329. They should be replaced with [`culture_context`](https://develop.sentry.dev/sdk/event-payloads/contexts/#culture-context), see https://github.com/getsentry/sentry-java/issues/1836

Also related to https://github.com/getsentry/develop/issues/477.

[2021-12-09 10:35] philipphofmann opened #1836 "Add culture context"
With https://github.com/getsentry/develop/pull/329, we introduced culture context to our SDKs. Add it to the java SDK.

We still need to wait until Discover supports culture_context before adding this.

[2021-12-09 13:01] #1834 closed

[2021-12-10 04:22] dangdo1 opened #1838 "React native app just warm start"
_Platform:_
- [x ]  Android -> 29, 30, 31
- [x]  React-Native -> 0.66.3
- `    "@sentry/react-native": "^3.2.6",
    "@sentry/tracing": "^6.15.0",
    "@sentry/wizard": "^1.2.15",`
---------------------------------

`  @Override
  public synchronized void onActivityCreated(
      final @NonNull Activity activity, final @Nullable Bundle savedInstanceState) {
    setColdStart(savedInstanceState);

[2021-12-10 07:16] marandaneto commented on #1838
@dangdo1 can you provide a minimal reproducible example? I can't reproduce it.

[2021-12-10 10:39] dangdo1 commented on #1838
Thank you for your concern
This my simple app to demo
https://github.com/hidang/todo-sentry-demo
I use React Native CLI for code base and:

[2021-12-10 16:14] dangdo1 commented on #1838
@marandaneto  Thank you for your concern
This my simple app to demo
https://github.com/hidang/todo-sentry-demo
I use React Native CLI for code base and:

[2021-12-11 10:46] marandaneto opened #1840 "if `transaction.finish` was called, we should not allow calling `startChild`"
https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/SentryTracer.java#L134-L157

we'd need to check as we do on `finish` https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/SentryTracer.java#L209

@philipphofmann confirm on iOS, this could avoid concurrent problems like https://github.com/getsentry/sentry-dart/issues/662

[2021-12-11 10:47] marandaneto commented on #1840
@bruno-garcia worth checking .NET too

[2021-12-13 09:12] mr-africa commented on #1833
@marandaneto I don't know what we can do here. I suppose we should close the issue.

[2021-12-13 09:12] #1833 closed

[2021-12-13 09:54] marandaneto commented on #1833
report as a false positive to the security team, the SDK is open-source, they can inspect and validate that.

[2021-12-13 10:30] philipphofmann commented on #1840
@marandaneto, what do you exactly mean by not allowing to call `startChild`?

[2021-12-13 10:42] marandaneto commented on #1840
@philipphofmann If the transaction is finished, we should not allow adding one more child to the children list, which means, we've to check if the transaction is already finished before executing the `startChild` method or bail at the very beginning.

[2021-12-13 10:45] philipphofmann commented on #1840
Yes, but was does not allowing actually do? Does the transaction return a no-op child? Does it throw an exception?

[2021-12-13 11:14] marandaneto commented on #1840
I'd say it returns a no-op child, but the issue has a `needs discussion` tag, that's open.

[2021-12-13 14:29] romtsn opened #1842 "Wrapping Context.openFileInput/openFileOutput"
At the moment we can't simply wrap those with `SentryFileInputStream.Factory.create(openFileInput(filename), filename)`, because the filename has to be made up using `Context.getFilesDir()` or be the absolute file path, and in this case it's just a simple name.  Android doesn't allow to create an instance of FIOS with just a simple name.

In other words, we'd need to change the code to `SentryFile

[2021-12-13 14:44] romtsn commented on #1842
Let's go with option 1 first, and then ship a new version of the java SDK, meanwhile start implementing option 3

[2021-12-14 10:35] marandaneto commented on #1827
example: https://github.com/getsentry/sentry-java/blob/main/sentry-android-fragment/src/main/java/io/sentry/android/fragment/SentryFragmentLifecycleCallbacks.kt#L134-L140

[2021-12-15 15:18] bruno-garcia commented on #1416
We decided not to do this due to the high cardinality value and low impact

[2021-12-15 15:18] #1416 closed

[2021-12-15 15:20] #1830 closed

[2021-12-15 15:43] marandaneto commented on #1828
If hub is `globalMode` enabled, we always return the root transaction.

Doing this we don't need to do https://github.com/getsentry/sentry-java/issues/1827

This is going to break the relationship for the DB auto instrumentation, We have to create the parent span, hold the reference and create the child from it, which requires changes on the Plugin.

We should talk about the thread-local storage b

[2021-12-15 15:59] marandaneto commented on #1796
Let's use the new API for Android >= 11 and keep the watch dog approach for back compatibility.

[2021-12-15 23:19] caseyoneill commented on #1004
Wow. This got me too and I never would have figured it out without this post. Is there a better way to log issues like this envelope error without enabling debug?

[2021-12-16 09:51] marandaneto commented on #1838
@dangdo1 thanks, i will try it out

[2021-12-16 10:22] limonzet opened #1847 "Cache Envelope will be deleted when the app restart but the server‘s response is still not successful"
_Platform:_
- [yes]  Android -> If yes, which Device API (and compileSdkVersion = 31/targetSdkVersion = 31/Build tools = 31) version?
- [ ]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If y

[2021-12-16 12:18] marandaneto commented on #1847
@limonzet We don't retry to do send envelopes if something went wrong, that's intentional (unless you've reached the rating limit).
The problem here is the API returning 404, are you using sentry.io or selfhosted?

[2021-12-16 23:39] apramana opened #1850 "Update SentryApolloInterceptor for Apollo v3"
[Apollo client v3](https://github.com/apollographql/apollo-kotlin) has been promoted to GA and there is a [new API for interceptors](https://github.com/apollographql/apollo-kotlin/blob/main/apollo-runtime/src/commonMain/kotlin/com/apollographql/apollo3/interceptor/ApolloInterceptor.kt).

[2021-12-17 03:11] limonzet commented on #1847
It is self-hosted. But if the server is responded with another code, all the crash info in local will be lost. Nobody can guarantee that the server is always running established, is that right?

[2021-12-17 06:15] marandaneto commented on #1847
that's correct, we don't retry only if the server returns something (e.g. an API error), if there's no connection, we do retry, that's how it should work.

[2021-12-17 06:15] #1847 closed

[2021-12-17 07:55] antonanymind opened #1851 "Memory issues with breadcrumbs"
I have OOM issues with new versions of Sentry in my Kotlin(Spring Boot) project after I've migrated from the legacy SDK. According to MAT, I have a lot of breadcrumb objects in the heap.

[code]
80% of objects in the heap are breadcrumbs for some reason. The growth continues until the app dies with code 137.

This is my Sentry configuration.

Gradle:
[code]
Logback.xml:
[code]
I don't know what to

[2021-12-17 09:28] maciejwalkowiak commented on #1851
By default, scope can store up to 100 breadcrumbs. Did you change the value for `sentry.max-breadcrumbs` property?

If its 100, this would mean that there are 17000 scopes living simultaneously.

Can you share a bit more about your application that could be helpful to debug? It it only Spring MVC, or do you use more instrumentations?

[2021-12-17 10:12] antonanymind commented on #1851
No. The only property I didn't share was the DSN.

It's WebFlux, but with the threading model from Tomcat.
This is how it looks:

[code]
The reason is almost the same as described here https://stackoverflow.com/questions/43472091/using-spring-boot-weblfux-with-embedded-tomcat.
We also use Google PubSub:
[code]

[2021-12-17 10:21] antonanymind commented on #1851
I can actually filter out all breadcrumbs. We don't really use this feature much. I had an idea to turn them off temporarily like this:
[code]
May it potentially help?

[2021-12-17 10:33] marandaneto commented on #1851
yes, or set `options .maxBreadcrumbs = 0`, so breadcrumbs don't even get added to the list

[2021-12-17 10:33] maciejwalkowiak commented on #1851
Yes, as a workaround it should help - as breadcrumbs wont be ever added to a scope. I'll try to reproduce your issue locally as collecting breadcrumbs endlessly should never happen.

[2021-12-17 10:51] antonanymind commented on #1851
Ok cool. Thank you, guys. Should you need more information on that, pls let me know. I can even show you the breadcrumbs.

[2021-12-19 18:36] maciejwalkowiak commented on #1851
Most likely, the error come from our [buggy](https://github.com/getsentry/sentry-java/issues/1790) Webflux integration. Until its fixed I recommend:

- disable `SentryWebfluxAutoConfiguration`:

[code]

- in `logback.xml` (make sure it's lowecase `logback.xml`), disable logging to breadcrumbs:

[code]

[2021-12-20 07:20] mr-africa commented on #1830
@marandaneto Can I ask one more question. When these changes will be available in sentry-react-native?

[2021-12-22 09:21] volvotrax opened #1856 "TracesSamplerCallback not called in WebFlux"
_Platform:_
Microservices architecture.
Some microservices are built with Spring Webflux, others with Spring MVC
- [x]  Java 11
- [x]  Spring Boot 2.6.1

_IDE:_
- [x] IntelliJ IDEA 2021.3 (Ultimate Edition)

_Build system:_
- [x]  Maven 3.6.3

_Platform installed with:_
- [x] Maven Central

The version of the SDK:
**5.5.2**

---
I have the following issue:

I set a `TracesSamplerCallback`. It's ca

[2021-12-22 09:52] maciejwalkowiak commented on #1856
@volvotrax we do not support the performance feature in Webflux (yet) - see https://github.com/getsentry/sentry-java/issues/1807. So far we provide only experimental support for exception handling, but it comes with some issues (https://github.com/getsentry/sentry-java/issues/1790)

[2021-12-22 09:52] maciejwalkowiak commented on #1856
@marandaneto I think this one can be closed as duplicate of https://github.com/getsentry/sentry-java/issues/1807

[2021-12-22 13:24] volvotrax commented on #1856
ok, thanks for your quick answer.
Could you please update the Sentry documentation about that?
[https://docs.sentry.io/platforms/java/guides/spring-boot/webflux/](https://docs.sentry.io/platforms/java/guides/spring-boot/webflux/)

[2021-12-22 13:24] #1856 closed

[2021-12-22 13:59] pinkasey opened #1858 "MonoRepo has multiple source-roots - needs `root_source_code_paths`"
_Platform:_
- [V]  Java -> Java 17
(I'm actually using [dropwizard-sentry](https://github.com/dhatim/dropwizard-sentry), which is based on [sentry-logback](https://github.com/getsentry/sentry-java/tree/main/sentry-logback))

_IDE:_
- [V]  IntelliJ -> 2021.3

_Build system:_
- [V]  Gradle

_Platform installed with:_
- [V] JCenter

The version of the SDK:
**5.5.2**

---
I have the following issue:
M

[2021-12-30 10:09] benallard opened #1859 "Any help setting up Transaction tracking with Jersey JAX-RS"
_Platform:_
- [X]  Java -> 8
- [X]  Logback ->
- [X]  Spring -> 5.13

The version of the SDK:
**5.5.2**

---
I have the following issue:

The provided spring SentryTracingFilter does not record any transaction as it is unable to get a transaction name.

We are not using spring-webmvc, but rather Jersey (2.35), so the request attribute "BEST_MATCHING_PATTERN" is not set.

The whole stuff seems to b

[2021-12-31 07:37] maciejwalkowiak commented on #1859
There seems to be no easy way to get the best matching patch in Jersey. If there would be, you could follow same steps as in the answer for similar problem referring Grails integration: https://forum.sentry.io/t/sentry-java-spring-boot-and-grails-performance-tracing-not-working/15765/3

One hint I can think of is looking up how its done in OpenTelemetry:
https://github.com/open-telemetry/opentelem

[2021-12-31 11:16] benallard commented on #1859
Thanks for the hint. That class might be a place to start looking at: https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/instrumentation/jaxrs/jaxrs-2.0/jaxrs-2.0-jersey-2.0/javaagent/src/main/java/io/opentelemetry/javaagent/instrumentation/jaxrs/v2_0/JerseyRequestContextInstrumentation.java

[2022-01-03 07:56] romtsn commented on #1858
Hey @pinkasey thanks for opening the issue, could you share a bit more details about your setup? I assume you've been through https://docs.sentry.io/platforms/java/configuration/releases/ and https://docs.sentry.io/product/releases/suspect-commits/ ?

[2022-01-03 11:35] pinkasey commented on #1858
@romtsn thank you very much for the quick reply, this time of year 🎅 🎆 🎄

First, an update -
I've seen "Suspect Commit" on one issue since I've opened this issue 🎉
The stacktrace was from `QuestionnaireService`, which is the only sub-project that I have mapping for,
so that suggests that I was right about the mapping - and if so, I can only get suspect commits for a very small portion of my code-b

[2022-01-03 11:53] pinkasey commented on #1858
about my setup -

### Project structure
as mentioned in the issue description, in my git repo (backend in Kotlin), there are many sub-directories, some of which are backend services:
- `QuestionnaireService`
- `DocumentGeneratorService`
- ...
each such directory is a sub-project, it compiles and deployed in its own pipeline (there are some shared code in shared directories)

### SDK config
Our ser

[2022-01-04 16:35] dlew opened #1862 "Sentry init is causing ANRs in our Android app"
_Platform:_
- [ x ]  Android -> compileSdkVersion/targetSdkVersion == 31
- [ x ]  Kotlin -> Kotlin 1.5.31, jvmTarget 1.8
- [ x ]  Timber -> 5.0.1

_Build system:_
- [ X ]  Gradle -> 7.3.3

_Android Gradle Plugin:_
- [ x ]  Yes -> 7.0.3

_Proguard/R8:_
- [ x ]  Enabled

_Platform installed with:_
- [ x ] Maven Central

The version of the SDK:
**5.4.3**

---
I have the following issue:

We've been r

[2022-01-04 17:28] marandaneto commented on #1862
@dlew since you are initing the SDK manually, have you disabled the automatic init.? https://docs.sentry.io/platforms/android/configuration/manual-init/

The SDK is closing itself and awaiting its resources to be cleared up.

[2022-01-04 19:28] dlew commented on #1862
Ah, that is indeed the problem! I no longer see us closing `Hub.close()` when I disable automatic init. Thanks for the pointer!

[2022-01-04 19:28] #1862 closed

[2022-01-05 14:21] benallard commented on #1859
Got it. Using a JAX-RS ContainerRequestFilter, one can request the best_matching_pattern. You'll need to _inject_ the ServletRequest to set the attribute. Then you can use the `SentryTracingFilter` out of the box. It's a bit sad that we'll need spring-webmvc` just to be able to pass the attribute name, but relaxing the transaction name provider will probably help there.

[code]

@maciejwalkowiak W

[2022-01-05 14:57] chulkilee opened #1863 "java.lang.ClassNotFoundException: org.springframework.web.servlet.HandlerExceptionResolver"
_Platform:_
- [v]  Java -> 17 (sourceCompatibility/targetCompatibility as well)
- [v]  Spring -> spring-boot:2.4.5

_Build system:_
- [v]  Bazel ->  6.0.0-pre.20211215.3 / rules_jvm_external 4.2

The version of the SDK:
**5.5.1**

---
I have the following issue:

When using `io.sentry:sentry-spring-boot-starter` as runtime deps on spring boot **batch** application, which has also a web endpoint (u

[2022-01-05 16:30] bruno-garcia commented on #1177
Seems like we need to override every log method since the current hooks are not enough.
Looking at data from this library indicates the value we add here is slim due to bad grouping and noisy messages (which include the stack trace). So raising priority here

[2022-01-06 05:14] maciejwalkowiak commented on #1863
Thanks for reporting. Indeed `SentryWebMvcConfiguration` that was meant to be triggered only for Spring MVC application, triggers also when there is no Spring MVC, just that application runs in servlet mode (which in most cases means that it is a Spring MVC application, but not necessarily in this one).

I assume in your setup, you have only `spring-web` in your classpath from Spring Framework web

[2022-01-06 05:23] maciejwalkowiak commented on #1859
Thanks for figuring it out! You don't need a dependency to `spring-mvc` to set attribute name. After all, `HandlerMapping.BEST_MATCHING_PATTERN_ATTRIBUTE` is a constant that won't change so you can just use a string equivalent.

There is an open PR for relaxing `TransactionNameProvider` https://github.com/getsentry/sentry-java/pull/1861 - so you will be able to use another attribute name anyways.

[2022-01-09 23:14] marandaneto commented on #1524
related topic https://kt.academy/article/cc-exception-handling

[2022-01-10 12:54] 39otrebla opened #1867 "Android Crash on newer SDK version"
### Environment

SaaS (https://sentry.io/)

### Version

_No response_

### Steps to Reproduce

1. Upgrade to `sentry.java.android` version `5.5.2`
2. Use it as you normally would

### Expected Result

No Sentry's SDK internal crash should happen.

### Actual Result

An internal crash does happen from time to time (never experienced before version `5.5.2`).

[code]

More info here:

![Screenshot 2

[2022-01-10 15:36] marandaneto commented on #1867
@Swatinem would you mind having a look? the underlying sentry-native version is https://github.com/getsentry/sentry-native/releases/tag/0.4.12

[2022-01-10 16:01] Swatinem commented on #1867
This is interesting, the code is this:

https://github.com/getsentry/sentry-native/blob/521860373df1cc02607546c3474d78b42042b459/src/sentry_transport.c#L113

So it is calling a function pointer, with a value that looks pretty much like some kind of poison value (`358b358b358b358b`). I will have a look.

Super interesting that sentry can report a crash that happens during its own crash handler.

[2022-01-10 16:10] 39otrebla commented on #1867
@philipphofmann not very often, but the number of sessions on that app version is still low (due to update and incremental rollout). We have had literally millions of sessions with no crashes in the past year, and we started seeing this with much lower numbers so we thought something may be wrong.

@Swatinem thank you for looking into this. Unfortunately, we have no context: the crash came up with

[2022-01-10 17:30] Swatinem commented on #1867
Given the stack trace, and that you do get the crash itself (and probably the original crash that caused this one), I figure that the SDK itself operates fine, and on restart, the transport was working properly (handing of the crashes to the Java part for sending).

This makes me wonder what might have poisoned the memory of the transport (which otherwise works fine).
Does this coincide with any o

[2022-01-11 01:57] o0hailang0o opened #1868 "sentry-spring-boot-starter"
The Java environment sentry spring boot starter is not easy to install sentry 9.1.2. sentry1. 7.23 official methods are easy to use.

[2022-01-11 02:06] bruno-garcia commented on #1868
@o0hailang0o Sentry SDK for Java (including the spring boot integration) are not supported by Sentry 9. That's because it relies on Envelopes which was a format/endpoint added back in 2019 or so. We mention that breaking change in the migration docs and release pages.

We strongly recommend you upgrade your Sentry (which include a ton of features like Release Health, Performance Monitoring, Discov

[2022-01-11 02:06] #1868 closed

[2022-01-11 02:07] bruno-garcia commented on #1868
https://github.com/getsentry/self-hosted

[2022-01-12 15:36] marandaneto commented on #1836
We're moving to Blocked since we depend on https://github.com/getsentry/sentry/issues/30525 or someone working actively on the 6.0 release.

[2022-01-12 15:40] marandaneto commented on #1840
We're gonna return NoOp if the transaction was already finished, similar to implemented Dart solution, We should also log out when that happens, so the user knows why and what to do, which is also done for every setter on the span, e.g. setData, etc...

[2022-01-12 15:47] marandaneto commented on #909
We're going to evaluate again which violations the SDK does and if it's possible to avoid them.
Some of them are avoidable but not all, e.g. Creating the folders for offline caching or the OkHttp one.
We could consider adding a CI check to identify that on PRs (that could be a follow-up).

[2022-01-12 18:46] BamButz opened #1869 "Java SDK is using not exported components of com.google.gson"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [x]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version? 17
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which vers

[2022-01-12 20:29] romtsn commented on #1869
The problem is that the `gson` dependency got resolved to 2.8.9 in your build, although we are relying on version 2.8.5 - if you don't care about  which gson version you're using, I'd recommend to force it to 2.8.5, because we are going to get rid of gson in the future major version.

You can also try our `6.0.0-alpha.1` release, which doesn't depend on gson anymore, hence the issue should be gone

[2022-01-13 02:22] ningmengwork opened #1870 "TransactionFinishedCallback"
Spring Boot Starter, How to tirgger TransactionFinishedCallback Implement?

[2022-01-13 05:11] BamButz commented on #1869
Ah okay, I wasn't aware that the 6.0.0 dependency will be removed. Thanks for the information, then I'll close the issue.

[2022-01-13 05:11] #1869 closed

[2022-01-13 06:55] maciejwalkowiak commented on #1870
`TransactionFinishedCallback` is an internal SDK class and is not meant to be used by the SDK users. What is your use case? Perhaps there is another way to achieve the same, or alternatively we should revisit `TransactionFinishedCallback`.

[2022-01-13 07:14] ningmengwork commented on #1870
**traces-sample-rate** configured in my spring boot project with **sentry-spring-boot-starter** .  I wish set some custom data when sampling before the transaction finishes,  but actually  TransactionFinishedCallback Implment would not excute.  So how could I set some custom data when sampling with  **sentry-spring-boot-starter**,  look forward  to your answer.

[2022-01-13 08:30] maciejwalkowiak commented on #1870
Perhaps you achieve what you need with implementing `TracesSamplerCallback` as described in https://docs.sentry.io/platforms/java/guides/spring-boot/performance/?

[2022-01-13 09:08] ningmengwork commented on #1870
Thanks!

[2022-01-13 09:08] #1870 closed

[2022-01-13 11:35] bruno-garcia commented on #1869
We're also keen to get feedback on 6.0.0 as we close in to making it GA.

[2022-01-13 17:12] #1835 closed

[2022-01-14 13:35] philipphofmann commented on #1867
@39otrebla, can you maybe reply to the question of @Swatinem

[2022-01-14 15:04] 39otrebla commented on #1867
@Swatinem I'm not sure how to reconstruct whether it coincides with other crashes. Of course, there are other few crashes in the same release, but none of them is close (the closest is more than 30 minutes before) or reported on the same user ID.

[2022-01-14 15:10] 39otrebla commented on #1867
We very recently reported a [crash on the Network Tracking component](https://github.com/getsentry/sentry-cocoa/issues/1633) of the Sentry Cocoa SDK. This too did appear in recent versions of the SDK as well, perhaps is it related? I know they are different SDKs, but maybe you are using shared libs under the hood...

[2022-01-17 14:39] #1689 closed

[2022-01-17 14:45] marandaneto commented on #1530
Let's not just rename, but rather deprecate and add the new one.

[2022-01-17 14:56] marandaneto commented on #1327
Let's cap at 3 levels at a minimum, otherwise, go one level less, e.g. `br.com.mycompany` keeps as it is, `br.com.mycompany.android` becomes `br.com.mycompany`.

[2022-01-17 14:58] marandaneto commented on #1327
Let's investigate if this is possible via the Gradle plugin before going ahead, we might be able to have the full list of package names and pass this to the SDK init., it'd be more accurate.

[2022-01-18 15:43] #1489 closed

[2022-01-18 16:49] marandaneto commented on #1536
@maciejwalkowiak same question for `SentryUserProviderEventProcessor`.

[2022-01-18 16:59] marandaneto commented on #1428
That is gonna force people using newer versions of AGP, that could be a problem for a portion of Android users, but the majority of the problem would come from Hybrid SDKs (RN and Flutter) since they are always behind.

[2022-01-18 17:45] #1530 closed

[2022-01-18 17:51] #1589 closed

[2022-01-19 08:25] romtsn commented on #1086
also consider doing this for UI event breadcrumbs (#1412)

[2022-01-19 13:51] lucas-zimerman commented on #1532
I like the `AddExceptionFilterForType`

[2022-01-20 11:48] romtsn opened #1877 "Unify ActivityLifecycleCallbacks under a single Integration"
We have multiple integrations that rely on `Application.ActivityLifecycleCallbacks` (ActivityLifecycle, UserInteraction, FragmentLifecycle), ideally we would register for this callbacks only once in a "parent" integration, that would delegate the lifecycle calls to other "child" integrations.

[2022-01-20 16:27] anuragagarwal561994 opened #1878 "Sentry Servlet using Servlet API as Runtime Dependency"
_Platform:_
- [ ]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?
- [x]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version?
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version

[2022-01-21 04:30] theindexer opened #1879 "How does isInApp work?"
In the StackTraceFactory, [isInApp](https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/SentryStackTraceFactory.java#L76) appears that it should return false for everything if you haven't set any includes or excludes. Looking at the python version, I see that it inverts everything to "inApp" if nothing is set to inApp so maybe something similar happens somewhere down

[2022-01-21 05:44] maciejwalkowiak commented on #1878
Thanks for reporting @anuragagarwal561994

[2022-01-21 06:12] anuragagarwal561994 commented on #1878
Thanks for quick response @maciejwalkowiak

[2022-01-21 08:31] romtsn opened #1881 "Add more UI events breadcrumbs"
Add breadcrumbs for

- [ ] #1977
- [ ] #1978
- [ ] #1979
- [ ] #1980

Split those up into separate issues before implementing this

[2022-01-21 11:31] #1878 closed

[2022-01-21 11:43] marandaneto commented on #1881
Consider doing https://github.com/getsentry/sentry-java/issues/1877 if tackling those new integrations that depend on lifecycle.

[2022-01-21 12:07] marandaneto commented on #1879
That's correct.

I don't think so, the difference is that at least on Android, we're able to add the App's package as inAppIncludes by default.
If you look at our samples, https://github.com/getsentry/sentry-java/blob/main/sentry-samples/sentry-samples-console/src/main/java/io/sentry/samples/console/Main.java#L63-L68
We're always adding the App's package as inAppIncludes, since we can't detect it

[2022-01-21 15:38] theindexer commented on #1879
Ah, for context this is not an Android app.

The documentation states that inAppIncludes overrides inAppExcludes. From that, I don't think it's intuitive that you have to provide inAppIncludes to make inAppExcludes work. Also, it still feels like inAppExcludes doesn't have any effect regardless.
The first two tests of inAppExcludes https://github.com/getsentry/sentry-java/blob/main/sentry/src/test

[2022-01-21 16:09] marandaneto commented on #1879
@theindexer gotcha, thanks for the info.

The docs state:

And that's true when possible (e.g. Android apps) but not for Java Apps, maybe the docs should mention that.
You can also mutate the whole event including the `inApp` flag (only from the frames you want) using the `beforeSend` callback https://docs.sentry.io/platforms/java/configuration/filtering/#filtering-error-events or even EventProces

[2022-01-21 16:09] #1879 closed

[2022-01-21 16:23] theindexer commented on #1879
I'll look into the callback/processor situation, sounds perfect. Thanks again! Also, I messed up the formatting of my above one and accidentally quoted new text I wrote. Still kinda thinking that `inAppExcludes` is a deprecated attribute at this point but my actual issue is resolved.

[2022-01-21 17:17] #1412 closed

[2022-01-25 09:10] neseleznev opened #1882 "NullPointerException in SentryFeignClient NPE"
_Platform:_
- [x]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version? **11/11**
- [x]  Spring -> If yes, which version? **Spring Boot 2.4.9 / Spring 5.3.9**

_Platform installed with:_
- [x] Maven Central

The version of the SDK:
**5.5** but AFAIK that file didn't change since that time

---
I have the following issue:

[code]
where XXX is feignClient method call

**

[2022-01-25 09:10] neseleznev opened #1883 "NullPointerException in SentryFeignClient NPE"
_Platform:_
- [x]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version? **11/11**
- [x]  Spring -> If yes, which version? **Spring Boot 2.4.9 / Spring 5.3.9**

_Platform installed with:_
- [x] Maven Central

The version of the SDK:
**5.5** but AFAIK that file didn't change since that time

---
I have the following issue:

[code]
where XXX is feignClient method call

**

[2022-01-25 09:36] #1882 closed

[2022-01-25 13:06] maciejwalkowiak commented on #1536
- `SentrySpringRequestListener` - should be removed, `SentrySpringFilter` should be used instead. This only affects users who used `SentrySpringRequestListener` directly, and message "use `SentrySpringFilter` instead` is enough
- `SentryUserProviderEventProcessor` - should be removed, once users start using `SentrySpringFilter` no other action is required
- `SentryProperties#isEnableTracing` - tra

[2022-01-25 13:19] marandaneto commented on #1536
@maciejwalkowiak thanks

[2022-01-25 14:48] marandaneto commented on #1536
@maciejwalkowiak related to the removal of `SentryUserProviderEventProcessor`, Can I remove the `SentryUserProvider` and all its usages too? looks like only related to the `SentryUserProviderEventProcessor` but I wanted to confirm anyway.

[2022-01-25 16:03] marandaneto commented on #1536
@maciejwalkowiak Removing `SentryUserProviderEventProcessor`, tests fail for `SentrySpringIntegrationTest`, I also don't see how `SentrySpringFilter` sets the user to the scope automatically since the tests use the `TestRestTemplate` with basic auth, so the user should be automatically captured by `SentrySpringFilter`, right?

[2022-01-27 10:16] marandaneto opened #1885 "Add SDK integrations to events"
Similar to https://github.com/getsentry/sentry-cocoa/issues/1649

The goal is to add integrations that are not on by default, so we can track adoption.

Relates to: https://github.com/getsentry/sentry-android-gradle-plugin/issues/308

[2022-01-27 16:06] marandaneto commented on #1445
Addressed on https://github.com/getsentry/sentry-java/pull/1875

[2022-01-27 16:06] #1445 closed

[2022-01-28 09:12] marandaneto commented on #1796
https://www.amanjeet.me/demystifying-the-anrs-puzzle/

[2022-01-28 15:15] #1883 closed

[2022-01-28 20:08] Paxa opened #1887 "No stacktrace is printed if there is exception in main thread"
_Platform:_
- [ ]  Java -> 8
- [ ]  Logback -> 1.2.3

_Build system:_
- [ ]  Gradle -> 5.2.1

The version of the SDK:
**3.2.1 - 6.0**

If there is exception in main thread, sentry will hide stacktrace

If disable `UncaughtExceptionHandler` then exception is shown as expected
[code]

[2022-01-30 07:52] marandaneto commented on #1887
@Paxa dup of https://github.com/getsentry/sentry-java/issues/1077 maybe?

[2022-01-31 10:08] danielle-h opened #1888 "No platform information in crash report - android"
_Platform:_
- [X]  Android ->
compileSdkVersion 30
         minSdkVersion 21
        targetSdkVersion 30

_IDE:_
- [X]  Android Studio -> Arctic Fox 202.3.1 Patch 4

_Build system:_
- [X]  Gradle ->'com.android.tools.build:gradle:3.6.3'

_Android Gradle Plugin:_
- [X]  Yes ->'com.android.tools.build:gradle:3.6.3'

_Sentry Android Gradle Plugin:_
- [X]  Yes ->  2.1.5

_Proguard/R8:_
- [X]  Enabled

[2022-01-31 14:15] sbrattla opened #1889 "Spring Boot Starter app not using WebFlux dies : SentryWebfluxAutoConfiguration.class cannot be opened because it does not exist"
### Environment

SaaS (https://sentry.io/)

### Version

_No response_

### Steps to Reproduce

I' trying out Sentry on an `spring-boot-starter-web` (`spring-boot-starter-jersey`) version `1.3.8.RELEASE` application. I'm not using webflux.

After having enabled Sentry, it dies on `class path resource [ io/sentry/spring/boot/SentryWebfluxAutoConfiguration.class] cannot be opened because it does not

[2022-01-31 19:00] chadwhitacre commented on #1887
@marandaneto Mind adding the "Status: Needs Information" label? 🙇

[2022-01-31 19:02] Paxa commented on #1887
yes

[2022-01-31 19:02] #1887 closed

[2022-01-31 19:04] Paxa commented on #1077
+1 for printUncaughtStackTrace
Also callback function would be nice, to customize how exceptions are printed (but not critical)

[2022-01-31 19:30] romtsn commented on #1888
If you scroll down there are usually dedicated sections for `Device` and `Operating System` - are those missing for you?

![image](https://user-images.githubusercontent.com/4999776/151859801-36ad81cd-004f-4566-819f-27d2c0acde0d.png)
![image](https://user-images.githubusercontent.com/4999776/151859808-cc911aa1-5781-4544-88b4-b94c37fe7929.png)

[2022-02-01 06:12] danielle-h commented on #1888
yes, they are missing:
![image](https://user-images.githubusercontent.com/23185702/151921005-e8258348-6d13-4e36-a832-7192e2a304b8.png)

[2022-02-01 07:50] marandaneto commented on #1888
@danielle-h Can I see your SDK init code snippet?

[2022-02-01 08:08] marandaneto commented on #1889
@maciejwalkowiak would you like to take this one? thanks

[2022-02-01 09:04] danielle-h commented on #1888
In my AndoridManifest.xml file:

[code]
dsn changed for publication.

[2022-02-01 09:11] marandaneto commented on #1888
@danielle-h which device and OS version are you testing to? Can you provide a minimal reproducible example?

[2022-02-01 09:18] marandaneto opened #1891 "Software Components will not be created automatically for Maven publishing from Android Gradle Plugin 8.0"
WARNING:Software Components will not be created automatically for Maven publishing from Android Gradle Plugin 8.0. To opt-in to the future behavior, set the Gradle property android.disableAutomaticComponentCreation=true in the `gradle.properties` file or use the new publishing DSL.

Likely related to `com.vanniktech:gradle-maven-publish-plugin`

[2022-02-01 09:26] danielle-h commented on #1888
I don't know what device this occurred on. I have contacted my testers but no one has reported a crash yet.
The crash was a `NoSuchMethodError` on `GetDrawable` in the launch activity. I was not able to reproduce it. I was hoping for platform/device information in order to be able to do so :)

[2022-02-01 09:27] sbrattla commented on #1889
I have upgraded the project to depend on `spring-boot-starter-web` version `2.6.3`. It appears that the error went away with that upgrade.

I have not been able to fully spin up the project, but at least the initial error is gone.

[2022-02-01 12:54] marandaneto opened #1893 "Timber should only add a new package and not replace the whole sdk metadata"
https://github.com/getsentry/sentry-java/blob/main/sentry-android-timber/src/main/java/io/sentry/android/timber/SentryTimberIntegration.kt#L47-L51

Similar to https://github.com/getsentry/sentry-dart/pull/725

So we know if an event was captured using Timber by the packages and `logger` attribute.
The `sdk` package still remains the Android one since it's the installed package.

[2022-02-01 21:27] bruno-garcia opened #1894 "Add 'Client Reports' to the Java and Android SDKs"
Sentry's protocol now offers a way to report counts and reason to why data gets dropped.

Spec: https://develop.sentry.dev/sdk/client-reports/

This was implemented in other places that can be used as a reference:
* JavaScript: https://github.com/getsentry/sentry-javascript/pull/3955
* Python: https://github.com/getsentry/sentry-python/pull/1181
* Relay: https://github.com/getsentry/relay/pull/107

[2022-02-02 07:52] maciejwalkowiak commented on #1889
@sbrattla as mentioned in the [docs](https://docs.sentry.io/platforms/java/guides/spring-boot/), minimum supported Spring Boot version is 2.1.0.

Cool, you've managed to upgrade. If you would be stuck with Spring Boot 1.x, the only option is to use Sentry Java SDK 1.7.x

[2022-02-02 07:52] #1889 closed

[2022-02-02 11:50] #1077 closed

[2022-02-02 15:31] marandaneto commented on #1888
Thanks, please let us know if you get any more information, I can't reproduce this issue with the few devices and emulators I have access to.

[2022-02-03 11:02] #1490 closed

[2022-02-07 11:56] marandaneto commented on #1257
Done by #1504

[2022-02-07 11:56] #1257 closed

[2022-02-08 11:36] romtsn opened #1900 "Support Timber tags"
We have no way to get the tag when inheriting `Timber.Tree`, because it's marked as internal/package-private for consumers https://github.com/JakeWharton/timber/blob/dc45d69b081a03e3fb83e81a7aee0f430f46b4f1/timber/src/main/java/timber/log/Timber.kt#L22. This means, when timber is used like this:

[code]
the tag will not be reflected on Sentry.

If this gets traction, we could either offer a reflec

[2022-02-08 11:55] #1177 closed

[2022-02-09 14:29] bruno-garcia commented on #1900
Would they accept a PR upstream that adds an API to get the tags?

[2022-02-09 14:36] romtsn commented on #1900
There is actually a few open PRs addressing that (this is the closest one to what we want https://github.com/JakeWharton/timber/pull/224/files), but none of them get any traction unfortunately.

[2022-02-09 14:36] marandaneto commented on #1900
We can try but https://github.com/JakeWharton/timber/pull/393 never got a reply/review.

[2022-02-09 23:12] bruno-garcia opened #1901 "Report different sdk.name for NDK crashes"
NDK crashes are captured by `sentry-native` and reported as `sentry.native`. This makes it hard to distinguish by builds bundled by the Android SDK (which are in fact using a different mechanism/backend to capture as any build documented directly on sentry-native repo.

I suggest we have a `#ifdef` that allows us to change the SDK name to `sentry.native.android` when building in this repository.

[2022-02-10 08:42] marandaneto commented on #1901
This should likely be in the `sentry-native` repo, https://github.com/getsentry/sentry-native/blob/0c5dd442a031e63b34e1941ccd5922b2ebec590a/include/sentry.h#L26

[2022-02-10 17:37] bruno-garcia commented on #1901
@marandaneto yes, and some bits here, defining the constant for example

[2022-02-11 11:42] kamilogorek commented on #1817
Tbh I dont understand what this issue is about. We need a failing release to get better logs.

[2022-02-11 13:36] marandaneto commented on #1817
@kamilogorek If you are releasing a version from a release branch, e.g.

`git checkout my_release_branch`
`craft prepare 1.0.0`
`craft publish 1.0.0`

During `craft publish` it fails in the post-release script since the script does `git checkout main`, but it should be rather `git checkout my_release_branch`, the script is unaware of which branch it should checkout and it does `main`, always.

[2022-02-11 16:41] Nohus opened #1906 "isSideLoaded issue tag on Android not working as expected"
The `isSideLoaded` tag for Android displays `false` even for sideloaded apps (apps installed directly from the APK):

![image](https://user-images.githubusercontent.com/11064768/153629916-df6aa7ae-9e6d-4461-af43-6819246a1871.png)

Here the `installerStore` tag shows the app was installed by `com.android.packageinstaller`, which is the system app used when installing an APK manually, and yet `isSid

[2022-02-11 18:24] Nohus commented on #1906
While I agree that my proposed solution is an enhancement going further than the original issue, this issue is still a bug: `isSideLoaded` shows `false` for sideloaded apps.

[2022-02-11 21:30] bruno-garcia commented on #1906
Thanks for raising this. We'll dig into the incorrect value for isSideLoaded further and update this issue

[2022-02-11 22:04] neseleznev opened #1907 "NPE in SentryFeignClient"
_Platform:_
- [x]  Java -> If yes, which Java (and sourceCompatibility/targetCompatibility) version? **11/11**
- [x]  Spring -> If yes, which version? **Spring Boot 2.4.9 / Spring 5.3.9**

_Platform installed with:_
- [x] Maven Central

The version of the SDK:
**5.6.1** (the newest with my previous fix rolled out)

-----

I have the following issue:
This is another bugfix to the issue #1883

NPE w

[2022-02-12 08:23] marandaneto commented on #1907
@neseleznev thanks for fixing this.

[2022-02-14 04:34] yhware commented on #1807
Hi, is there any update on this issue? WebFlux transaction support would be a great feature to have.

[2022-02-14 10:35] marandaneto commented on #1807
Not yet, someone tried to do a Draft PR tho https://github.com/getsentry/sentry-java/pull/1809

[2022-02-14 13:58] #1817 closed

[2022-02-15 01:01] VvoidVano commented on #1669
Tested with latest build io.sentry:sentry-android:5.6.1, the issue still exists.

[2022-02-15 07:05] marandaneto commented on #1669
Feel free to submit a PR :) happy to guide it.

[2022-02-15 13:02] Tristan971 commented on #1789
Fwiw Spring 6 / Spring Boot 3 are now reaching the first milestone stages and use the `jakarta.*` namespace, so this will soon start being more significantly adopted.

Having 2 global implementations does sound like a pain indeed, and the transition overall will take years most likely, so maybe some form of HttpServletRequest interface and 2 implementations would be best, then dealing with which o

[2022-02-16 10:46] krishnapatait opened #1913 "PEN Test : Insecure Random Number Generator"

[2022-02-16 13:13] marandaneto commented on #1913
Already fixed #1831, please upgrade your SDK.

[2022-02-16 15:42] romtsn commented on #633
Still not possible?

[2022-02-17 13:29] bruno-garcia opened #1914 "Enable Android native scope sync by default"
Today it's an opt-in. Let's:

1. Turn it on by default
2. Update docs: https://docs.sentry.io/platforms/android/enriching-events/scopes/#scope-synchronization

[2022-02-19 00:03] bruno-garcia opened #1916 "Inconsistent event drop vs session update logic"
We've received from a customer:

`captureEvent() :`
* if the event is dropped because its throwable is in the ignoredExceptionForTypes , method will immediately return the SentryId.EMPTY_ID , and nothing will be sent (see [here](https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/SentryClient.java#L116))
* if the event is dropped because beforeSend callback returned n

[2022-02-21 07:46] ueman opened #1917 "[Android] Add how much space an app takes up on the user's device to crash reports"
On Android, I can see how much space an app takes up on a user's device. This is split in

- App Size (Size of the app itself without any data it might have created)
- user data
- cache
- Total (sum of the above)

I would like to see this data in crash reports.

The use case is, that I can see if the app creates too much data or if I don't properly clean up data.

[2022-02-21 08:26] sbrattla opened #1918 "SentryTracingFilter.java assumes HandlerMapping.BEST_MATCHING_PATTERN_ATTRIBUTE always available"
_Platform:_
- [X ]  Java -> 8
- [ ]  Kotlin -> If yes, which Kotlin (and jvmTarget) version?
- [ ]  NDK -> If yes, which NDK/CMake version?
- [ ]  React-Native -> If yes, which version?
- [ ]  Timber -> If yes, which version?
- [ ]  Log4j2 -> If yes, which version?
- [ ]  Logback -> If yes, which version?
- [ ]  Spring -> If yes, which version?

_IDE:_
- [ ]  Android Studio -> If yes, which versio

[2022-02-21 09:48] maciejwalkowiak commented on #1918
Setting up custom `TransactionNameProvider` will be available in Sentry Java SDK 6.0 (https://github.com/getsentry/sentry-java/pull/1861).

If you use `RequestMappingHandlerMapping`, `HandlerMapping.BEST_MATCHING_PATTERN_ATTRIBUTE` should be set. Could you please show a minimal example (ideally fully working app in a separate repository) that reproduces this problem?

In meantime please follow thi

[2022-02-21 14:28] sbrattla commented on #1918
@maciejwalkowiak I don't have time to set up a minimal example here now, but sounds good with the custom `TransactionNameProvider`.

Right now I set the `HandlerMapping.BEST_MATCHING_PATTERN_ATTRIBUTE` through AOP, which works fine for the time being. Thanks :-)

[2022-02-21 15:27] maciejwalkowiak commented on #1918
Cool, thanks for quick feedback. I am closing this issue then, and watch for 6.x release when it becomes easier to set up.

[2022-02-21 15:27] #1918 closed

[2022-02-23 23:43] dlopuch opened #1920 "Spring SentryExceptionResolver not sending raw exception as BeforeSendCallback hint"
_Platform:_
- [x]  Spring ->  v5.1

_Platform installed with:_
- [x] Maven Central

The version of the SDK:
**5.6.1**

---
I have the following issue:

Trying to create a filter based off a Spring exception handler -- I want to filter based off a certain exception class that bubbles up from my controller.

https://docs.sentry.io/platforms/java/guides/spring/configuration/filtering/#event-hints say

[2022-02-24 05:44] maciejwalkowiak commented on #1920
You should be able to access the exception captured by `SentryExceptionResolver` through `SentryEvent#getThrowable`. If this is not the one you need, use can access root exception with `org.springframework.core.NestedExceptionUtils#getRootCause`. Let me know if it helps, or if not please provide more details about your specific use case.

[2022-02-24 11:29] HC-gcampelo commented on #1738
Hi @marandaneto , I just tested this with [6.0.0-alpha.2](https://github.com/getsentry/sentry-java/releases/tag/6.0.0-alpha.2) and it looks fixed, is this still going to be removed on the 6.0.0 release?

[2022-02-24 12:56] #1907 closed

[2022-02-24 16:28] dlopuch commented on #1920
That seems to work, thanks.

I guess then the issue is the documentation is very ambiguous about what the hint parameter is used for and when it should be expected vs. empty. Is there better documentation about what the hint object is supposed to be / when it should be used to get the underlying exception vs. when to use `SentryEvent#getThrowable`?

[2022-02-24 16:37] marandaneto commented on #1738
Its fixed by #1750

[2022-02-24 16:37] #1738 closed

[2022-02-24 16:53] marandaneto commented on #1920
@dlopuch as of now, only use the `SentryEvent#getThrowable`, `hints` are being [refactored](https://github.com/getsentry/sentry-java/issues/1558) on https://github.com/getsentry/sentry-java/milestone/7 and docs updates will follow.

[2022-02-24 16:53] #1920 closed

[2022-02-28 10:47] marandaneto opened #1923 "Gradle version catalog for better dependency management"
https://sasikanth.dev/posts/gradle-version-catalog

[2022-02-28 17:19] bruno-garcia opened #1926 "Offline caching improvements - Delay between and backoff when 429 is on"
The SDK guideline has a couple of new items regarding offline caching: https://github.com/getsentry/develop/pull/509

1. If rate-limit was hit, make sure the caching transport is aware. Meaning: don't read all files from disk to send to the HTTP transport when that's basically dropping everything due to rate-limit
2. Add a delay when reading from disk to avoid bursts of events which could trigger

[2022-02-28 21:34] bruno-garcia opened #1927 "AWS Lambda package"
A dedicated package for [AWS Lambda Java](https://docs.aws.amazon.com/lambda/latest/dg/lambda-java.html) that would help bootstrapping the SDK for this specific environment.

Related to: https://github.com/getsentry/sentry-dotnet/issues/730
Should address: https://github.com/getsentry/sentry-java/issues/350

[2022-02-28 21:41] bruno-garcia commented on #1829
Recently added in .NET: https://github.com/getsentry/sentry-dotnet/pull/1412

[2022-03-01 08:02] marandaneto commented on #1917
That makes sense, right now we do report the total and used size of the internal storage and external storage, but not in detail as requested.

[2022-03-01 17:37] bruno-garcia commented on #1789
Agreed to move this out of 6.0 since we want to ship this asap and it seems like spring boot on jakarta is not hugely adopted just yet so it can go out on the next major

[2022-03-02 08:27] JorisBodin commented on #1477
@marandaneto I had ignored the new errors of this type
But it seems that with the last version of sentry we never received any more new 🎉

[2022-03-02 08:27] #1477 closed

[2022-03-02 15:30] bruno-garcia commented on #912
Relates to: https://github.com/getsentry/sentry-dotnet/issues/1504

[2022-03-02 15:49] marandaneto commented on #912
It'd benefit when you have an unstable connection, or no connection at all.
Events are always sent on restart anyway.
Also when you never close/kill the app very often, the OS does it anyways when memory is needed.

The next step would be to implement an improvement already made by the Sentry Cocoa SDK, which is sending every pending envelope once an envelope is captured.
So if you capture an enve

[2022-03-03 07:33] marandaneto opened #1932 "Send cached and pending envelopes when an envelope is going to be sent"
Related to https://github.com/getsentry/sentry-java/issues/912#issuecomment-1057079937

iOS already does it.

The use case is, you capture envelope A and you have no connection, the envelope is cached and won't be sent until you restart your app.
If you didn't restart your app but you captured another envelope, before sending this envelope, it's gonna read from the disk all cached and pending enve

[2022-03-03 07:34] marandaneto commented on #1932
@philipphofmann Could you link the iOS implementation? thanks.

[2022-03-03 11:14] MaximLopatin opened #1934 "Sentry: Envelope submission failed - no exceptions transfered"
_Platform:_
- [X]  Android -> If yes, which Device API (and compileSdkVersion/targetSdkVersion/Build tools) version?

Device Motorola Moto g(8) plus, android 10 (29), but also on other devices
[code]

[code]

_IDE:_
- [X]  Android Studio -> Bumblebee 2021.1.1 Patch 2

_Build system:_
- [X]  Gradle -> 7.2

_Android Gradle Plugin:_
- [X]  Yes -> 'com.android.tools.build:gradle:7.1.2'
- [ ]  No

_Sen

[2022-03-03 13:34] MaximLopatin commented on #1934
issue can be closed, was an error for firewall filtering some incoming connections

[2022-03-03 13:34] #1934 closed

[2022-03-04 09:24] mrrobot97 opened #1935 "sentry-android-gradle-plugin:3.0.0-rc.2 ignore sentry config"
Platform: Android
AGP version: 7.1.1
gradle version: gradle-7.2-all.zip
IDE version:  Android Studio Bumblebee | 2021.1.1 Patch 2
Sentry Android Gradle Plugin: io.sentry:sentry-android-gradle-plugin:3.0.0-rc.2
R8: Enabled

Platform installed with: Maven Central

The version of the SDK: io.sentry:sentry-android:4.3.0

---
I have the following issue:

We recently update our project 's AGP and gradle

[2022-03-04 11:25] philipphofmann commented on #1932
iOS implementation: https://github.com/getsentry/sentry-cocoa/blob/ecedf79e89fc4e7ce900f3df60ad57b0178bb5df/Sources/Sentry/SentryHttpTransport.m#L137-L192

Here is a quick explanation of the approach so you don't have to read all the ObjC code:

1. The following is true for any type of envelope
2. The Client passes an envelope to HttpTransport
3. HttpTransport stores the envelope to disk
4. Storin

[2022-03-04 12:51] #1558 closed

[2022-03-05 10:54] guyeu commented on #1790
Based on `ThreadLocal`, this issue seems unsolvable.

[2022-03-07 09:34] maciejwalkowiak commented on #1789
Spring Boot 3.0 based on Jakarta EE will be released on the 24th of November 2022.

Until then I suggest following plan:

### 6.x

By default uses `javax` package. To support Jakarta EE we will need to add modules:

- sentry-servlet-jakarta
- sentry-spring-jakarta

Which are copies of the original `sentry-servlet` and `sentry-spring` modules that are meant to be kept in sync just with changes pack

[2022-03-07 19:51] bruno-garcia commented on #1901
When a version after 0.4.15 is released, it should already report `sentry.native.android`: https://github.com/getsentry/sentry-java/issues/1901

[2022-03-08 18:12] #1840 closed

[2022-03-10 19:24] Mohitkumar6122 opened #1941 "withSentryInterface not working in Sentry 5.6.2"
I have an event in sentry and I want to attach multiple interfaces to it in the latest Sentry version(5.6.1).

Earlier(Sentry 1.7.3) I used to do like this

[code]
but on updating the sentry version this method is not working and I can't find anything on the docs either.

Any help or suggestions would be a great help.

I am using java spring boot sentry as a dependency

[2022-03-11 08:32] marandaneto commented on #1941
Here is our migration [docs](https://docs.sentry.io/platforms/java/migration/).
Here is the usage [docs](https://docs.sentry.io/platforms/java/usage/).

To set the user, you can follow this [docs](https://docs.sentry.io/platforms/java/enriching-events/identify-user/) instead of the `UserInterface`.

You can do `Sentry.captureException(...)` instead of `ExceptionInterface`.

[2022-03-11 08:32] #1941 closed

[2022-03-11 11:31] Mohitkumar6122 commented on #1941
@marandaneto, I get it now, how to attach a user with an event, but how do I send an HTTP request to an event( like we used to with ```builder.withSentryInterface(new HTTPInterface)```)
I cannot find it on Migrating docs and in the usage docs?

[2022-03-11 11:40] marandaneto commented on #1941
https://docs.sentry.io/platforms/java/enriching-events/context/
The `scope` has a `request` field.

[2022-03-11 11:46] Mohitkumar6122 commented on #1941
Thanks, @marandaneto for helping me out!
But can I ask why we removed ```HTTPInterface``` in the first place as it is better to send HTTP data with the event itself rather than to send it in the scope of Sentry? and why we didn't make another function as we have with ```UserInterface```?

[2022-03-11 12:50] marandaneto commented on #1941
@Mohitkumar6122 You can still do

[code]

[2022-03-11 18:25] naxmefy opened #1946 "can not initialize sentry inside tomcat ServetContextLister or ServletContainerListener"
### Integration

sentry

### Java Version

8

### Version

5,6,2

### Steps to Reproduce

1. load our 10~20 years old java code
2. execute it on a tomcat 8
3. get the error inside a simple servletcontainerlist or the java default one inside a servlet context listener

### Expected Result

it should initliaze and not throw a VerifyError - testet with a simple main function - it works

### Actual Re

[2022-03-13 12:43] Hanmac opened #1947 "Sentry Android missing Maven dependencies"
### Description

I added this to my pom.xml:

[code]

then i try to run Maven Update and i get this:
`Missing artifact io.sentry:sentry-android:jar:5.6.3?` because https://repo.maven.apache.org/maven2/io/sentry/sentry-android/5.6.3/ only has `pom` and `aar` files.

i think it isn't a problem and just try to add `<type>pom</type>` or `<type>aar</type>` to my dependency.

but then what ever i try i

[2022-03-14 06:24] romtsn commented on #1947
I guess you're facing a [similar issue](https://stackoverflow.com/questions/32022842/transitive-aar-dependencies-in-maven), so you probably need to go for the same workaround as mentioned in the answer.

Maven by default is looking for a `.jar` dependency, but `sentry-android-core` is distributed as an `.aar` for quite a while already. I don't think there's any other workaround there, Maven just h

[2022-03-14 08:49] romtsn commented on #1947
Oh, indeed, I just looked up and it looks like this is a [Gradle bug](https://github.com/gradle/gradle/issues/3170) actually.

Dunno if we should follow the suggested workarounds there @marandaneto or just wait till Gradle fixes it (though it's been 5 years since the bug is open lol)?

[2022-03-14 09:50] maciejwalkowiak commented on #1946
Thanks for reporting.

- what Java version are you using?
- is application packaged as `war` and sentry dependencies are inside the war package, or Sentry (with its dependencies) are somewhere else in Tomcat classpath?
- which Sentry SDK modules are you using? Just `sentry` or `sentry` and `sentry-servlet`? We've made `sentry-servlet` for non-spring servlet based applications so perhaps you can ta

[2022-03-14 12:30] Hanmac commented on #1947
@romtsn linked in the Gradle bug there is this workaround:
https://github.com/androidx/media/commit/bf2c652b5f1658ac3851ee067c130c22a7522561

[2022-03-14 12:36] marandaneto commented on #1947
We don't have control over the generated pom either, what's about raising an issue on https://github.com/vanniktech/gradle-maven-publish-plugin?
Since this is the plugin that generates the files.

[2022-03-14 16:23] romtsn commented on #1303
Some inspiration: https://github.com/firebase/firebase-android-sdk/pull/3011#issuecomment-929768965

[2022-03-14 16:55] bruno-garcia opened #1948 "Explore running `mobsf` on sample `apk`s"
### Problem Statement

mobsf is an popular open source security scanning tool https://github.com/mobsf

Users often run this and raise issues here, so far all they were false positives. Running this tool in CI could help catch an eventual problem, but the more immediate help is to tell us about these false positive warnings so we can add them to the docs troubleshooting page and avoid customer sup

[2022-03-14 23:22] cmathew opened #1950 "Help: Unable to trigger a "Warm" app start event"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

7.1.2

### Proguard

Disabled

### Version

5.6.3

### Steps to Reproduce

1. Create an app that initializes Sentry inside your Application class's onCreate method
2. Enable "Do Not Keep Activities" inside an Android device's developer options
3. Start the app
4. Background the app
5. Resume the app
6. Note on the Sentry d

[2022-03-14 23:39] cmathew commented on #1950
I see that the Android docs define "Warm" starts in two ways: https://developer.android.com/topic/performance/vitals/launch-time#warm, of which the Do Not Keep Activities scenario is only one. I don't know how to simulate the other scenario ("The system evicts your app from memory, and then the user re-launches it") at will, but would that be considered a Warm start?

[2022-03-15 05:47] marandaneto commented on #1950
Hi, How to reproduce a Warm start:

1. Open the App
2. Enable Developer options if not yet;
3. Go to Settings, System, Advanced, Developer options, Running service, click on the context menu (... button top right of the screen), click on Show cached processes, Find the name of your App in the list and click on it, click on stop and open the app again;

[2022-03-15 05:47] #1950 closed

[2022-03-15 19:16] chadwhitacre commented on #1946
@bruno-garcia Can we move this from Untriaged to Needs Info? 🙏

[2022-03-15 19:36] naxmefy commented on #1946
1. Oracle 1.8.0_261
2. as war and sentry deps are inside (tested with war:exploded on Tomcat 8.5.58)
3. Tested
  - first test with "just `sentry`" from `ServletContextListener`
  - second test with "`sentry-servlet`" and `ServletContainerInitializer`

[2022-03-16 08:39] Hanmac commented on #1947
with explicit dependencies to the `aar` files i could get maven to download them, (even if my Eclipse still doesn't like it)

currently i have a problem that proguard is complaining about that
https://mvnrepository.com/artifact/androidx.lifecycle/lifecycle-runtime/2.2.0 doesn't have a MANIFEST.MF inside

is that something i can fix, you can fix, or is that something that androidx messed up?

i nee

[2022-03-17 09:12] marandaneto commented on #1947
@Hanmac That's out of our control, feel free to remove the AndroidX libs, e.g. https://docs.sentry.io/platforms/android/configuration/releases/#androidx-support

[2022-03-17 10:05] maciejwalkowiak commented on #1946
Unfortunately I am not able to reproduce. Please take a look at sample application: https://github.com/maciej-scratches/sentry-spring-war-sample

I've run it with:

- Java 8:

openjdk version "1.8.0_262"
OpenJDK Runtime Environment (Zulu 8.48.0.51-CA-macosx) (build 1.8.0_262-b19)

- Tomcat 8.5.70

Take a look if this application works with on your environment. You can also provide a sample applica

[2022-03-17 13:17] Hanmac commented on #1947
i did report it on their issue ticker, also i disabled the androidx libs with excluded

my current pom xml part:

[code]

now i need to get it working for my colleges.

the gson thing was a surprise for me, because i didn't noticed until it crashed for him.

now if only the Editors (Eclipse and Intelij would support it)

[2022-03-17 13:48] bruno-garcia commented on #1792
Closed through #1795

[2022-03-17 13:48] #1792 closed

[2022-03-17 13:51] bruno-garcia commented on #1916
Another thoughts: if the event is dropped due to sampling, we might want to send a session update (event isn't captured likely due to quota limitation, but the session state change is legit)

[2022-03-18 13:24] marandaneto commented on #1916
It should update the session state.

It should update the session state.
If there are attachments, they should not be sent, since attachments require an eventId and the event was discarded.

Follow the `beforeSend` implementation, if the event was dropped for any reason, it's ok, but the session counter should be updated.

[2022-03-18 16:27] adinauer commented on #1148
Had a talk with @maciejwalkowiak today:

We'll have to take a look if any other SDKs have a similar feature and if so what config mechanism they use for it.

If we can find any we can replicate the config mechanism from there.

Otherwise we prefer a config property over some convention that just picks up e.g. MDC entries like "sentry.tag.X".
People would have to go over their code and change their

[2022-03-19 09:49] marandaneto commented on #1148
IIRC Sentry already picks up the tags during SDK init if using one of the configurations, right.https://docs.sentry.io/platforms/java/configuration/#tags

So It'd be fine to have a convention of the sort `sentry.tag.X`, that will be only for the dynamic tags set at runtime.

I agree that if there's another mechanism in place for other SDKs, we should do the same, but I'm unaware of it, @bruno-garc

[2022-03-20 12:07] Hanmac commented on #1947
I failed to build the Android apk with Java 11 because sdklib problems:
https://github.com/simpligility/android-maven-plugin/issues/792

when try to build it with Java 8, i can built it

when i manually init Sentry with `SentryAndroid.init(this)`

 but the app crashes with:
[code]

when i try to auto-init Sentry, it doesn't seem to work at all

probably something wrong with the Lambda SentryAndroi

[2022-03-22 10:35] maciejwalkowiak commented on #1148
The drawback of having convention like `sentry.tag.X` is that users would have to modify existing applications to comply with this convention. If we would allow a list of tags, for existing applications users could just add Sentry SDK and configure it.

[2022-03-22 11:57] marandaneto commented on #1148
Yep, that's a good point, wondering if providing keys only at compilation time would be enough, it'd not work for dynamic key/values.
I'm fine either way, @bruno-garcia might have opinions here since he's handling the customer request.

[2022-03-22 12:04] adinauer commented on #1148
We could start by implementing the simple version with a list of exact MDC keys.

Then if customers need it we can improve on that by supporting globs and even have a convention by making ["sentry.tag.*"] the default.

[2022-03-23 13:28] audkar commented on #1679
Could we revisit this issue? Seems that you are adding more integrations. Seems that it would be better for us to use upstream implementations (instead of our in house fragment tracking).
I created a PR which would solve our problem. WDYT?

[2022-03-23 14:36] martinchiu1991 opened #1956 "Sentry Timber integration does not submit msg.formatted breadcrumbs."
### Integration

sentry-android-timber

### Build System

Gradle

### AGP Version

7.0.2

### Proguard

Enabled

### Version

5.7.0

### Steps to Reproduce

Enable timber integration and use timber in the project.

`                options.addIntegration(
                        new SentryTimberIntegration(
                                SentryLevel.ERROR,
                                SentryLe

[2022-03-23 14:52] marandaneto commented on #1956
Thanks for reporting @martinchiu1991

[2022-03-23 15:51] #1956 closed

[2022-03-23 16:09] adinauer commented on #1916
Looks like all the ways to drop an event discussed here (beforeSend, eventProcessor, ignoredExceptionForTypes and sample rate) cause the session to **NOT** be updated in the python SDK.

# before_send
* https://github.com/getsentry/sentry-python/blob/master/sentry_sdk/client.py#L336
* session would be updated later but early return prevents it: https://github.com/getsentry/sentry-python/blob/d880f

[2022-03-28 13:23] bruno-garcia opened #1961 "ANR tracker gracefully downgrade on OOM"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

NA

### Proguard

Enabled

### Version

ALL

### Steps to Reproduce

App is low on memory, ANR detection tries to do its thing and crashes the process.

[code]

### Expected Result

Not to crash the app. Avoid a busy loop, just turn itself off completely or thread-sleep in exponential backoff

### Actual Result

Crashes

[2022-03-29 08:04] marandaneto commented on #1946
@naxmefy did you check this out?

[2022-03-29 12:50] bruno-garcia commented on #1858
We're reaching out to folks from the workflow team, we'll get back to this once we learn more.

[2022-03-29 13:06] #350 closed

[2022-03-29 13:48] romtsn opened #1965 "Measure Sentry.init impact on app startup time"
### Description

We could use [jetpack.macrobenchmark](https://developer.android.com/studio/profile/macrobenchmark-overview) for continuously measuring it on a sample app. Prior art: https://github.com/android/compose-samples/blob/c6a32ae127b70ac4ea6810c12857758d62da475e/Jetsnack/benchmark/src/main/java/com/example/jetsnack/benchmark/StartupBenchmark.kt

[2022-03-29 16:41] naxmefy commented on #1946
@marandaneto tested it with another simple example on our tomcat (https://github.com/naxmefy/sentry-servlet-example). It works. But not with our primary codebase. Now i found out that it seems that our dependency structure could maybe the problem. In this case i use maven to manage the build. But we the most deps are directly managed in our source (WEB-INF/lib).

The VerifyError is triggered in th

[2022-03-30 01:43] bruno-garcia opened #1966 "HTTP library integration: Volley"
### Problem Statement

No easy way for users using https://github.com/google/volley to integrate with Sentry

### Solution Brainstorm

A package that creates breadcrumbs and adds spans.

Please 👍  if this is for you

[2022-03-30 06:21] marandaneto commented on #1946
Gson should be min. 2.7, See note https://docs.sentry.io/platforms/java/#install
The major version of the SDK 6.0.0 preview vendors Gson, so it's dependency free, try it out https://github.com/getsentry/sentry-java/releases/tag/6.0.0-alpha.4
Closing this issue since it looks like an environment issue rather than an SDK issue.

[2022-03-30 06:21] #1946 closed

[2022-03-30 07:37] romtsn commented on #1966
I thought Volley is long dead at this point 🤣

[2022-03-30 14:05] marandaneto commented on #954
Closing as a dup from https://github.com/getsentry/sentry-android-gradle-plugin/issues/40
We're tracking it there.

[2022-03-30 14:05] #954 closed

[2022-03-30 14:49] Swatinem commented on #1867
I haven’t made any progress on this.

[2022-03-30 15:09] Swatinem commented on #908
There used to be a PR in the sentry-native repo about this:
https://github.com/getsentry/sentry-native/pull/363
This pretty much stalled, but I can try to reopen it.

[2022-03-30 15:41] marandaneto commented on #908
@Swatinem should we maybe move this issue to sentry-native repo then? Since the changes are in there.

[2022-03-30 15:41] marandaneto commented on #1867
@Swatinem should we maybe move this issue to sentry-native repo then? Since the linked code lives there.

[2022-03-30 20:36] marandaneto commented on #1620
We can execute `Runtime.getRuntime().exec("logcat -v time");` and listen the buffer in a while loop.
https://github.com/pedrovgs/Lynx/blob/master/lynx/src/main/java/com/github/pedrovgs/lynx/model/Logcat.java

[2022-03-30 20:39] marandaneto opened #1968 "FPS as measurements"
### Problem Statement

We report slow and frozen frames, the FPS could be one more measurement

### Solution Brainstorm

Using Choreographer  is possible -> https://github.com/wasabeef/Takt

[2022-03-30 22:07] bruno-garcia opened #1970 "Map Android model to product name"
### Problem Statement

For reference: https://github.com/jaredrummler/AndroidDeviceNames

Came up internally:

### Solution Brainstorm

Instead of increasing the size of the SDK with this mapping that would ultimately get outdated all the time, we could do this on the backend. We need to get ingest folks involved on this one.

[2022-03-31 06:41] marandaneto commented on #1620
It does, but not for all versions apparently. https://github.com/pedrovgs/Lynx/blob/7b1f25172f2bd3f4563076dcd58ec532aebfb9f1/sample/src/main/AndroidManifest.xml#L20-L21
Well, ideally this is done on a background thread, but I don't have benchmarking data, it'd be an opt-in feature till we get proper feedback anyway.

[2022-03-31 06:44] marandaneto commented on #1970
Yep, definitely should be done on the server.

[2022-03-31 06:52] fzyzcjy commented on #1620
Aha, that is for android 2.x if the comments are right. Then almost nobody is using 2.x :)

[2022-03-31 23:00] saintpepsicola commented on #1970
I love this 🚀. Thank you !

[2022-04-01 05:39] pragnesh1234 opened #1972 "All events are not captured by the sentry, Some events go into the dropping state."
### Integration

sentry-android

### Build System

Gradle

### AGP Version

4.1.2

### Proguard

Enabled

### Version

5.7.0

### Steps to Reproduce

Fire the Sentry exception every 1 second to the sentry. In this case, every exception is not captured by the Sentry. Some events go into the dropping state.

So anyone has an idea, Which events are dropping? So I can find this solution. In the Sentry

[2022-04-01 07:14] marandaneto commented on #1972
@pragnesh1234 what do you mean by:

[2022-04-01 13:28] pragnesh1234 commented on #1972
@marandaneto
Thanks for the response!

When I fired the 100 events, All events were not captured by a sentry. Some evet is dropped.
I have attached the image. so you can get more idea. please check it.
![Usage-Stats-Sentry](https://user-images.githubusercontent.com/56993256/161272929-83e22e69-8de8-41bd-aeaf-c61da6b1be08.png)

[2022-04-04 12:45] marandaneto commented on #1972
There are many reasons why events get dropped, e.g. rate-limiting, See https://docs.sentry.io/product/accounts/quotas/manage-event-stream-guide/

[2022-04-04 12:45] #1972 closed

[2022-04-04 17:24] marandaneto commented on #1542
We've seen some movement in the Android community using compose already, worth investigating it.

[2022-04-05 13:31] pinkasey commented on #1858
@vladistol @talrom @roypillar
FYI

[2022-04-06 09:28] #1900 closed

[2022-04-06 09:45] khaitq7 commented on #1891
The same problem , how to fix that ?

[2022-04-06 11:58] Thomas-Vos opened #1976 "Fix Proguard/R8 rules"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

all

### Proguard

Enabled

### Version

6.0.0-alpha.4

### Steps to Reproduce

The Proguard/R8 rules keep far too many classes. See for example the following file:

https://github.com/getsentry/sentry-java/blob/6.x.x/sentry-android-core/proguard-rules.pro

Lots of those rules seem to be needed for GSON, but GSON was remov

[2022-04-06 12:35] adinauer commented on #983
Duplicate of https://github.com/getsentry/sentry-java/issues/358

[2022-04-06 12:35] #983 closed

[2022-04-06 12:36] marandaneto commented on #1881
We'd split them up into issues that need integration and an issue for the super easy ones.

[2022-04-06 12:38] adinauer commented on #527
Somewhat related to https://github.com/getsentry/sentry-java/issues/527

[2022-04-06 12:40] marandaneto opened #1977 "Breadcrumbs for onMenuItemClick"

[2022-04-06 12:42] marandaneto opened #1978 "Breadcrumbs for DialogFragments"
Clicks inside DialogFragments (probably can be an option for FragmentLifecycleIntegration or just a new integration)

[2022-04-06 12:43] marandaneto opened #1979 "Swipes for ViewPager and ViewPager2 (a new integration, since those are new deps?)"

[2022-04-06 12:43] #527 closed

[2022-04-06 12:44] marandaneto opened #1980 "Breadcrumbs for RecyclerView"
RecyclerView is partially supported (the click on an item will be captured, but there's no useful data like which position in the list was selected - again, a new integration?)

[2022-04-06 12:45] #1881 closed

[2022-04-07 07:48] marandaneto commented on #1976
@Thomas-Vos indeed, it's in our backlog to find out what really needs to be excluded from minification or not, e.g., every public API class, interfaces, classes used in reflection, etc.

[2022-04-07 07:49] marandaneto commented on #1891
That's a warning that comes from the `gradle-maven-publish-plugin` plugin and not Sentry's SDK.

[2022-04-07 08:20] marandaneto opened #1981 "Make SentryEnvelope Public API to use custom transport"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

7.0.0

### Proguard

Disabled

### Version

5.7.1

### Steps to Reproduce

[code]

### Expected Result

They should be public to be able to use a custom `ITransport`

### Actual Result

SentryEnvelope and friends are annorated with `@ApiStatus.Internal`

IDE warn about internal classes being used, but it's just a warning t

[2022-04-07 17:01] Thomas-Vos commented on #1976
I am using Sentry in a JVM desktop app with R8 obfuscation. With the alpha version mentioned I did not need to add any additional rules for Sentry.

[2022-04-08 06:05] marandaneto commented on #1976
Yep, nothing needs to be added, it's about removing the not needed rules anymore.

[2022-04-08 07:24] marandaneto commented on #1470
That's not an Android issue only, that could be done for Java backend integrations as well, as Spring boot, etc...

[2022-04-11 17:07] Thomas-Vos commented on #1976
Yes, what I meant was that I did not need to add any rules at all. The rules in the Android module were not included in my project as I only depend on the Java dependency.

[2022-04-12 13:01] bruno-garcia commented on #1789
The fact there are only 3 classes helps making this less priority to us as it's easy enough to unblock oneself by just vendoring-in the classes. But we discussed this and since servlet isn't changing much we'll just dupe all code into two packages as @maciejwalkowiak suggested above, creating `sentry-servlet-jakarta`. We'll aim to get this out in v6

For Spring and SB we'll need a bit more thinkin

[2022-04-12 13:22] adinauer opened #1984 "Investigate ways of supporting javax and jakarta for Spring and Spring Boot"
### Description

We've decided to duplicate `sentry-servlet` (javax) into `sentry-servlet-jakarta` (jakarta) to support both as it's only three files that rarely change.

For Spring and Spring Boot we'd like to avoid duplication so we want to find out possible ways of supporting both.

See https://github.com/getsentry/sentry-java/issues/1789

[2022-04-12 16:01] sdex opened #1985 "Sentry 5.7.2 with timber integration crashes the app when formats a message with args"
### Integration

sentry-android-timber

### Build System

Gradle

### AGP Version

7.1.3

### Proguard

Disabled

### Version

5.7.2

### Steps to Reproduce

1. Add the log:
`Timber.d("test %s, %s", 1, 1);`
2. The app crashes.

Version 5.7.1 works fine. It seems like the #1974 PR causes this. The `args` is passed incorrectly - missing asterisk.

### Expected Result

A log message:
`test 1 1`

###

[2022-04-12 16:12] romtsn commented on #1985
Indeed the asterisk is the problem, sorry, this slipped through the review 🙈 Will roll out a fix for that shortly, thanks for reporting!

[2022-04-13 11:01] #1985 closed

[2022-04-13 12:09] romtsn commented on #1985
@sdex we just released 5.7.3 with this fix, please give it a try. Thanks!

[2022-04-13 13:57] marandaneto commented on #1752
We're going to create a new issue with a more detailed description of user consent.

[2022-04-13 14:53] marandaneto opened #1988 "User consent support"
### Problem Statement

Context https://github.com/getsentry/sentry-java/issues/1752
SDK may want to capture events but not send them before the user is given consent

### Solution Brainstorm

Sentry Native already supports user consent, we can borrow the idea and do something similar https://github.com/getsentry/sentry-native/blob/a51ccbbdb00cd3042022f7df6d4e352e9ae6c0c3/src/sentry_options.c#L276-

[2022-04-13 14:54] marandaneto commented on #1752
Closed in favor of https://github.com/getsentry/sentry-java/issues/1988

[2022-04-13 14:54] marandaneto commented on #1616
@Swatinem can we transfer this issue to sentry-native since the Native bits live there? https://github.com/getsentry/sentry-native/tree/3436a29d839aa7437548be940ab62a85ca699635

[2022-04-13 15:04] sdex commented on #1985
@romtsn the new version works fine. Thanks for the quick fix!

[2022-04-13 15:10] marandaneto opened #1989 "Send integrations list as metadata"
### Problem Statement

Right now we only send the sdk packages but not integrations

### Solution Brainstorm

https://github.com/getsentry/sentry-java/blob/74deb437ab935543aff1e0b27c8bb63e60cb86cc/sentry/src/main/java/io/sentry/protocol/SdkVersion.java#L47-L54

So we can learn about the usages of our integrations

[2022-04-13 15:19] kyze8439690 commented on #1620
Use code below to upload logcat including native crash happened

[code]

[2022-04-13 15:33] Swatinem commented on #1616
Sure, though I doubt there is any actionable thing we can do about code size right now. Unless we drop our custom fork of `libunwindstack` and rely on the system library, which only exists on fairly recent Android versions.

[2022-04-13 20:47] romtsn commented on #1989
Dupe of #1885?

[2022-04-14 04:18] #1989 closed

[2022-04-19 01:25] Amejia481 opened #1993 "Native crashes are still reported after manually opting out"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

7.0.0

### Proguard

Enabled

### Version

5.6.1

### Steps to Reproduce

Initialize entry to opt-out for sending  `UncaughtException`

[code]

Something to note is that Java/Kotlin exceptions are not sent after setting `enableUncaughtExceptionHandler` to `false`, but native crashes are still sent.

### Expected Result

No

[2022-04-19 07:31] romtsn commented on #1993
You'd also need to disable NDK integration for that https://docs.sentry.io/platforms/android/using-ndk/#disable-ndk-integration. I don't think we have a way to disable specifically uncaught exceptions on native.

[2022-04-19 07:36] marandaneto opened #1994 "Move Android options from `SentryOptions` to `SentryAndroidOptions`"
### Description

`enableNdk` is one example, there are likely more.

[2022-04-19 09:19] #1993 closed

[2022-04-19 11:34] romtsn commented on #1891
https://github.com/vanniktech/gradle-maven-publish-plugin/issues/332#issuecomment-1052107916 we should be good with just using the latest verison of that plugin it seems

[2022-04-19 12:34] Amejia481 commented on #1993
@romtsn @marandaneto thank you for the help :)

 Is this sufficient to disable both native and no-native crashes from being reported?

[code]

Thanks in advance!

[2022-04-19 12:38] marandaneto commented on #1993
No, I'd rather use `SentryEvent#isCrashed() == true`, drop it.
`error.unhandled` is not created by the SDK so it won't be available.

[2022-04-19 12:46] Amejia481 commented on #1993
Thank you so much 🙌🏽 !!!

[2022-04-19 12:47] adinauer opened #1996 "JavaFx research bundle"
### Description

We want to investigate JavaFx related things. This shall serve as a bundle to keep track of the indivudual issues.

* https://github.com/getsentry/sentry-java/issues/1743
* https://github.com/getsentry/sentry-java/issues/1742
* https://github.com/getsentry/sentry-java/issues/945
* https://github.com/getsentry/sentry-java/issues/697

[2022-04-19 12:48] marandaneto commented on #1996
Maybe we close https://github.com/getsentry/sentry-java/issues/1743 then? looks like duplicated now.

[2022-04-19 12:49] adinauer commented on #1743
Duplicate of https://github.com/getsentry/sentry-java/issues/1996

[2022-04-19 12:49] #1743 closed

[2022-04-19 12:53] adinauer commented on #697
Closed in favor of https://github.com/getsentry/sentry-java/issues/697

[2022-04-19 12:53] #697 closed

[2022-04-19 13:08] adinauer commented on #1851
Duplicate of https://github.com/getsentry/sentry-java/issues/1790

[2022-04-19 13:08] #1851 closed

[2022-04-19 14:13] adinauer commented on #697
Thanks @marandaneto the new issue is https://github.com/getsentry/sentry-java/issues/1996

[2022-04-20 13:14] keikoang opened #1999 "Envelope submission failed (The transport failed to send the envelope with response code 403)"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

7.0.4

### Proguard

Enabled

### Version

5.7.3

### Steps to Reproduce

1. I followed the Android guidelines from [here](https://docs.sentry.io/platforms/android/).
2. I'm on the latest Sentry Android version (5.7.3) and on Sentry server 21.1.0 (as can be seen from dashboard)
![image](https://user-images.githubuserconten

[2022-04-20 13:28] marandaneto commented on #1999
@keikoang that's likely an issue with your self-hosted Sentry, I'd rather move this question to https://github.com/getsentry/self-hosted since it returns 403, it's not an SDK issue.

[2022-04-20 13:28] #1999 closed

[2022-04-20 14:01] romtsn commented on #1474
Relates to #205

[2022-04-20 14:16] romtsn commented on #1417
The change has to be on the other SDKs likely (writer's site)

[2022-04-20 14:19] romtsn commented on #1415
The main goal is to understand what was installed by looking at the event metadata, so we could debug issues easier.

[2022-04-22 12:37] #1894 closed

[2022-04-22 19:25] perihelious opened #2003 "Configure scope in a filter"
### Problem Statement

I'm using logback with spring. I'd like to create Sentry tags and a Sentry user based on request headers and apply to the relevant logging/Sentry events.

The easiest way to do that seemed to configure the Sentry scope in a filter (implements javax.servlet.Filter).

But Sentry.configureScope etc. in the filter had no effect on logging from the actual request handler.

Sentry

[2022-04-25 07:52] marandaneto commented on #1789
@adinauer Should we close this issue since we have the other one to track Spring and Spring boot?
Docs for the new Jakarta package is live https://docs.sentry.io/platforms/java/guides/servlet/#jakarta-support

[2022-04-25 07:58] adinauer commented on #1789
@marandaneto agreed, let's close this and figure out Spring and Spring Boot in https://github.com/getsentry/sentry-java/issues/1984

[2022-04-25 07:58] #1789 closed

[2022-04-25 08:09] marandaneto opened #2004 "Spans may be attached to the wrong screen if foldable/multiple screen device"
### Description

Similar to https://github.com/getsentry/sentry-cocoa/issues/1768

[2022-04-25 08:49] maciejwalkowiak commented on #2003
@perihelious just to make sure - are you working with pure Spring or Spring Boot integration?

[2022-04-25 09:39] marandaneto commented on #1647
This is partially blocked by https://github.com/getsentry/sentry-cocoa/issues/1772
Ideally, we'd do a quick investigation for Cocoa support, so we know if it's possible and how the widget tree would look like,

[2022-04-25 12:18] marandaneto opened #2005 "Allow disabling send client reports"
### Description

[code]

Right now it's not possible to disable via the Android manifest and requires doing https://docs.sentry.io/platforms/android/configuration/manual-init/

We need to add support for reading from manifest https://github.com/getsentry/sentry-java/blob/main/sentry-android-core/src/main/java/io/sentry/android/core/ManifestMetadataReader.java

I believe it should also be added to

[2022-04-25 12:33] perihelious commented on #2003
Spring Boot -- sentry-spring-boot-starter 5.7.3

[2022-04-25 13:09] adinauer commented on #2003
@perihelious this works for me:

[code]

[2022-04-25 21:38] perihelious commented on #2003
Thanks, @adinauer. Both the LOWEST_PRECEDENCE annotation and application.properties entry worked. This is good to know.

[2022-04-26 08:53] marandaneto commented on #2003
@adinauer do you think we should mention that somewhere in the docs if not yet? otherwise we can close this.

[2022-04-26 09:53] #2005 closed

[2022-04-26 14:16] adinauer commented on #2003
@perihelious fyi there's more ways to do what you want. Then you wouldn't have to create a custom filter and mess with the order.

You could supply a custom `SentryUserProvider` like so:

[code]

You could also do it by providing an `EventProcessor`. See https://docs.sentry.io/platforms/java/guides/spring-boot/advanced-usage/#registering-custom-event-processor

[2022-04-26 14:54] marandaneto commented on #2003
Just be aware that `SentryUserProvider ` has been removed on https://github.com/getsentry/sentry-java/releases/tag/6.0.0-alpha.2 and `SentryUserFilter` is the way to go -> https://docs.sentry.io/platforms/java/migration/

[2022-04-26 15:01] adinauer commented on #2003
@marandaneto when I look at https://github.com/getsentry/sentry-java/pull/1875/files it only shows `SentryUserProviderEventProcessor` as being removed, not `SentryUserProvider`.

[2022-04-26 15:02] marandaneto commented on #2003
Yep, you are right, my bad, only `SentryUserProviderEventProcessor` got removed, @adinauer would you mind fixing the migration docs? https://docs.sentry.io/platforms/java/migration/ thanks.

[2022-04-26 19:15] filipponova opened #2010 "Spring4shell Vulnerability."
### Description

Hi, guys.

Due to the spring4shell vulnerability [CVE-2022-22965](https://nvd.nist.gov/vuln/detail/CVE-2022-22965), we are updating the Spring Framework in our applications, after updating we noticed that some applications that use the Sentry Java SDK continued to point out the vulnerability, and upon investigating we realized that it is due to the Sentry SDK using a version of Sp

[2022-04-26 19:57] maciejwalkowiak commented on #2010
In a Spring Boot project, the actual version of Spring dependencies used depend on the Spring Boot version from a parent pom, (or dependencies management when you don't choose to use `spring-boot-starter-parent` as a parent pom).

Even though we list 2.4.4 in Sentry dependencies, when you use `sentry-spring-boot-starter`, Spring Boot is in control which version of Spring Framework is included - so

[2022-04-27 00:55] bruno-garcia commented on #1988
https://www.notion.so/sentry/User-Consent-Requirements-ba63b834cfe24501866ba2957a9e7184

[2022-04-27 01:07] bruno-garcia commented on #1690
Reopening as the goal is to stop modifying the span status (or removing it for that matter) if a span is not finished.
Relay will take care of it: https://github.com/getsentry/relay/issues/1244
Related .NET issue: https://github.com/getsentry/sentry-dotnet/issues/1182

[2022-04-27 07:15] maciejwalkowiak commented on #2010
Fixed in #2011

[2022-04-27 07:15] #2010 closed

[2022-04-27 10:06] adinauer commented on #2003
@marandaneto PR open here: https://github.com/getsentry/sentry-docs/pull/4982

Closing this issue now, feel free to reopen if you need anymore help with this.

[2022-04-27 10:06] #2003 closed

[2022-04-27 12:19] adinauer commented on #1807
We want to wait for https://github.com/getsentry/sentry-java/pull/1819 before moving on with this.

[2022-04-27 12:32] adinauer commented on #1733
Closing as we've vendored GSON in 6.0

[2022-04-27 12:32] #1733 closed

[2022-04-27 12:45] philipphofmann commented on #1411
@marandaneto, can you please add more context? I'm not sure what the goal of this issue is.

[2022-04-27 12:48] marandaneto commented on #1411
done, the repo itself has good examples.

[2022-04-27 12:52] philipphofmann commented on #1327
What about adding support for wildcards for `inAppIncludes` and `inAppExcludes`?

[2022-04-27 12:53] philipphofmann commented on #1303
Worth noting that our JavaScript repo already has something like this, see https://github.com/getsentry/sentry-javascript/pull/4993#issuecomment-1110615206.

[2022-04-27 12:57] adinauer commented on #1550
May be related to https://github.com/getsentry/sentry-java/issues/633

[2022-04-27 12:58] marandaneto commented on #1303
Somehow related https://github.com/getsentry/sentry-java/issues/1411

[2022-04-27 12:59] marandaneto commented on #1914
Yes, apparently the GH failed to close it automatically, thanks.

[2022-04-27 12:59] #1914 closed

[2022-04-27 13:51] philipphofmann commented on #1303
We could use https://github.com/JakeWharton/diffuse

Diffuse is a tool for diffing APKs, AABs, AARs, and JARs in a way that aims to provide both a high-level view of what changes along with important detailed output.

[2022-04-27 13:52] #1411 closed

[2022-04-27 13:57] philipphofmann commented on #1303
The first goal would be to get the output of diffuse and just add it as a comment to the PR

Example output of diffuse:
[code]

[2022-04-27 14:10] philipphofmann opened #2012 "Upload sample app to Google Play"
### Description

Split from https://github.com/getsentry/sentry-java/issues/1403

We could use Fastlane or similar tooling to upload our sample to Google Play beta testing, so we are able to quickly test new versions of the SDK and test the approval of our SDK within the automated tests from Google Play.

[2022-04-27 14:12] philipphofmann commented on #1398
Debounce should only apply to breadcrumbs stemming from OS events, as we don't want to drop manually captured breadcrumbs.

[2022-04-27 14:18] filipponova commented on #2010
Thanks @maciejwalkowiak :1st_place_medal:

[2022-04-27 14:30] bruno-garcia commented on #1327
According to @untitaker it's not a breaking change

[2022-04-27 14:55] bruno-garcia commented on #1682
Relay for testing will be part of a larger initiative that @tonyo's team is focusing on

[2022-04-27 15:44] marandaneto commented on #1532
So Java is already documented correctly https://docs.sentry.io/platforms/java/configuration/options/#ignored-exceptions-for-type

Usually, we don't do breaking changes before annotating the method with `@Deprecated` and `@ScheduleToBeRemoved` so folks have time to migrate before getting a compile error.
I'm fine either way, I'm not a big fan of special case naming per platform because the docs bec

[2022-04-27 15:47] adinauer commented on #1532
Suggested course of action: Deprecate existing option and add new option
Then I guess for 7.0 we can remove the deprecated option.

[2022-04-27 15:49] marandaneto commented on #1532
Yes, that's what we always did.

[2022-04-29 08:12] adinauer commented on #1532
After looking the the .NET code here https://github.com/getsentry/sentry-dotnet/blob/720e8d1aa75f1603f7712242bb3fcf365917ee19/src/Sentry/SentryOptionsExtensions.cs#L116 and here https://github.com/getsentry/sentry-dotnet/blob/720e8d1aa75f1603f7712242bb3fcf365917ee19/src/Sentry/Extensibility/IExceptionFilter.cs this is not just a naming difference but also differs in how this is implemented.

Java

[2022-04-29 08:19] marandaneto commented on #1532
@adinauer for me, they look exactly the same, See code snippet https://docs.sentry.io/platforms/dotnet/usage/#ignoring-errors
https://docs.sentry.io/platforms/java/configuration/#ignored-exceptions-for-type

[2022-04-29 09:10] adinauer commented on #1532
Yes the way to add it is the same because .NET has this method to make it easier to add a filter for a type without having to create the filter yourself. My point is that renaming everything in the Java SDK doesn't seem right because it's not really a list of filters but just a list of classes. To me that would make the naming misleading.

So my new suggestion is to just add the method to align SD

[2022-05-03 10:08] #1916 closed

[2022-05-03 12:40] adinauer commented on #1373
We will wait for spring-native support in Spring 6.0.

[2022-05-03 12:40] #1373 closed

[2022-05-03 12:40] adinauer commented on #1350
We will wait for spring-native support in Spring 6.0.

[2022-05-03 12:40] #1350 closed

[2022-05-03 12:46] adinauer commented on #1346
We decided to document how to do this here https://docs.sentry.io/platforms/java/guides/spring/performance/instrumentation/custom-instrumentation/#distributed-tracing instead of adding the method.

[2022-05-03 12:46] #1346 closed

[2022-05-03 12:50] adinauer commented on #1251
Once support for OpenTelemetry has landed and we look at spans differently then we can reconsider this.

[2022-05-03 12:50] #1251 closed

[2022-05-03 12:55] adinauer commented on #1154
This would require TSC discussion to align SDKs and plan ahead.

[2022-05-03 13:00] adinauer commented on #1117
@marandaneto should we close this or do we need it for future hybrid SDKs?

[2022-05-03 13:05] adinauer commented on #1018
@mitsuhiko how should we proceed with this?

[2022-05-03 14:56] adinauer opened #2015 "Ignoring an Exception class does not ignore its children"
### Problem Statement

In .NET ignoring an Exception also ignores all of the Exceptions child classes. In Java only the class explicitly added to the list of ignored exceptions will be ignored.

### Solution Brainstorm

We could align with .NET and also ignore subclasses.

[2022-05-03 14:59] adinauer commented on #2015
Also see https://github.com/getsentry/sentry-java/issues/1532, https://github.com/getsentry/sentry-java/pull/2014 and https://github.com/getsentry/sentry-docs/pull/4995

[2022-05-03 19:57] philipphofmann opened #2017 "Support rate limiting for profile envelope items"
### Description

The SDK should handle rate limits for envelope item type profile. For more info, see https://github.com/getsentry/mobile-team-meta/issues/1.

[2022-05-04 09:20] adinauer commented on #1932
Looks like we should consider this https://github.com/getsentry/sentry-java/issues/1926 in order not to cause `429`s.

[2022-05-04 09:34] adinauer commented on #1923
See https://docs.gradle.org/current/userguide/platforms.html#sub:version-catalog

[2022-05-04 12:59] romtsn opened #2101 "Mobile Vitals for UI events transactions"
Report slow and frozen frames for recently added UI events transactions on [iOS](https://github.com/getsentry/sentry-cocoa/pull/1784) and [Android](https://github.com/getsentry/sentry-java/pull/1975).

[2022-05-05 08:23] vaind opened #2020 "JsonSerializerTest is flaky"
### Description

The following error occurred in https://github.com/getsentry/sentry-java/runs/6302364325?check_suite_focus=true

[code]

The code at the line is:
`assertNotNull(element["start_timestamp"] as Double)`

And I'd say what happened was that the timestamp, at the time of the test run, didn't have any fractional value, thus was serialized & deserialized as an integer.

[2022-05-05 16:28] adinauer commented on #2020
Should be fixed now. Please reopen if it happens again.

[2022-05-05 16:28] #2020 closed

[2022-05-06 17:45] marandaneto opened #2024 "Try out JDK 17 for build speed up"
### Description

https://blog.bitrise.io/post/switch-to-jdk-17-parallel-gc-and-speed-up-your-android-builds-by-9-20

[2022-05-06 18:10] marandaneto commented on #1117
This reduces boilerplate on the SDK side, so I think we should still do it.

[2022-05-07 14:41] romtsn commented on #1542
https://chris.banes.dev/composable-metrics/ for metrics, but it's a compiler flag, so needs feasibility check

[2022-05-08 08:45] romtsn opened #2025 "Define version constraints for sentry-android-fragment"
### Description

The `sentry-android-fragment` module depends on `androidx.fragment:fragment-ktx`. This one, in turn, depends on `androidx.lifecycle:lifecycle-viewmodel-ktx`, which had at some point the following change (moving `ViewModelLazyKt` from viewmodel-ktx to viewmodel):
* https://developer.android.com/jetpack/androidx/releases/lifecycle#2.4.0-beta01
* https://android-review.googlesource.c

[2022-05-09 12:25] marandaneto opened #2026 "Isolate cached events with hashed DSN folder"
### Description

See issue https://github.com/getsentry/sentry-cocoa/issues/1812 for context.
`SentryOptions#cacheDirPath` should be isolated per DSN.
We could hash the DSN and make it a folder, so events from DSN X don't leak to DSN Y.
It's a breaking change so likely do it on v7.

Update the specs as well to consider the isolation https://develop.sentry.dev/sdk/features/#buffer-to-disk

https://

[2022-05-09 13:35] marandaneto commented on #2025
Does it help if we stop using `fragment-ktx` and use only `fragment`?

[2022-05-09 13:38] marandaneto commented on #2025
For dependency constraints, we'd need to support Gradle Module Metadata, so it'd not work if using another build system, I guess.

[2022-05-09 13:46] romtsn commented on #2025
Yeah, but not sure if it's a problem in other build systems (probably it is, but the fraction of those is just too small). So I guess we are good here with just doing it for gradle.

Using `fragment` would help for this particular case, but again can be a problem, if someone is using `viewmodel-ktx` of an older version, where this class is still present.

[2022-05-09 15:23] marandaneto commented on #2025
Then it's an error on their end since we don't use `ViewModelLazyKt`, right?

[2022-05-10 04:48] heowc opened #2027 "If StdoutTransport and GsonSerializer are used, the logger does not work properly."
### Integration

sentry

### Java Version

11

### Version

5.2.0

### Steps to Reproduce

1. Set as follows

[code]

2. And send a Sentry event in the middle of the log.

[code]

3. The output is:

[code]

### Expected Result

It should output something like this:

[code]

### Actual Result

[code]

[2022-05-10 04:50] heowc commented on #2027
This is because StdoutTransport provides Sysout.out and GsonSerializer calls flush at the end. 🤔

[2022-05-10 09:58] adinauer commented on #2027
Thank you @heowc for reporting and also for investigating. I'll take a look and get back to you hopefully later today.

[2022-05-10 14:25] marandaneto opened #2032 "`Scope#setExtra` should be `String, Object` instead of `String, String`"
### Description

https://develop.sentry.dev/sdk/event-payloads/

The `extra` property is already a Map of String, Object, but the setter is not.
Came up by https://github.com/getsentry/sentry-dart/pull/858

[2022-05-11 09:26] tfcporciuncula opened #2036 "Make Timber integration more flexible when it comes to determining whether a log is an event or breadcrumb"
### Problem Statement

Currently, the only way to determine whether a log will be logged as an event or breadcrumb is by setting a minimum level for each (`minEventLevel` and `minBreadcrumbLevel`, the constructor args for both `SentryTimberTree` and `SentryTimberIntegration`).

However, there are valid scenarios where the level of the log isn't enough to determine that, and a classic example is wh

[2022-05-11 09:43] romtsn commented on #2036
I think what you're describing can actually be achieved using [beforeSend](https://docs.sentry.io/platforms/android/configuration/filtering/) callback, so something like that:

[code]

Would something like that work for you?

Thing is, we already have quite a few mechanisms to filter out events and breadcrumbs, so I'm not sure if we want to introduce one more.

[2022-05-11 10:21] tfcporciuncula commented on #2036
This is great! I missed that API and yeah, I agree with you, with that in place I don't think we need another filtering mechanism. Thank you!

[2022-05-11 10:21] #2036 closed

[2022-05-11 11:03] stefanosiano opened #2037 "Compare benchmarks with previous versions"
### Description

Android has some benchmark ui tests (https://github.com/getsentry/sentry-java/pull/2013) that record several values and check they don't pass a certain threshold, e.g. 5% for profiling, 500 ms to init the sdk, etc.
It would be cool to have a way to compare them with each version of the sdk, to check whether any performance regression was introduced at some point.
Ideally, we could

[2022-05-11 11:43] marandaneto commented on #2036
There's also for breadcrumbs https://docs.sentry.io/platforms/android/enriching-events/breadcrumbs/#customize-breadcrumbs

[2022-05-11 13:50] bruno-garcia commented on #1302
One thing to note that people use `environment` at Sentry to swap out their backend. So we shouldn't break that use case.

[2022-05-11 13:59] bruno-garcia commented on #1302
We agreed this isn't a good idea, to mix these with environment specially because we default to `production` and it would break customers to change that.

Having the app `flavor` in the event can be a new issue

[2022-05-11 14:01] bruno-garcia opened #2039 "Add `flavor` to `App` context"
Replaces: https://github.com/getsentry/sentry-java/issues/1302

We'd like to add the build flavor name to contexts.app

This requires build time help so the SAGP needs to be involved

[2022-05-11 14:09] marandaneto commented on #1288
We decided not to do this and if it comes again with a real use case, we can rethink the feature.

[2022-05-11 14:12] marandaneto commented on #1117
We decided that having a Map also has downsides, it introduces new problems, ideally, we'd have a shared library for iOS and Android, or any other solution that would not bring other problems.

[2022-05-11 14:12] #1117 closed

[2022-05-11 14:13] marandaneto commented on #1102
Its not possible to have the scope sync during hard crashes because there's a limitatio calling from Native to JNI, there's a workaround which is either you set the scope on Java and it syncs to Native, or you set both manually.

[2022-05-11 14:17] #1288 closed

[2022-05-11 14:26] marandaneto commented on #1947
We'll add an item to the https://docs.sentry.io/platforms/android/troubleshooting/ page instead of fixing it in the tooling since Maven isn't that popular in the Android world anyway.

[2022-05-11 14:30] marandaneto commented on #1948
Get feedback from the Mobile team if this is a known security analyzer and doable doing it.

[2022-05-12 08:14] marandaneto opened #2040 "Investigate JankStats library"
### Description

https://developer.android.com/topic/performance/jankstats (still in beta)

It could be a replacement for `FrameMetricsAggregator`
https://github.com/getsentry/sentry-java/blob/main/sentry-android-core/src/main/java/io/sentry/android/core/ActivityFramesTracker.java

[2022-05-12 08:50] romtsn opened #2041 "Ship baseline profiles with the SDK"
### Description

https://developer.android.com/topic/performance/baselineprofiles

We could take the hot paths of the SDK (like sdk init) and add those to the profiles and ship them as part of the SDK, so they get picked up by consuming apps and eventually ART.

Needs discussion as it's a new dependency

[2022-05-12 09:45] marandaneto commented on #1620
https://developer.android.com/studio/preview/features#logcat

Not sure if the logcat output has changed or the IDE is parsing it, but worth checking it when working on this issue, worst case we have to parse 2 formats.

[2022-05-12 11:46] maciejwalkowiak opened #2043 "ContextTags are not always taken into account in logging frameworks integration"
### Integration

sentry-logback

### Java Version

8

### Version

6.0.0

### Steps to Reproduce

1. Add Sentry appender to `logback.xml`

[code]

2. Initialize Sentry from Java code:

[code]

3. Put data to MDC and trigger event:

[code]

### Expected Result

`userId` value should be set as tag

### Actual Result

`userId` value is set to contexts.

This happens only when Logback/Log4j2 integrati

[2022-05-12 13:18] maciejwalkowiak opened #2044 "Request data serialization is broken"
### Integration

sentry

### Java Version

8

### Version

6.0.0-beta.3

### Steps to Reproduce

[code]

### Expected Result

Request data is serialized to:

[code]

### Actual Result

[code]

It also is not able to serialize `byte[]` set as a request data. Perhaps the data type for request `data` should be changed to `String` in 6.0.

BTW this works in 5.7.x

[2022-05-13 12:32] marandaneto commented on #2043
@maciejwalkowiak is it related to https://github.com/getsentry/sentry-java/pull/1954/files ? if so, we should fix it before going GA.

[2022-05-13 12:34] marandaneto opened #2047 "Ser/deser of SentryThreads have wrong value for the `current` boolean"
### Description

Context https://github.com/getsentry/sentry-dart/pull/847#issuecomment-1125930450

Bug likely introduced by vendoring Gson and doing ser/deser by hand.

[2022-05-13 13:50] adinauer commented on #2047
@marandaneto are you saying the `DefaultAndroidEventProcessor` overrides whatever is set by hybrid SDKs and that's the problem we should fix?

[2022-05-13 13:54] adinauer commented on #2047
Opened https://github.com/getsentry/sentry-java/pull/2048 for the current thread not being set in `SentryThreadFactory`.

Do we have a way of detecting we're part of a hybrid SDK run to disable the behaviour in `DefaultAndroidEventProcessor`?

[2022-05-13 14:00] #1347 closed

[2022-05-13 14:48] marandaneto commented on #2047
yes, we use hints for that, check for `shouldApplyScopeData`.
I believe in this case, most likely we should just not overwrite the value when its already set, so its not needed to check if it comes from Hybrid or not.

[2022-05-13 16:19] adinauer commented on #2047
@marandaneto do you mean like https://github.com/getsentry/sentry-java/pull/2050 or should we check if any thread has already been marked as current, then do nothing in that case?

[2022-05-13 19:05] maciejwalkowiak commented on #2043
@marandaneto yes, it is. Indeed it should be fixed before GA.

[2022-05-14 12:23] marandaneto commented on #2047
yep, I'd just do `if thread.getCurrent != null then continue` so we don't overwrite its value.

[2022-05-16 10:59] adinauer commented on #2047
Should be fixed via #2050 please reopen if not.

[2022-05-16 10:59] #2047 closed

[2022-05-17 07:39] adinauer opened #2053 "SentryOptions on Logback and Log4j SentryAppender should not be used"
### Problem Statement

The `SentryOptions options` property on `io.sentry.logback.SentryAppender` should not be used except for the `start` method. It's set via the `setOptions` method by Logback. Then Logback calls `start` (its signature is specified by Logback).

This can cause problems when using the `options` property outside of the `start` method as options set via `Sentry.init` are ignored.

[2022-05-17 14:44] adinauer commented on #1148
Closing now as basic support is here and there's https://github.com/getsentry/develop/issues/539 for potential future improvements.

[2022-05-17 14:44] #1148 closed

[2022-05-18 06:20] adinauer commented on #2053
Very similar problem exists in `io.sentry.log4j2. SentryAppender`. Here we don't store options but parts of the options like `contextTags` as field.

[2022-05-18 08:26] #2044 closed

[2022-05-18 08:47] marandaneto commented on #1965
Related PR https://github.com/getsentry/sentry-android-gradle-plugin/pull/317

[2022-05-18 12:52] marandaneto commented on #1428
https://developer.android.com/studio/releases/gradle-plugin#cpp-references

[2022-05-18 19:01] vaind opened #2056 "Android: synchronize App context to native"
### Problem Statement

While working on [a similar feature for sentry-unity SDK](https://github.com/getsentry/sentry-unity/issues/650), I've noticed some context is synced to native crashes (namely Device) while the App context is missing. It would be useful to get the App information discovered by the java layer passed to native so that any crashes have the info.

## Current state:
* [java error]

[2022-05-19 21:53] antonmos opened #2059 "gson CVE-2022-25647"
### Description

gson 2.8.5 has the aforementioned CVE.  gson 2.8.9 fixes the issue
However, this [comment](https://github.com/getsentry/sentry-java/blob/fdf6b8c372f0e6d26a462fed1df6240bc5bf9fb7/buildSrc/src/main/java/Config.kt#L47-L50) says that gson cannot be updated until https://github.com/google/gson/issues/1597 is fixed.

Seems like some workaround is necessary.

[2022-05-19 22:04] bruno-garcia commented on #2059
We no longer have a dependency on Gson starting on version 6.0.0. We plan to GA this very soon.

[2022-05-20 07:22] marandaneto opened #2061 "Allow custom instrumentation to collect slow and frozen frames"
### Description

Right now only `ui.load` transactions add Slow and frozen frames because it depends on using the `activityFramesTracker` and the Activity instance.
We should add an abstraction that if the user is creating custom instrumentation, they don't have to do that manually, but the SDK itself is able to do so, slow and frozen frames are always attached by default on Android.

Related issu

[2022-05-20 11:35] marandaneto commented on #2056
The `App` context is added via an event processor https://github.com/getsentry/sentry-java/blob/main/sentry-android-core/src/main/java/io/sentry/android/core/DefaultAndroidEventProcessor.java
One of the reasons why it's not added to the event is that if the app has updated, the version, app start time, version code, etc are going to be wrong and you'll be debugging an older version.
Ideally, all t

[2022-05-20 16:25] vaind commented on #2056
Yes, that's what I'm doing now for other SDKs in unity

[2022-05-23 11:38] marandaneto opened #2063 "`DefaultAndroidEventProcessor#getDevice` should not set `getDeviceName` if `sendDefaultPii` isn't enabled"
### Description

`getDeviceName` could return a name defined by the user and this could lead to PII.

* Bump the Android SDK for the Flutter SDK

[2022-05-24 07:23] marandaneto commented on #1524
Consider testing https://github.com/Anamorphosee/stacktrace-decoroutinator and adding to the docs if it gives better stack traces

[2022-05-25 11:00] #2043 closed

[2022-05-25 13:04] adinauer commented on #1829
Planning not to change `.withScope` at all. These new overloads should implement the **local scope** concept so the scope can be changed for one invocation only without affecting others especially in global hub mode.

Only planning to add overloads to
* `captureMessage`
* `captureException`
* `captureEvent`

[2022-05-25 17:12] adinauer opened #2067 "New option to truncate message"
### Problem Statement

A customer has asked for this to reduce the amount of extra memory Sentry consumes after serializing large messages.

### Solution Brainstorm

Add a new option to `SentryOptions` e.g. called `maxMessageSize` or similar.

tbd unit for the option: chars? bytes?

[2022-05-29 22:18] cmy82 opened #2069 "Unable to manually init transactions"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

7.1.2

### Proguard

Enabled

### Version

5.7.4

### Steps to Reproduce

When trying to manually initialize transactions :

[code]

I don't get any transactions in Sentry, but with auto-init, they work just fine.

### Expected Result

To see the same transactions I see with the auto-init.

### Actual Result

Nothing

[2022-05-30 11:12] romtsn opened #2070 "Recover Jetpack Compose stacktraces"
### Problem Statement

Since compose is a declarative UI framework, there's a big usage of lambdas, which get transformed into anonymous classes, therefore stackframes that contain compose code do not really look helpful (besides the file name and line numbers, it's hard to figure out what's going on). For example:

[code]

It'd be nice if we can recover the stackframes and make them pretty by inc

[2022-05-30 20:12] cmy82 commented on #2067
Create a callback, give them the object being serialized and let them determine what to keep or discard, then the message size can be fluid.

[2022-05-30 22:06] romtsn opened #2071 "Track composable functions with @SentryTraceable annotation"
### Description

Create transactions/spans for `@Composable` functions annotated with `@SentryTraceable`, so we can enrich events that pop up within that composable lifetime. The code to measure that could roughly look like this:
[code]

Would require bytecode manipulation through SAGP.

[2022-05-31 09:14] adinauer opened #2072 "Dump envelope to disk in debug mode if too large"
### Problem Statement

If an envelope is dropped for being too large we could dump it to disk if debug mode is enabled to make it easier to troubleshoot.

### Solution Brainstorm

It's already implemented in .NET https://github.com/getsentry/sentry-dotnet/blob/main/src/Sentry/Http/HttpTransportBase.cs#L344-L369

[2022-05-31 09:30] #1695 closed

[2022-05-31 09:37] romtsn commented on #2069
which transactions exactly do not appear? I've just tried your code snippet and it worked fine for me. Maybe you could also post your auto-init config (i.e. Manifest meta-data entries) to compare

[2022-05-31 10:10] mitsuhiko commented on #633
So I tried doing this a few years ago and mainly ran into complications with the tooling and introspection. For source context to work we would like to ideally piggyback on the [source bundle system](https://getsentry.github.io/symbolicator/advanced/source-bundles/) we use for a few other platforms. For this to work we need to do the following things:

* send up the ID of the source bundle with th

[2022-05-31 10:52] buckett opened #2073 "Event should be flushed on application shutdown"
### Problem Statement

If you are using the Spring Boot starter for sentry and have a process that is quickly exiting after failing (and generating a sentry error) the errors can end up not being sent to sentry as they are still queued up.

### Solution Brainstorm

Recently support was added to synchronously flush events in #1239 and should the starter register a Spring Bean with a destroy method

[2022-05-31 12:49] bruno-garcia commented on #2073
The SDK has a shutdown integration that flushes events when the JVM shuts down:

https://github.com/getsentry/sentry-java/blob/9f1af1c68c58570a731a65289183107d3c4f90d5/sentry/src/main/java/io/sentry/ShutdownHookIntegration.java#L33-L34

Turns out this is called after the Spring Boot winds down, which by convention calls `close` on any `Bean` that has a method named like that (convention). That hap

[2022-05-31 12:54] adinauer commented on #2073
https://github.com/getsentry/sentry-java/blob/9f1af1c68c58570a731a65289183107d3c4f90d5/sentry/src/main/java/io/sentry/SentryClient.java#L629

`close` already flushes. @buckett are you sure this is needed.

[2022-05-31 15:52] marandaneto commented on #2067
That's something that already has been discussed and we've decided to not add it.
Similar discussion https://github.com/getsentry/sentry-java/issues/910
@adinauer unless this is totally different, I'd suggest closing it.

[2022-05-31 16:06] marandaneto commented on #2070
@romtsn do you know if there's a way to trace back to the original stack trace frames? e.g. https://github.com/getsentry/sentry-java/issues/1524#issuecomment-1135506317
I often see libs doing this (rewriting the frames), e.g. for coroutines and rxjava, the problem is kinda the same, I guess.

[2022-05-31 19:20] romtsn commented on #2070
Yeah the problem is the usage of lambdas/anonymous classes for all of them I guess. I feel like this can be done through bytecode manipulation (e.g. getting the argument name for lambda), but not sure if there's a silver bullet for all.

[2022-06-01 00:08] wukrwurk commented on #420
I got a similar issue with Tomcat 9 and sentry 5.3.7

[2022-06-01 06:12] maciejwalkowiak commented on #633
I think it's fair to assume that if a company uses internal package registry, to get source context support they must publish there sources jars as well.

[2022-06-01 07:36] buckett commented on #2073
Ok, so the reason we weren't sending events to sentry was that we had made all the Spring Bean lazy with:

    spring.main.lazy-initialization=true

and this meant that the Sentry initialization wasn't getting run. This was clear when setting `sentry.debug=true`.

[2022-06-01 12:04] wukrwurk opened #2074 "Sentry won't stop threads during web app stop when used with Tomcat 9"
### Integration

sentry-spring-boot-starter

### Java Version

11

### Version

5.7.3

### Steps to Reproduce

0. Define a spring boot project, add sentry client to pom.xml
1. Start a tomcat 9 with a war file deployed
2. Redeploy(replace) a war file (without restarting tomcat)

The issue is similar to https://github.com/getsentry/sentry-java/issues/487 or https://github.com/getsentry/sentry-java/i

[2022-06-01 12:36] adinauer commented on #1829
@bruno-garcia @marandaneto should we deprecate `withScope` as this is basically the less bug prone version of it? It's been removed in .NET.

[2022-06-01 12:46] #2027 closed

[2022-06-01 13:34] bruno-garcia commented on #2026
It's out on 6.0.0-rc.1

[2022-06-01 13:34] #2026 closed

[2022-06-01 18:36] marandaneto commented on #1829
https://develop.sentry.dev/sdk/unified-api/
`Hub::with_scope(callback)` is technically optional, but not deprecated, I'm fine deprecating it tho, let's see what @bruno-garcia says.

[2022-06-02 04:35] maciejwalkowiak commented on #2073
I find it interesting that with lazy initialization, the disposable bean did run on application context close. Perhaps we should include it in docs @adinauer?

[2022-06-02 06:01] adinauer commented on #1829
I don't see an easy way to fix it as we'd have to pass the `Hub` to the callback and devs would need to use that instead of `Sentry.capture` etc. So even if we did that it could still be a source of bugs / wrong info.

[2022-06-02 08:58] adinauer commented on #2073
Hmm not sure I understand it correctly. If you enable lazy Spring Bean initialization then `Sentry.init` is never called, correct? So even with the disposable bean above Sentry would never be initialized. Should we add `@Lazy(false)` to the `IHub` bean?

[2022-06-02 10:38] maciejwalkowiak commented on #2073
I did some testing:

- with Spring MVC in place - `Hub` is created even if lazy init is on (because of servlet filters)
- without Spring MVC - `Hub` does not get created if lazy init is on

Adding `@Lazy(false)` to `IHub` bean is IMO the right way to go 👍

[2022-06-02 12:40] buckett commented on #2073
@maciejwalkowiak Yeah, we don't have Spring MVC in this particular application. We ended up just being more specific and marking specific application beans as `@Lazy` and reverting back to the default of everything not `@Lazy`.

If adding `@Lazy(false)` to `IHub` doesn't have any downsides it does seem sensible so that others don't run into this.

[2022-06-03 10:30] buckett commented on #2073
Best to open a new issue for supporting applications with lazy init or re-open this one (updating title)?

[2022-06-03 14:59] adinauer opened #2079 "ThreadLocal Hubs should be cleaned up"
### Problem Statement

At the moment Hub instances are stored in `ThreadLocal` variables. They are never cleaned up and thus cause servers like Tomcat to issue warnings as can be seen here #2074, here #420 and here #487. While there are mechanisms to clean up these leaks in Tomcat we should not rely on them and clean up instead.

https://github.com/getsentry/sentry-java/blob/9f1af1c68c58570a731a65

[2022-06-04 10:18] bruno-garcia commented on #2079
Closed through #2076 (somehow GitHub didn't automatically close it)

[2022-06-06 18:47] vibin commented on #912
@marandaneto FWIW, I like that Sentry doesn't use WorkManager/AlarmManager, etc. to auto-initialise background jobs for sending cached events – because, I have a usecase where I initialise Sentry conditionally (only if a feature flag is on).

I see that currently `SendCachedEnvelopeFireAndForgetIntegration` is the class that is responsible for pushing cached events on app initialisation, so it's w

[2022-06-06 19:03] vibin opened #2081 "Initialising the Android SDK lazily and conditionally"
### Description

Hi, i've observed that `sentry-android-core` can contribute anywhere from 5 to 10% in cold startup time overhead.
So i'm evaluating the approach of initialising it on a separate worker thread, so that the Android main thread can
continue starting the rest of the app.

In addition to above, I'm also evaluating introducing a feature flag around SDK initialisation, so that I can
disa

[2022-06-07 08:45] adinauer opened #2082 "Support Sentry.init for lazy Spring Applications"
### Problem Statement

When a Spring Application is set to lazy default bean initialization (`spring.main.lazy-initialization=true`) then `Sentry.init` is never invoked.

Came up here https://github.com/getsentry/sentry-java/issues/2073

### Solution Brainstorm

Add `Lazy(false)` to the `IHub` bean. Check if other beans need it as well.

[2022-06-07 08:45] adinauer commented on #2073
I've just opened https://github.com/getsentry/sentry-java/issues/2082 to track it.

[2022-06-07 08:55] marandaneto commented on #2081
Some features require executing on the main thread.
Is the 5 to 10% out of how many milliseconds? our measurement is that the SDK takes around ~20ms to init. only on a mid-end device.

You can simply call `Sentry.close()` if you want to disable it, or not even init the SDK, what's the use case?

[2022-06-07 08:56] adinauer commented on #2079
#2076 only allows Threads that had any `Sentry.*` method called before `Sentry.init` to self heal. This issue is still unresolved.

[2022-06-07 08:58] marandaneto commented on #2067
@adinauer after the offline discussion, should we close it?

[2022-06-07 09:01] marandaneto commented on #1829
I've discussed this with @bruno-garcia and this will go to v7 to unblock v6.

[2022-06-07 09:05] vibin commented on #2081
@marandaneto

Ah...maybe I can execute it on the main thread, but defer the initialisation via Handler so that it kicks off after Activity frame is drawn? I'll need to handle background process creation case though.

On Pixel 4A, I have recorded 20-30ms contribution on P95 cold app open time of 533ms.
On a very low-end device running Android 5.0, I have recorded 250-350ms contrib on P95 cold app o

[2022-06-07 10:04] adinauer commented on #2067
Closing as it can be done easily with `beforeBreadcrumbs`. Feel free to reopen if this is something you'd like us to add.

[2022-06-07 10:08] adinauer opened #2083 "Deprecate withScope"
### Problem Statement

Overloads for `capture` are added via #1829, let's deprecate `withScope` as it has some cases where other calls to capture also have the scope from `withScope`.

### Solution Brainstorm

Deprecate in v6, then remove in v7.

[2022-06-07 10:08] adinauer commented on #1829
Let's deprecate it in v6 and remove with v7. I've opened an issue here https://github.com/getsentry/sentry-java/issues/2083

[2022-06-07 11:50] cmy82 commented on #2069
Calling the transactions and spans as above works if I set auto-init to true, but if I set it to false and manually init everything (as in the first post) then no transactions are sent. When Sentry does everything, I get all of the transactions and errors, but when manually setting it up, I get nothing. I will check the debug flag and see what happens.

[2022-06-07 12:24] marandaneto commented on #2081
Cool, so just initialize it conditionally, it's already possible to initialize on a background thread, the SDK should degrade gracefully in cases it requires the main thread, please open a new issue in case you find any issues.

[2022-06-07 12:24] #2081 closed

[2022-06-07 12:37] vibin commented on #2081
Will do, thanks!

[2022-06-07 20:09] cmy82 commented on #2069
This is the line in my manifest
`<meta-data android:name="io.sentry.auto-init" android:value="false" />`

This is how I init Sentry:
[code]

This is only printout I get in the logs:
[code]

[2022-06-08 07:36] marandaneto commented on #2069
@cmy82 where are you placing your `SentryAndroid.init`? can you provide a minimal reproduction example? thanks.

[2022-06-08 08:41] adinauer opened #2085 "Server side baggage support"
### Problem Statement

We're ignoring incoming `baggage` headers for now and thus breaking traceability.

### Solution Brainstorm

- [ ] Pass through incoming `baggage` headers.
    - [ ] Add `sampleRate` from incoming `baggage` to `TransactionContext.fromSentryTrace`
- [ ] Support metadata in the baggage header (https://www.w3.org/TR/baggage/#property)
- [ ] https://github.com/getsentry/team-mobi

[2022-06-08 12:36] adinauer commented on #2079
We could do it similar to this: [sentry/src/main/java/io/sentry/servlet/SentryServletRequestListener.java](https://github.com/getsentry/sentry-java/pull/422/files#diff-48e6233c6090c75f08e7990da1927eff37fc4e305fc06ce93658e8b78f6247ec)

[2022-06-08 14:14] philipphofmann commented on #1976
Was fixed with #2031

[2022-06-08 14:19] philipphofmann commented on #1981
Ideally, we would redesign the whole transport so that when implementing a custom transport, you don't lose offline caching, rate limiting, etc. This redesign should be applied to all SDKs.

[2022-06-08 14:42] georgespalding opened #2086 "Can't deserialize SentryOptions from json using jackson blackbird on Openjdk17"
### Integration

sentry-logback

### Java Version

17

### Version

6.0.0

### Steps to Reproduce

1. Set up a gradle project with dependencies:

- `com.fasterxml.jackson.core:jackson-databind:2.13.3`
- `io.sentry:sentry-logback:6.0.0`
- JUnit5

3. Create a regular JUnit 5 test, like so:

[code]

4. Run the test.

### Expected Result

The test should succeed and print `A-Ok`.

### Actual Result

[

[2022-06-08 15:25] maciejwalkowiak commented on #2086
`SentryOptions` has not been designed with JSON serialization in mind, but you may be able to serialize https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/ExternalOptions.java instead and then use it like this:

[code]

[2022-06-08 15:33] adinauer commented on #1442
This might help: https://github.com/sethvargo/ratchet

[2022-06-08 22:35] georgespalding commented on #2086
Yeah I figured as much. I just created a _very_ slimmed down version:
[code]

I'm not blocked on this, but it'd be nice to use the method you suggested above.
It makes more sense to keep the copying of properties from `ExternalOptions` to `SentryOptions` in the library itself, than users trying to keep up as the properties evolve.

[2022-06-09 00:26] cmy82 commented on #2069
Here is a minimal project with the same behavior:

https://github.com/cmy82/SentryTest

[2022-06-09 01:10] #2069 closed

[2022-06-09 04:15] adinauer commented on #2086
@georgespalding can you please share a little bit more information on your use case so we can discuss what other options might be available?

[2022-06-09 05:49] #1829 closed

[2022-06-10 02:57] bradjones1 commented on #1906
This issue also affects the React Native/Expo Sentry packages.

[2022-06-10 07:36] adinauer commented on #2086
Thanks for the detailed response @georgespalding, I've opened #2088 to relax visibility.

[2022-06-11 22:51] PaulWoitaschek opened #2089 "`SentryAndroid#init` crashes"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

7.2.1

### Proguard

Enabled

### Version

6.0.0, plugin=3.1.0

### Steps to Reproduce

Build an obfuscated release build and call:

[code]

### Expected Result

It doesn't crash

### Actual Result

Follow up of the discussion in https://github.com/getsentry/sentry-java/pull/2031

Calling `options.isEnableNdk = false` caus

[2022-06-12 08:28] marandaneto commented on #2089
@PaulWoitaschek are you using `proguard` or `r8`? are you using any special configuration in your proguard config?

Can you add to your app's proguard file:

[code]

And check if the rule to keep `SentryAndroidOptions` is there?
https://github.com/getsentry/sentry-java/blob/e4a46aa6dfe09aa185f1aaf6bd31235c12b520db/sentry-android-ndk/proguard-rules.pro#L5-L7

Thanks.

[2022-06-12 09:43] PaulWoitaschek commented on #2089
It does not exist.

But wait; we're not using sentry-android-ndk. It seems the plugin adds that, where we add the 6.0.0 core dependency.

Maybe this is related to the plugin adding an outdated dependency?

https://github.com/getsentry/sentry-android-gradle-plugin/blob/1deb7a6da144fdf6e55c86634afa9387132ec80c/plugin-build/src/main/kotlin/io/sentry/android/gradle/SentryPlugin.kt#L327

[2022-06-12 09:52] PaulWoitaschek commented on #2089
Yes, confirmed. Setting the version in the autoInstallation block fixes it.

I think this is a dependency resolving issue:
In a gradle module we have a dependency on sentry-core using 6.0.0. Now the plugins in the app module adds 5.7.0.

In the final dependeny graph this leads to inconsistent dependencies:
[code]

Disabling the auto installation also works.

From your side this coulde be mitigated

[2022-06-12 10:02] EcKnologicAdmin opened #2090 "java.lang.IllegalStateException: Unable to read meta-data for class io.sentry.spring.boot.SentryWebfluxAutoConfiguration"
### Integration

sentry

### Java Version

8

### Version

5.7.4

### Steps to Reproduce

My Spring Boot version 2.2.7.Release
Sentry Version 5.7.4

### Expected Result

Application should start

### Actual Result

2022-06-12 15:28:23.133 ERROR [stakeholders,,,] 6876 --- [  restartedMain] o.s.boot.SpringApplication               : Application run failed

java.lang.IllegalStateException: Unable to

[2022-06-12 10:31] HantaoCai opened #2091 "how to ignore info log in issue?"
### Integration

sentry-spring-boot-starter

### Java Version

17

### Version

6.0.0

### Steps to Reproduce

[code]

pom:
[code]

here is the  logback issue-level setting:
[code]

### Expected Result

I hope the info log is not reported issue....

### Actual Result

<img width="155" alt="image" src="https://user-images.githubusercontent.com/44667064/173228858-e642ac14-40e9-477e-a528-9df9ddd257b9

[2022-06-12 10:39] romtsn commented on #2089
We do publish a bom already -> https://docs.sentry.io/platforms/android/configuration/bill-of-materials/. I'm not sure the bom would help here though, because if we apply the bom with the version `5.7.0`, this still would be a problem for your case, because you specify explicitly the `-core` version of `6.0.0`, so the ndk would still be applied with 5.7.0, wouldn't it?

Ideally we'd look at your d

[2022-06-12 10:59] PaulWoitaschek commented on #2089
From my understanding, an applied `enforcedPlatform` would do it.

Besides that, moving the plugin and the java library to the same repository and releasing them with the same version would mitigate these errors (where plugin and lib are out of sync) as well.

[2022-06-12 11:49] romtsn commented on #2089
Ah, I wasn't aware of `enforcedPlatform`, yeah it seems like that would do.

We actually wanted to be conservative here, and do not override any of the user-defined dependencies, but maybe it'd be better to have them enforced (e.g. by using a bom and giving user an option to specify a version) @bruno-garcia @marandaneto wdyt?

[2022-06-12 11:53] bruno-garcia commented on #2089
Problem of overriding is that user can't override our behavior it turns out to be wrong. Could we log a but warning instead?
Or have a separate option to disable our overriding behavior if we add it?

[2022-06-12 11:55] bruno-garcia commented on #2091
That option is to control a logger. An explicit capture message always gets sent. If you use logback, it won't

[2022-06-12 11:56] bruno-garcia commented on #2091
We might need to clarify that on the javadoc of the setter

[2022-06-12 11:59] PaulWoitaschek commented on #2089
In general, the approach to let users overwrite versions is good.

But in the case that you use auto-install, it is error prone and leads to inconsistent versions (which has caused the crash I'm reporting). And you can explicitly set the version in the auto install extension already so I expect this to solve more issues than it causes.

[2022-06-12 12:50] romtsn commented on #2089
It's kind of possible through `autoInstallation.sentryVersion` config, but it will set a single version for all integrations. The only problem I see with this, is if they want to keep an older version of, say, `-timber`, while updating `-core` to 6.0.0. But this still would be possible to enforce via gradle's dependency resolution.

Having an option for that is also possible, yep.

[2022-06-12 13:19] HantaoCai commented on #2091
Sir, I want to use info-level logs for data burying, but I don't want to receive issues. Any suggestions?

[2022-06-13 06:14] adinauer commented on #2091
@HantaoCai have you tried to log a message (e.g. using logback or slf4j) with log level info instead of directly capturing the event using `Sentry.captureEvent`?

As @bruno-garcia explained, `<minimumEventLevel>ERROR</minimumEventLevel>` does not have an effect on direct calls to `Sentry.capture...`, only on events that have been picked up from log messages. That's why it doesn't work in your exam

[2022-06-13 07:04] maciejwalkowiak commented on #2090
`java.io.FileNotFoundException: class path resource [ io/sentry/spring/boot/SentryWebfluxAutoConfiguration.class]` indicates that there is something wrong with your classpath.

Try cleaning up the project and make sure that all Sentry related dependencies have the same version.

You may also want to upgrade to Sentry SDK 6.0.

If this does not fix your problem, please post a Github project that re

[2022-06-13 07:21] marandaneto commented on #2089
Yep, we should not override the user-defined dependencies to not force the need of upgrading the Sentry SDK nor the need of removing the Sentry Gradle plugin due to not being compatible.

[2022-06-13 07:26] marandaneto commented on #2089
If the user defined 5.7.0 in its dependencies block (it doesn't matter if its the core package or not, versions should be aligned), we should keep using 5.7.0, if this is technically not possible or too expensive, I'd say we should turn off the auto-install for this use case.
If the user defined the `sentryVersion`, then we respect that.

[2022-06-13 08:01] marandaneto commented on #2091
In case you want to filter out events with a lower level, even for manually captured events using the `Sentry` class, you can set up a `beforeSend` callback https://docs.sentry.io/platforms/java/configuration/filtering/

[2022-06-13 08:37] buckett opened #2092 "Sentry fails to send transaction (payload too large)"
### Integration

sentry-spring-boot-starter

### Java Version

11

### Version

5.4.2

### Steps to Reproduce

We have a batch job that has sentry integration and we annotated the whole job as a `@SentryTransaction` and within that job there are lots of `@SentrySpan` (too many). But we were seeing that in some environments transactions weren't getting sent through. Initially we thought this was an

[2022-06-13 08:39] buckett commented on #2092
On the surface this looks similar to https://github.com/getsentry/sentry-java/issues/910

I'm going to see if we can upgrade to a later Sentry integration and check to see if we get a client report for the dropped event.

[2022-06-13 08:58] adinauer commented on #2092
Hello @buckett starting with `6.0.0` of the Java SDK you should start seeing the number of dropped events etc. in the UI.

Would you require more detail than a simple count of dropped items? Or is having the count good enough to make you aware of an issue and dig on your own (e.g. using `debug=true`)?

Were you able to pinpoint what's causing your large payload?

[2022-06-13 09:00] adinauer commented on #2092
There's a `maxSpans` option that might help if it's just the number of spans causing your problem.

[2022-06-13 09:13] buckett commented on #2092
Ok, the simplest thing for us (to get transactions working again) is to probably just set `maxSpans` as I see it's available: https://github.com/getsentry/sentry-java/blob/3f8d7b1cc869bb056c9db99b459e43f6c375784a/sentry/src/main/java/io/sentry/SentryOptions.java#L1381

For anyone else in the future this might not always be available as integrations don't have to allow this to be set (as outlined o

[2022-06-13 09:32] buckett commented on #2092
One of the events that did successfully get processed (containing 1000 spans) is shown in the web UI as being 458kb!

<img width="1599" alt="Screenshot 2022-06-13 at 10 28 59" src="https://user-images.githubusercontent.com/5921/173323783-d9d47215-c853-494c-a474-01f3a483b035.png">

Most of that is taken up with span data.

The documentation seems to say that there is a 200kb limit for events (https

[2022-06-13 11:31] adinauer commented on #2092
Hmm maybe your span data sometimes makes it, sometimes not depending on how well it compresses.

Are you OK with the `maxSpans` solution?

[2022-06-13 11:38] buckett commented on #2092
Yep. Thanks for your help on this.

[2022-06-13 11:38] #2092 closed

[2022-06-13 14:24] romtsn opened #2093 "Build sample app against AGP matrix on CI"
### Description

Similar to https://github.com/getsentry/sentry-android-gradle-plugin/blob/1deb7a6da144fdf6e55c86634afa9387132ec80c/.github/workflows/test-publish-dry-run.yaml#L15-L40

This would help catch regressions with preview versions of AGP, similar to this one https://github.com/getsentry/sentry-android-gradle-plugin/pull/321#partial-pull-merging

[2022-06-13 22:33] bruno-garcia opened #2095 "DefaultAndroidEventProcessor causes ANR"
Came from a customer: https://getsentry.atlassian.net/browse/MOBILE-257

Only happens on some devices. Probably just some low end devices.

[code]

And:

[code]

Problem seems to be that we call some APIs that can be rather slow.
Potentially we could gracefully degrade by detecting if the device is low end. Or disabling the known possibly slow APIs to become opt-in.

[2022-06-14 04:49] #2086 closed

[2022-06-14 05:15] adinauer commented on #2091
@HantaoCai were we able to help you? Or do you need more help?

[2022-06-14 07:39] marandaneto commented on #2095
It's not slow, it's in a deadlock state.

Similar issues https://issuetracker.google.com/issues/230950647
https://issuetracker.google.com/issues/218444754
https://issuetracker.google.com/issues/204481907
https://stackoverflow.com/questions/60867936/app-process-blocked-at-artconditionvariablewaitholdinglocks-how-to-find-the

I could not find a way to avoid the deadlock since we don't know if we sho

[2022-06-14 07:43] marandaneto commented on #2074
@wukrwurk any news here?

[2022-06-14 08:40] Ramblurr commented on #1859
I'd like to take advantage of the recent changes in 6.0.0 that made `ContainerRequestContext` an interface.

The trouble I'm having is I'm not sure what exactly the string returned should be.

@benallard's solution relies on `ContainerRequestContext` which isn't available inside an implementation of `ContainerRequestContext` (only `HttpServletRequest` is).

I presume there is some way to build the

[2022-06-14 08:52] androideveloper commented on #1707
This is indeed a nice improvement.

With the current setup, what would be the best way to initialize Sentry first? I'm thinking about increasing the initOrder of the content provider `SentryInitProvider`. But also curious, why you don't have it in the code similar to `SentryPerformanceProvider` that is set to 200? Firebase crashlytics has 100 for their content provider.

[2022-06-14 09:25] romtsn opened #2096 "Jetpack Compose Navigation support"
### Description

Add support for Jetpack Compose [Navigation library](https://developer.android.com/jetpack/compose/navigation)

- [x] Collect breadcrumbs for navigation/route changes, capturing from/to arguments as `data` (similar to [flutter](https://github.com/getsentry/sentry-dart/blob/main/flutter/lib/src/navigation/sentry_navigator_observer.dart)) #2116 and #2121
- [x] Capture transactions f

[2022-06-14 09:30] romtsn opened #2097 "Jetpack Compose UI events instrumentation support"
### Description

Add support for Clicks for now, because swipes/scrolls is not that easy to implement for the first version.

- [x] Automatically collect breadcrumbs for clicks
- [x] Automatically start transactions for clicks (the transactions should be idle)

[2022-06-14 09:53] JoyJeck opened #2098 "ERROR: The transport failed to send the envelope with response code 403"
### Integration

sentry-spring-boot-starter

### Java Version

8

### Version

9.1.2

### Steps to Reproduce

ERROR: The transport failed to send the envelope with response code 403
ERROR: Envelope submission failed
 java.lang.IllegalStateException: The transport failed to send the envelope with response code 403
java.lang.IllegalStateException: The transport failed to send the envelope with respo

[2022-06-14 10:53] adinauer commented on #2098
@JoyJeck was this a newly created project? If so can you please give this another try? We were having an issue where newly created projects needed about an hour before events could be received consistently.

I assume this happened today?

[2022-06-14 11:40] Ramblurr opened #2099 "Spring Data Repositories are not instrumented"
### Integration

sentry-spring

### Java Version

11

### Version

6.0.0

### Steps to Reproduce

1. Configure project with `io.sentry:sentry-spring-boot-starter` dependency
2. Configure project to emit instrumentation traces
3. Add `@SentrySpan` to your spring data repository interface type

### Expected Result

All method calls to the spring data repository should emit spans

### Actual Result

[2022-06-14 12:51] adinauer commented on #1859
@Ramblurr Jersey JAX-RS sounds like something that could be a community package. We'd be happy to point customers to your package if you had one.

The transaction name should make sense to the user and should not be something auto generated because transactions are grouped by their name in Sentry. It's often a function name or URL template (e.g. `/posts/{postId}`).

[2022-06-15 03:12] HantaoCai commented on #2091
I have tried this, but I hope that the buried data can be viewed in the sentry system. If I use log.info() to record the buried data, I will not be able to find it in the sentry system, it will only be available in the log file.

[2022-06-15 03:34] HantaoCai commented on #2091
![image](https://user-images.githubusercontent.com/44667064/173731297-75ab59a5-9428-4837-b247-abd0e24645c3.png)
After the configuration like you suggested, the sentry system can't receive any messages, where can I find my buried data in sentry system?

[2022-06-15 04:46] maciejwalkowiak commented on #2091
@HantaoCai Calling `SpringApplication.run` blocks until Spring application shuts down. If you really want to init Sentry manually, you should do it before Spring Boot application starts.

If you prefer to rely on auto configuration, you can also define `SentryOptions.BeforeSendCallback` as a bean and it will be set on Sentry option automatically.

[2022-06-15 05:52] HantaoCai commented on #2091
It doesn't block and can be executed, but not what I expected.

[2022-06-15 06:11] adinauer commented on #2091
@HantaoCai you can either have the events sent to Sentry and show up as issues or filter them in the SDK and not send them to Sentry at all as you did with `beforeSend`.

[2022-06-15 06:20] adinauer commented on #2099
@Ramblurr can you please give `sentry-jdbc` a try?

It'll give you something like this:

[code]

[2022-06-15 06:31] romtsn commented on #1707
I'm not sure why we didn't set the priority, @marandaneto knows probably

[2022-06-15 06:49] marandaneto commented on #1707
It is set, p2

[2022-06-15 06:54] marandaneto commented on #2091
@HantaoCai

That's not possible, either you filter out events and don't send them to sentry or you send them and filter in the dashboard using the discover queries such as `level:error`.
https://docs.sentry.io/product/sentry-basics/search/

[2022-06-15 07:00] romtsn commented on #1707
I meant for the `SentryInitProvider` the `initOrder` is not set, do you know why?

[2022-06-15 07:44] HantaoCai commented on #2091
@marandaneto
Okay, I will choose to ignore the buried data in the Sentry issue.  Thanks for your advice.

[2022-06-15 07:56] adinauer commented on #2091
Closing as it seems you have found a way of working around this. Feel free to reopen if you need more help on this.

[2022-06-15 07:56] #2091 closed

[2022-06-15 12:14] androideveloper commented on #1707
I tried that and it it indeed helps init Sentry provider a bit early. But if we have an app start crash in the next content providers, Sentry doesn't have time to upload the logs. See https://github.com/getsentry/sentry-java/issues/1643

[2022-06-15 14:18] bruno-garcia commented on #2024
Build is about 15 min so already not too bad

[2022-06-15 14:24] bruno-garcia commented on #2025
We decided to add a troubleshooting page entry for this

[2022-06-16 13:19] checkcheckrockrock opened #2104 "SpringBoot Log4j2 log not sending event to Sentry"
### Integration

sentry-log4j2

### Java Version

8

### Version

6.1.0

### Steps to Reproduce

I have issue the with springboot & log4j2 integration the log4j log is not showing in Sentry.

1. Configure project with io.sentry:sentry-spring-boot-starter and sentry-log4j2 dependency https://github.com/checkcheckrockrock/springboot-log4j2-sentry
2. Create simple Rest API to push event to Sentry eg:

[2022-06-16 15:07] maciejwalkowiak commented on #2104
@checkcheckrockrock thanks for providing a sample - it makes it much easier to find out the cause of the problem.

In your particular case - you still have Logback on your classpath, and Log4j configuration just doesn't start.

Make sure to exclude Logback, or in this particular case `spring-boot-starter-logging` from all dependencies that include it. You can get all the details by running `mvn de

[2022-06-16 17:05] vaind commented on #1923
The impact could be a bit higher once `dependabot` supports it: https://github.com/dependabot/dependabot-core/issues/3121

[2022-06-17 01:38] checkcheckrockrock commented on #2104
Hi @maciejwalkowiak , thank you for your suggestion. The project able to send the log event to Sentry already.

[2022-06-17 01:38] #2104 closed

[2022-06-17 02:27] ckrgithub commented on #523
@arielesc Hi! I have a similar problem. my log:
`
2022-06-16 18:08:35.858 Sentry: Envelope submission failed
    java.lang.IllegalStateException: Sending the event failed.
        at io.sentry.transport.AsyncHttpTransport$EnvelopeSender.flush(AsyncHttpTransport.java:274)
        at io.sentry.transport.AsyncHttpTransport$EnvelopeSender.run(AsyncHttpTransport.java:197)
        at java.util.concurren

[2022-06-17 02:36] ckrgithub opened #2106 "ConnectException"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

7.0.4

### Proguard

Enabled

### Version

6.1.0

### Steps to Reproduce

my code:

        Sentry.captureMessage("testing SDK setup");
        try {
            throw new Exception("This is a test.");
        } catch (Exception e) {
            Sentry.captureException(e);
        }

        <meta-data android:name="io.sen

[2022-06-17 06:28] philipphofmann commented on #2024
5 minutes would be better 😁

[2022-06-17 06:29] philipphofmann commented on #2101
Yes, indeed.

[2022-06-17 07:47] maciejwalkowiak commented on #2104
Great! Happy to help @checkcheckrockrock

[2022-06-17 08:35] romtsn commented on #2096
It'd be awesome to expand this to support Compose desktop/web as well, but the Jetpack Navigation lib only supports Android at the moment (see issue for tracking it https://github.com/JetBrains/compose-jb/issues/85), so the best we can have now is just UI breadcrumbs/tracing for compose desktop.

[2022-06-17 16:41] bruno-garcia commented on #2095
Resolved on 6.1.1 and troubleshooting page added: https://github.com/getsentry/sentry-docs/pull/5170

[2022-06-17 16:41] #2095 closed

[2022-06-17 17:38] bruno-garcia commented on #2024
5 seconds even better :trollface:

[2022-06-17 18:55] herriojr opened #2108 "RootChecker Causes CTS Failure"
### Integration

sentry-android

### Build System

Other

### AGP Version

Not the issue

### Proguard

Enabled

### Version

5.6.3

### Steps to Reproduce

Build sentry into an application which is included in an android system image. Watch it fail CTS due to RootChecker. We need a way to not include the RootChecker code at all.

Unfortunately, removing and replacing a class from a dependency has

[2022-06-18 21:54] wukrwurk commented on #2074
@marandaneto @adinauer sorry for a delayed response guys and thanks for looking into this.

Yes the issues is not only in the warning message, web apps consumes a lot of memory. So much that we had to disable it in all our services. We have a bunch(~20) of spring boot services under tomcat9 management and those that have sentry were gobbling memory.

[2022-06-19 08:52] romtsn commented on #2108
Hey, sorry, I'm not familiar with developing custom ROMs. What code exactly causes the problem? It cannot be the entire class, right, is it the ctor of RootChecker?

I'm also not sure if we ever meant to support this case (@marandaneto wdyt?), so you are probably better off doing it yourself. You could:
* Strip out this class if you are using R8 or Proguard
* Checkout the sentry-java repo, customi

[2022-06-19 16:32] herriojr commented on #2108
I'm not against stripping it but it relies on the code using it to handle the class not existing. If that's already there, I'll use that. I was trying to avoid forking the project. Basically CTS checks for things that could potentially be trying to gain root privs. Hence the class is flagged because it is scanning for su.

[2022-06-20 05:35] adinauer commented on #2074
@wukrwurk thanks for the info, we'll look into this but can't say yet if we'll be able to fix this quickly or if it would require bigger changes to how the SDK works. We'll update this issue once we know more.

[2022-06-20 05:58] marandaneto commented on #2108
@herriojr by CTS do you mean https://source.android.com/compatibility/cts ?
Right now the only option is to remove the `DefaultAndroidEventProcessor`, ideally `RootChecker` would have an interface that you can override or a flag that enables or disable this behavior, such as `SentryAndroidOptions#checkDetection` or something.
@herriojr would you like to submit a PR adding such a flag?

[2022-06-20 06:05] marandaneto commented on #2095
I don't think so, this is an edge case and we've not gotten from anyone else so far.

[2022-06-20 06:17] romtsn commented on #2108
I think this class should be moved into a separate module even. As I understood, the problem is that it exists on the classpath, CTS does not check whether it's used or not.

[2022-06-20 06:17] marandaneto commented on #2106
@ckrgithub

You have to check the `dsn`, if your device can reach your self-hosted sentry, this is not an SDK issue.

[2022-06-20 06:17] #2106 closed

[2022-06-20 13:13] adinauer opened #2112 "Flaky ApacheHttpClientTransportTest Test"
### Integration

sentry

### Java Version

11

### Version

6.1.1

### Steps to Reproduce

Run tests on CI

### Expected Result

No failure

### Actual Result

Flaky test

[code]

[2022-06-20 13:13] adinauer opened #2113 "Flaky ApacheHttpClientTransportTest Test"
### Integration

sentry

### Java Version

11

### Version

6.1.1

### Steps to Reproduce

Run tests on CI

### Expected Result

No failure

### Actual Result

Flaky test

[code]

[2022-06-20 13:23] philipphofmann commented on #2112
Isn't this a duplicate of https://github.com/getsentry/sentry-java/issues/2113, @adinauer?

[2022-06-20 13:34] adinauer commented on #2112
Thanks, guess my browser wanted to have this twice

[2022-06-20 13:34] #2112 closed

[2022-06-20 13:54] marandaneto opened #2115 "Lazily create `Timer` to avoid creating not needed threads"
### Description

ThreadPools> 12887 total threads. Threadpools with more than 5 threads:  Timer (12711 threads)

Which led to:

app/worker.7 java.lang.OutOfMemoryError: unable to create new native
app/worker.7     at java.lang.Thread.start0(Native Method)
app/worker.7     at java.lang.Thread.start(Thread.java:719)
app/worker.7     at java.util.Timer.<init>(Timer.java:176)
app/worker.7     at java.

[2022-06-20 14:16] #1961 closed

[2022-06-21 00:27] herriojr commented on #2108
Yes, that's correct. It would need to be a different module that could be
excluded without crashing.  I can whip something up when I get a chance.

On Sun, Jun 19, 2022, 11:17 PM Roman Zavarnitsyn ***@***.***>
wrote:

[2022-06-21 12:03] welniak opened #2119 "Setting the user on a non-main thread does not work"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

7.0.4

### Proguard

Enabled

### Version

5.6.1

### Steps to Reproduce

1. Create a user object with an id and set it by calling `Sentry.setUser` from a thread that is not the main thread.
2. Observe the events sent to sentry.

### Expected Result

The user info is correctly set and sent to sentry along with the event or

[2022-06-21 12:35] adinauer commented on #2074
We'll try to reduce the pain of this by implementing https://github.com/getsentry/sentry-java/issues/2079

[2022-06-21 12:35] #2074 closed

[2022-06-22 05:36] adinauer opened #2123 "Some callbacks do not have their Exceptions caught yet"
### Integration

sentry

### Java Version

any

### Version

6.1.2

### Steps to Reproduce

There are multiple places where an Exception thrown by a callback is not caught.

- `SentryAndroid.init` param `Sentry.OptionsConfiguration<SentryAndroidOptions> configuration`
- Local scope callback for `captureX` methods with param `ScopeCallback callback`
- *... there's probably more*

### Expected Resul

[2022-06-22 07:56] romtsn opened #2124 "Use @JvmOverloads for Kotlin Classes' ctors for java-interop"
### Description

We used to manually create ctor overloads, but we could actually use [@JvmOverloads annotation](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.jvm/-jvm-overloads/) which would generate the overloads for us.

[2022-06-22 08:55] romtsn opened #2125 "Switch to compileOnly dependencies for integrations"
### Description

At the moment we declare all integration dependencies (e.g. okhttp for sentry-okhttp-intreceptor) as `implementation`. This means we are potentially overriding user-defined dependencies, if they use an older version of okhttp. We should switch those dependencies to be `compileOnly` so at runtime we'd actually use what user has defined in their deps.

We should cautious about incom

[2022-06-22 09:10] marandaneto opened #2126 "Bump minAPI to 19"
### Description

![Screenshot 2022-06-22 at 11 08 59](https://user-images.githubusercontent.com/5731772/174990874-fa1283f7-850f-4636-9bdf-2a060c6c9256.png)

Remove workaround for API 14-16 https://docs.sentry.io/platforms/android/using-ndk/#api-level-lower-than-16
Add breaking change entry to migration docs.

[2022-06-22 09:12] romtsn commented on #2119
Hm, from a quick look I can't spot the problem, maybe @marandaneto or @bruno-garcia have ideas?

[2022-06-22 10:04] marandaneto commented on #2125
We could also run a matrix test with all the supported major or minor versions, so we know that we don't introduce breaking changes as well.

[2022-06-22 10:09] marandaneto commented on #2119
There's a single Hub and single Scope, this should not be a problem at all, @welniak can you give us a minimal reproduction example? thanks.

[2022-06-22 12:34] adinauer commented on #2037
Wouldn't that be prone to concurrency issues?

[2022-06-22 14:19] adinauer commented on #2056
We could reuse what @stefanosiano has done for testing the Java and C layer and write an integration test that runs on Sauce Labs or emulator.

[2022-06-23 08:22] heiyl opened #2128 "cold start"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

6.8

### Proguard

Enabled

### Version

6.0

### Steps to Reproduce

Android正常接入sentry

### Expected Result

上报到performance中的cold start 冷启动时间只有App的第一个启动页面能统计到

### Actual Result

上报到performance中的cold start 冷启动时间目前好多Activity都能统计到，这个不符合统计文档中冷启动的定义。
![image](https://user-images.githubusercontent.com/5343411/175252202-409f2f6

[2022-06-23 09:58] romtsn commented on #2128
hey, sorry you're having troubles. Are you using sentry self-hosted? We recently removed this feature in the latest version to avoid the confusion, could you update it?

[2022-06-23 12:07] adinauer commented on #2113
Quick fix, up the timeout from `100` to something higher.

[2022-06-23 13:13] adinauer opened #2130 "Reuse Timer instance"
### Description

Every creation of a `Timer` spawns a new thread. We should try to reuse an instance if possible.

[2022-06-23 13:15] adinauer commented on #2115
For later we can try to reuse timer, created an issue for it here https://github.com/getsentry/sentry-java/issues/2130

For now we'll try to send a PR soon to only create the `Timer` if needed.

[2022-06-23 13:30] adinauer commented on #2115
Our assumption is that `LifecycleWatcher` only exists once and thus only creates a single thread on Android.

For `SentryTracer` we have a PR coming soon to only instantiate the `Timer` if `idleTimeout` is set for the `SentryTracer` and also call `cancel` on the timer when the transaction is finished.

[2022-06-23 13:55] adinauer commented on #2115
Even after the PR there might still be a problem on Android when lots of different gestures are started as each of them will then also create a new `Timer` (and thus a new thread). This should be fixed with #2130 .

[2022-06-23 14:09] marandaneto commented on #2115
Yes, it's much less of a problem, but no need to create the timer if the `enableSessionTracking` feature is disabled.

[2022-06-23 15:27] #2115 closed

[2022-06-23 16:22] philipphofmann commented on #2037
I don't really understand your question. Can you please elaborate?

[2022-06-24 02:39] ckrgithub opened #2132 "Sending event succeed, but not show up on the Sentry Issues"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

7.0.4

### Proguard

Enabled

### Version

6.1.0

### Steps to Reproduce

my code:

        Sentry.captureMessage("testing SDK setup");
        try {
            throw new Exception("This is a test.");
        } catch (Exception e) {
            Sentry.captureException(e);
        }

        <meta-data android:name="io.sen

[2022-06-24 06:27] marandaneto commented on #2125
We already do that, we rarely upgrade our transitive dependencies unless it's needed due to security issues and so on.

[2022-06-24 06:29] marandaneto commented on #2123
Actually, it's the opposite, by swallowing the exception during eg `beforeSend`, we make sure that events get sent.

[2022-06-24 06:32] adinauer commented on #2037
Depending on how you want to to this, there might be multiple builds trying to write their result to the file at the same time. Not sure we need to write every result and commit hash, maybe latest result is enough. Could write that to a file named after the branch so this wouldn't only work for master but maybe also for long lived branches like we had with `6.0`.

[2022-06-24 06:43] marandaneto commented on #2037
That's not a problem, PRs are isolated in a different branch, and even if uploading this file somewhere, let's say using `actions/upload-artifact`, we could use a file name that avoids that.
PRs only read from `main` as well, unless it gets merged with newer baselines.

[2022-06-24 06:43] romtsn commented on #2132
are you using Sentry self-hosted or SaaS? If SaaS - we had an incident recently in event processing, could you retry it?

[2022-06-24 06:48] romtsn opened #2133 "Switch from empty AndroidManifest to namespace"
### Description

AGP will not allow using `package` attribute on an empty AndroidManifest starting from [version 8.0](https://issuetracker.google.com/issues/200682321) (we use it a lot, since we publish android libraries without UI). We should specify a `namespace` attribute in the `android { }` Gradle DSL instead.

Some automation script on how to do it:
https://twitter.com/JakeWharton/status/154

[2022-06-24 07:37] romtsn commented on #1994
probably `idleTimeout` can also be moved to AndroidOptions since it's kind of a UI-relevant thing - backend probably won't ever need it

[2022-06-24 08:27] marandaneto commented on #1994
Java desktop apps would use it, so I'd rather keep it.

[2022-06-24 23:17] bruno-garcia commented on #2126
https://developer.android.com/studio/releases/platforms#4.1

[2022-06-27 09:31] buckett opened #2139 "Send client reports on Sentry.close"
### Problem Statement

I think that as outlined in https://develop.sentry.dev/sdk/client-reports/ reports are attached to existing envelopes that are sent to sentry.

Our problem is that in some of our uses of sentry the JVM is running a "job" and after completing the "job" the JVM exits. We are seeing a problem sending a transaction to sentry (because it's too large), but after that failure the J

[2022-06-27 09:51] philipphofmann commented on #2125
Switching to `compileOnly` and checking at runtime which version is available, could mean that we break the user at runtime though which is bad IMO. So I don't really get the benefit. Why not just keep it as is?

[2022-06-27 09:54] philipphofmann commented on #2133
@romtsnl, can you maybe add the most important info for this issue here and mention the link as a resource? The tweet could disappear and then the info is lost.

[2022-06-27 10:01] marandaneto commented on #2125
@philipphofmann the SDK should degrade gracefully if the desired lib isn't in the classpath.
We'd like to keep the App's direct dependency and not rely on Gradle's dependency resolution that can pick up the wrong version or override the user's defined version.
If let's say they want to use our `okhttp` integration, the minimum they have to do is to also have a dependency to the `okhttp` library th

[2022-06-27 13:21] rauldeheer commented on #1984
Any news on this? We are currently running Spring Boot v3-M3 and we are unable to use the Sentry SDK at this time.

[2022-06-27 19:28] romtsn opened #2140 "Switch to convention plugins for build logic"
### Description

At the moment we have a lot of repeating config for our modules (e.g. setting up `android {}` DSL or setting up static code analysis, etc.), we could use Gradle's [convention plugins](https://docs.gradle.org/current/samples/sample_convention_plugins.html) to centralize this logic, so the configuration could happen by just applying one of our plugins.

[2022-06-28 06:38] adinauer commented on #1984
@rauldeheer we don't have a schedule for this yet, it's very high on the backlog though.

[2022-06-28 07:42] marandaneto commented on #2130
Investigate the ExecutorService -> https://github.com/getsentry/sentry-java/issues/2115#issuecomment-1164459003

[2022-06-28 08:07] philipphofmann commented on #2139
By design, client report is a best-effort feature, see https://develop.sentry.dev/sdk/client-reports/#scope-and-intent

We don't expect the numbers to be 100% accurate. Anyways, I think it wouldn't harm if send outstanding client reports when calling `Sentry.close()`. What do you think @adinauer, @mattjohnsonpint?

Then you could hook it up yourself. Would that work for you, @buckett?

[2022-06-28 08:27] buckett commented on #2139
Completely get that it's a best efforts approach (and FWIW think that's the way to go), but I wanted to highlight that if it's not a long running process failing errors may well not get reported to Sentry.

Yeah, flushing any outstanding clients reports on `Sentry.close()` seems like a good approach to me.

[2022-06-28 10:13] adinauer commented on #2139
Sending client reports on `Sentry.close()` sounds like a good improvement to me.

@buckett as a workaround until we get around to improving this, you could try generate a dummy event, so the client report is sent alongside that before shutdown happens.

[2022-06-28 18:57] mattjohnsonpint commented on #2139
FYI, I added this to the .NET SDK and found it better to implement when flushing the queue.  Just afterwards, to account for discarded events while flushing (rate limiting, etc.).  Not sure if you'll encounter the same in Java.
See https://github.com/getsentry/sentry-dotnet/pull/1757

[2022-06-29 06:32] ckrgithub opened #2142 "https://sentry.io/ often fail to open"
### Description

![image](https://user-images.githubusercontent.com/18225851/176365805-bd777fa8-6ebe-4a49-a4d6-e39d4fb6b973.png)

[2022-06-29 07:43] philipphofmann commented on #2142
Hey @ckrgithub, this has nothing to do with the Java SDK. I'm transferring this issue.

Could you please provide us with more info on how we could reproduce this? When does this happen?

[2022-06-29 11:57] adinauer opened #2143 "Flaky SentryTracerTest"
### Description

[code]

[2022-06-29 12:18] #2096 closed

[2022-06-29 12:23] philipphofmann commented on #2119
@welniak, any update from your side ⬆️ ?

[2022-06-29 12:25] philipphofmann commented on #2132
@ckrgithub, any updates on this one? ⬆️

[2022-06-29 14:01] adinauer opened #2144 "Track correct App Startup for compose"
### Description

Came up here https://github.com/getsentry/sentry-java/issues/2071#issuecomment-1160221040

`onResume` seems to be called too early for Compose which leads to a wrong number for the startup time.
We should try and give the real number.

[2022-06-29 14:22] adinauer commented on #2108
We understand this is inconvenient for you but it's not something we're looking to add. Please feel free to fork the SDK and e.g. make the RootChecker a NOOP.

[2022-06-29 14:22] #2108 closed

[2022-06-30 07:56] romtsn commented on #1542
This is closed by #2136

[2022-06-30 07:56] #1542 closed

[2022-06-30 13:10] adinauer opened #2148 "Send request payload in Apollo integrations"
### Problem Statement

Currently the request payload is not sent by Apollo (v2 and v3) integrations. We should send it up to https://docs.sentry.io/platforms/java/configuration/options/#max-request-body-size

### Solution Brainstorm

Take a look at other initegrations that already send the request body.

[2022-06-30 13:19] adinauer opened #2149 "Apollo v2 BeforeSpanCallback does not allow returning `null`"
### Integration

sentry-apollo

### Build System

Gradle

### AGP Version

-

### Proguard

Disabled

### Version

6.1.4

### Steps to Reproduce

https://github.com/getsentry/sentry-java/blob/524ee49b212c3f2eead20960c3c6825ccdbf8007/sentry-apollo/src/main/java/io/sentry/apollo/SentryApolloInterceptor.kt#L150

### Expected Result

Can return null by changing the return signature to `ISpan?`
In case

[2022-06-30 14:04] adinauer commented on #2098
We're closing this for now, if you have any news, feel free to reopen.

[2022-06-30 14:04] #2098 closed

[2022-06-30 15:05] adinauer commented on #2149
We can also do on the next major to avoid breakages.

[2022-07-01 08:05] heiyl commented on #2128
你们是在6.1.4版本关闭了上报冷启动统计的功能吗？因为这个针对启动性能的监听对我们是有用的，这个不能开启修复吗？

[2022-07-01 09:01] romtsn commented on #2128
It has nothing to do with the Android SDK version, but rather with your Sentry self-hosted version. We still report the cold/warm startup time for the first screen in your app, you can see it in multiple places:

1. On the Performance overview page, there are multiple widgets for this:
<img width="1565" alt="image" src="https://user-images.githubusercontent.com/4999776/176861779-b3cc5d21-1533-45bb

[2022-07-01 09:52] heiyl commented on #2128
感谢您的回答，我提的这个问题是由于sentry托管的版本太低的原因吗？
因为我初始化SDK时是在Application的onCreate()中初始化的，我排查了代码，由于Sentry的初始化参数我这里是通过接口请求下发的，下发后我又进行了初始化，我发现多次初始化，导致了冷启动的标识不准确了，这里我进行了优化，只在Application的onCreate()中初始化，以避免冷启动统计有问题。

[2022-07-01 09:54] romtsn commented on #2128
Yes, you should update the self-hosted version to the latest to get the aforementioned changes

[2022-07-01 09:54] heiyl commented on #2128
好的，谢谢！

[2022-07-01 09:57] romtsn commented on #2132
I suspect the issue is either on your device or your Sentry self-hosted instance if you're using it, otherwise we'd have many reports from other clients I'd assume. Please reopen with a minimal reproducible example if it's still a problem on our side.

[2022-07-01 09:57] #2132 closed

[2022-07-04 08:05] maciejwalkowiak commented on #2099
@Ramblurr adding `@SentrySpan` on the top of the repository interface will add span around each method invocation - both those declared in the interface and ones that are inherited from parent interface (like `CrudRepository`). The invocation must happen during already running transaction (like an HTTP request processed by Spring MVC).

Please find a repository with a test simulating instrumenting

[2022-07-04 08:05] #2099 closed

[2022-07-04 11:43] marandaneto opened #2150 "Support `measurement.unit`"
### Description

https://develop.sentry.dev/sdk/event-payloads/transaction/

[code]

`MeasurementValue` class `serialize` and `deserialize` should add support for it, it's currently losing its unit from Hybrid SDKs

[2022-07-04 13:04] marandaneto opened #2151 "`JsonObjectReader#nextList` ideally is renamed to `nextListOrNull` in case the list is empty or invalid"
### Description

[code]

Currently, an empty list that is deserialized via `nextList` throws if the list is empty or invalid.
The logger is `Failed to deserialize object in list.`
The SDK degrades gracefully but we should not set the error level to `ERROR` in this case, either we do `DEBUG` or not log at all if the list is empty.
Users might understand that there's something wrong but there's not.

[2022-07-06 07:20] vibin opened #2153 "ANR in HostnameCache.updateCache while initialising SDK"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

7.0.4

### Proguard

Enabled

### Version

5.7.4

### Steps to Reproduce

Initialise the SDK

### Expected Result

SDK to initialise without causing any ANR.

### Actual Result

ANR is thrown during initialisation.

ANR type: background ANR
OS: Android 10 and 11

[code]

Sentry init configuration:

[code]

[2022-07-07 07:46] ia3andy opened #2155 "Invalid reflection config referencing a legacy constructor"
### Integration

sentry

### Java Version

11, 17

### Version

6+

### Steps to Reproduce

See https://github.com/quarkiverse/quarkus-logging-sentry/issues/62

### Expected Result

Should work in native

### Actual Result

Exception:
[code]

[2022-07-07 09:35] vibin commented on #2153
@philipphofmann  According to Crashlytics, this is happening for 0.035% of our DAU. But, Crashlytics only tracks ANRs in Android 10 and 11.

I'm not able to reproduce this issue, so not sure of the conditions (but it's only happening in background, in production)

[2022-07-07 16:03] philipphofmann commented on #2155
@ia3andy, when exactly do you get the error? When you start the SDK?

[2022-07-07 16:47] ia3andy commented on #2155
@philipphofmann in Quarkus at build time. You should have a look at the issue:
https://github.com/quarkiverse/quarkus-logging-sentry/issues/62

[2022-07-08 09:32] Hobart2967 commented on #620
+1

[2022-07-08 10:38] romtsn commented on #2155
yeah the empty ctor doesn't exist anymore, the graalvm config should be updated I guess. Idk a thing about it, but is it auto-generated or manually? maybe we could add a task that generates it, similar to apiDump and apiCheck to prevent this in the future.

[2022-07-08 10:47] romtsn commented on #2153
`future.get()` is indeed a blocking call - but do we even need it @marandaneto? It's gonna always return `localhost` for an android device anyway (at least from my tests), so perhaps we can just have const here or drop it altogether for Android?

[2022-07-08 11:41] hari-ram-s opened #2159 "Unable to send custom tags with an issues"
### Description

**Integration:** Sentry spring boot starter
**Sentry version:** 3.1.1

We are using Java and trying to send custom tags to Sentry exceptions. I referred to this [document](https://docs.sentry.io/platforms/java/enriching-events/tags) for sending custom tags. But, my exceptions (issues) in Sentry UI do not have the tag that I sent. Here is how my code looks.

[code]

Then I tried to

[2022-07-08 12:00] marandaneto commented on #2153
This is only read if `attachServerName` is enabled, Android sets `setAttachServerName(false);` by default, are you sure its coming from there?

[2022-07-08 12:07] romtsn commented on #2153
hm, it was definitely hitting the debug breakpoint for me, will re-check

[2022-07-08 13:02] romtsn opened #2160 "Use Dokka for publishing javadoc for Kotlin"
### Description

At the moment, the kotlin-only modules publish javadoc, but it's empty, since we haven't set up Dokka (can also notice here http://getsentry.github.io/sentry-java/ no kotlin-first modules)

[2022-07-11 14:13] hari-ram-s commented on #2159
Hi @philipphofmann, I updated the version to 6.1.4 and tried again in my local. Still the same issue. Tried both the code snippets mentioned above.

[2022-07-12 11:39] romtsn commented on #2153
So it's actually being called, because `SentryAndroidOptions` ctor calls to `SentryAndroid` ctor **before** we `setAttachServerName(false)` and then it calls all the way to HostnameCache through the MainEventProcessor:

https://github.com/getsentry/sentry-java/blob/99ade316db7ab77f9e888a5f2115e861eb6ff304/sentry/src/main/java/io/sentry/SentryOptions.java#L1709
https://github.com/getsentry/sentry-j

[2022-07-12 11:55] adinauer commented on #2153
@romtsn we're also closing the `hostnameCache` and checking if it's closed in `MainEventProcessor` so we'd have to keep the `hostnameCache` field, remove it from ctor and assign it lazily when we need it. If that's what you're suggesting, sounds good to me.

[2022-07-12 12:00] romtsn commented on #2153
yeah, we should keep the field 👍

[2022-07-12 12:08] hari-ram-s commented on #2159
Any update on this @philipphofmann? Are we sending tags the right way?

[2022-07-12 17:17] bruno-garcia opened #2169 "Flaky test `SentryTracerTest - idle transaction with children`"
### Description

https://github.com/getsentry/sentry-java/runs/7306389891?check_suite_focus=true

[code]

[2022-07-12 17:25] romtsn commented on #2169
dupe of #2143

[2022-07-12 17:25] #2169 closed

[2022-07-12 17:49] romtsn commented on #2125
Unfortunately, this is not possible, because our integrations extend from the deps classes:
[code]
So the class verification check will fail even before hitting our code, resulting in `NoClassDefFoundError`.  I still think it should be fine though, because if they don't have an okhttp dependency, they don't  have an OkHttpClient to attach our interceptor to.

[2022-07-13 08:32] hari-ram-s commented on #2159
Enabled debugging and I guess I'm able to figure out what's going on. And FYI, I'm using spring boot's @ExceptionHandler to handle all the exceptions in one place.

Here is what happens in the background.

1. The moment I throw the exception, I get the below logs.
[code]
2. In my ExceptionHandler class, I am setting a custom tag and capturing the event (as described in the issue description). Now,

[2022-07-13 09:45] maciejwalkowiak commented on #2159
@hari-ram-s do you use `sentry-spring-boot-starter` dependency and `SentryAutoConfiguration` for Spring Boot? Do you use integration with any of the logging frameworks? Or you just rely on the `sentry` module and write all the integrations by yourself? Since this event is considered as duplicate:

[code]

it means that something else is already reporting this exception.

It would be great if you c

[2022-07-13 13:49] romtsn commented on #2119
@welniak thanks a lot for the details, we will look into this in the near future (no ETA though). And sorry for the delays.

[2022-07-13 13:55] romtsn commented on #2124
We need to make sure that the JvmOverloads is enough and properly generates the overloads.

https://stackoverflow.com/questions/46023983/how-default-argument-and-jvmoverloads-work-on-kotlin

[2022-07-14 06:05] hari-ram-s commented on #2159
@maciejwalkowiak as mentioned, I am using sentry-spring-boot-starter. I think Sentry is falsly considering these exceptions as uncaught exceptions. I even tried disabling `enable-uncaught-exception-handler`. But that didn't help.

I have created a bare minumum setup that only has `sentry-spring-boot-starter` dependency. Here it is - https://github.com/hari-ram-s/demo-sentry

**Steps to reproduce:-

[2022-07-14 08:23] #2153 closed

[2022-07-14 12:23] #2155 closed

[2022-07-14 13:09] maciejwalkowiak commented on #2159
@hari-ram-s thanks for a sample! Once I upgrade your sample to Sentry SDK 6.2.1, the behaviour is correct and the exception with a tag added in the advice is reported to Sentry.

Look at the console output below:

[code]

Could you please try again with the latest SDK? Maybe there is something else missing in the sample?

To consider as an alternative to capturing errors manually is configuring an

[2022-07-15 09:11] hari-ram-s commented on #2159
Hey @maciejwalkowiak, thanks for the effort. I’m able to get the desired result now with version 6.2.1.

Just a quick question regarding the version update. We have a lot of teams and projects in our org using Sentry. Will I run into any issues if the Sentry SDK version between those projects doesn’t match?

[2022-07-15 13:15] maciejwalkowiak commented on #2159
As long as they are not on the same classpath - no. Each separate application can use different SDK version and there won't be any issue. But of course we would recommend staying more or less up to date :)

[2022-07-15 13:15] #2159 closed

[2022-07-18 08:56] #2125 closed

[2022-07-19 04:57] #1850 closed

[2022-07-19 06:09] robertocapah commented on #1862
hey @dlew can you please explain more details. I already put in Manifest file
`<meta-data android:name="io.sentry.auto-init" android:value="false" />`. I assume that I already disable auto-init sentry
but the ANR from crashlytic report remain the same.

[2022-07-19 11:32] dlew commented on #1862
@robertocapah I don't have much to add - all we did was add that to the manifest and it fixed our problem. You may have a different problem than we encountered.

Two random ideas you could try...

- You could check [the manifest merger](https://developer.android.com/studio/build/manage-manifests#inspect_the_merged_manifest_and_find_conflicts) to see if maybe you've got some hijinks re-adding auto-

[2022-07-19 12:07] romtsn opened #2177 "Report app start more granularly"
### Description

The app start actually consists of multiple steps (e.g. process creation, bindApplication, etc.), so we could potentially create spans for each of this steps to give more insights for the users on where exactly can they optimize (e.g. system things like process creation cannot be optimized).

Prior art https://github.com/square/papa/blob/db3128e211a3cd916083d87d1d7eeac8cf8b8a56/pa

[2022-07-19 20:16] romtsn commented on #2025
So this was actually resolved by #2175 as we declare the transitive dependencies as compileOnly now, and will use whatever the user has defined in their app at runtime, so this problem will not appear anymore.

[2022-07-19 20:16] #2025 closed

[2022-07-20 02:05] jimmy384 opened #2178 "spring.factories problem with low version spring-boot"
### Integration

sentry-spring-boot-starter

### Java Version

8

### Version

6.1.4

### Steps to Reproduce

There is an extra space character in sentry-spring-boot-starter/spring.factories
I have a historical project use spring-boot 2.0.1. There is an exception thrown when startup.

[code]

It seems low version spring-boot don't trim line in spring.factories. It works in high version spring-boot

[2022-07-20 09:38] philipphofmann commented on #2177
On Cocoa, we already do that. Maybe worth having a look before starting to implement this https://docs.sentry.io/platforms/apple/performance/instrumentation/automatic-instrumentation/#app-start-instrumentation.

[2022-07-22 07:44] marandaneto commented on #1303
We could also give it a try with https://github.com/Tencent/matrix/tree/master/matrix/matrix-android/matrix-apk-canary

[2022-07-22 09:50] nienienienie opened #2182 "Why sentry reports ANR as level: error"
### Integration

sentry-android

### Build System

Gradle

### AGP Version

7.2.1

### Proguard

Enabled

### Version

5.0.2

### Steps to Reproduce

1. get ANR on Android

### Expected Result

ANR is more like fatal level to me, not error level.

Maybe it should be possible to have 3rd level:
- error
- anr
- fatal

### Actual Result

sentry shows
[code]
with level: error

[2022-07-22 10:19] philipphofmann commented on #2182
We mark errors as fatal if your app can't recover and crashes. When an ANR occurs, your app doesn't necessarily crash and can recover from that.

[2022-07-22 10:19] #2182 closed

[2022-07-22 11:29] maciejwalkowiak commented on #1984
Current state of investigation:

Our current artifacts that depend on `javax` can be transformed to Jakarta namespace with [Eclipse Transformer](https://github.com/eclipse/transformer).

Manual step by step guide:

1. Download & unzip [Eclipse Transformer CLI distribution](https://repo1.maven.org/maven2/org/eclipse/transformer/org.eclipse.transformer.cli/0.5.0/org.eclipse.transformer.cli-0.5.0-dis

[2022-07-22 13:45] maciejwalkowiak commented on #1984
I played with `jakarta-transformer-plugin` and came up with following that I believe should work (but it doesn't):

1. Create a new module `sentry-spring-jakarta` with following `build.gradle`:

[code]

Unfortunately, calling from the module directory:

[code]

results in:

[code]

This for now ends my investigation - I think it's clear that if we want to pursue publishing artifacts for both `java

[2022-07-22 14:01] maciejwalkowiak commented on #1984
New module is committed to branch: https://github.com/getsentry/sentry-java/tree/gh-1984

[2022-07-22 18:12] sbartram opened #2183 "NoSuchElementException in CircularFifoQueue from SentryScheduleHook"
### Integration

sentry-spring

### Java Version

11

### Version

5.7.4

### Steps to Reproduce

Occasionally in our deployed webapp, we see this exception.  The stack trace is provided in the Actual Result section.

`java.util.NoSuchElementException at io.sentry.CircularFifoQueue$1.next(CircularFifoQueue.java:357)`

**Note**: we are configured to run Sentry with global hub mode enabled

### Expe

[2022-07-25 13:28] marandaneto opened #2185 "`attach-screenshot` on manual Android init"
### Description

If you enable the flag using the [manifest config](https://docs.sentry.io/platforms/android/enriching-events/screenshots/) it works.
If you flip the flag using the Manual init of the Android SDK, it does not.
The reason is that we don't call `registerActivityLifecycleCallbacks` because `isAttachScreenshot` returns false when the event processor is created, the user configuration i